:root {
    /* Color Pallete */
    --dark-color:#29282b;
    --deep-color:#101c42;
    --deep-color-h:#364574;
    --first-color:#494b4d;
    --first-color-h:#333335;
    --first-color-alpha:#494b4d11;
    --second-color:#e69a17;
    --third-color:#705d56;
    --fourth-color:#6d7677;
}