:root {
    /* Color Pallete */
    --dark-color:#072100;
    --deep-color:#101c42;
    --deep-color-h:#000000;
    --first-color:#386a1f;
    --first-color-h:#205106;
    --first-color-alpha:#386a1f11;
    --second-color:#e69a17;
    --third-color:#705d56;
    --fourth-color:#32577a;
}