:root {
    /* Color Pallete */
    --dark-color:#101c42;
    --deep-color:#405189;
    --deep-color-h:#364574;
    --first-color:#845ae0;
    --first-color-h:#6a48b3;
    --first-color-alpha:#F7F4FD;
    --first-color-alpha-h:#E6DEF9;
    --second-color:#ff710a;
    --third-color:#00b031;
    --fourth-color:#076aff;
}


