/* fullCalendar js */
.fc.fc-direction-ltr {
    height: 100%;
    .fc-toolbar.fc-header-toolbar {
        height: 68px;
        padding: 0 12px;
        background: var(--btn-point-color-h);
        margin-bottom: 16px;
    }

    .fc-toolbar-title {
        font-size: 14px;
        width: 140px;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
        color: #fff;
    }

    .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk {
        display: flex;

        > div {
            display: flex;
        }
    }

    .fc-button {
        font-size: 14px;
    }

    .fc-toolbar.fc-header-toolbar .fc-button {
        height: 36px;

        &.fc-prev-button,
        &.fc-next-button {
            border: 0;
        }
    }
}
.fc-view-harness {
    margin: 0 16px 16px;
}
.fc-theme-standard {
    td {
        font-size: 14px;
        &.fc-day-other {
            background:#f9f9f9;
            .fc-event {
                opacity:.3;
            }
        }
    }
    th {
        font-size: 14px;
        height: 30px;
        vertical-align: middle;
    }
    .fc-event-main {
        color: #555;
        background: transparent;
        border: 0;
        height: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* daygrid  */
    .fc-h-event {
        background: transparent;
    }
    .fc-daygrid-day-top {
        flex-direction: row;
        .fc-daygrid-day-number {
            font-size: 12px;
            color: #555;
        }
    }
    .fc-daygrid-more-link {
        font-size: 11px;
        letter-spacing: -0.025em;
    }
    .fc-daygrid-event-harness {
        padding: 2px;
    }
    .fc-daygrid-event {
        border: 0;
        height: 24px;
        box-shadow: inset 0 0 0 1px var(--border-color);
        border-radius: 4px;
        background: #fff;
        overflow: hidden;
        &.fc-event-start,
        &.fc-event-end {
            margin: 0;
        }

        &:not(.fc-event-start),
        &:not(.fc-event-end) {
            border-width: 0;
            border-radius: 4px;
        }
    }
    .fc-daygrid-dot-event {
        border-radius: 4px;
        overflow: hidden;
        padding: 0;
    }

    /* timegrid : week */
    .fc-timegrid-axis-cushion,
    .fc-timegrid-slot-label-cushion {
        font-size: 12px;
        color: #555;
    }
    .fc-daygrid-body-natural .fc-daygrid-day-events {
        margin-bottom: 0;
    }
    .fc-timegrid-slot {
        height: 24px;
    }
    .fc-timegrid-event-harness {
        inset: 0;
        height: 24px;
        transition: all 0.1s;
        min-width: 10px;
        left: 0 !important;
        &:hover {
            min-width: 200px;
        }
    }
    .fc-timegrid-event {
        height: 26px;
        box-shadow: inset 0 0 0 1px var(--border-color);
        border-radius: 4px;
        transform: translate(-2px, -2px);
        min-width: calc(100% + 4px);
    }
    .fc-timegrid-col-events {
        margin: 0;
    }

    .fc-event-cate {
        border: 0;
        width: auto;
        height: 100%;
        color: #fff;
        margin: 0;
        margin-right: 4px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 0 6px;
        font-weight: 600;
        font-size: 12px;
    }
    .fc-event-title {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
        font-size: 12px;
    }
    .fc-event-time {
        font-size: 12px;
        margin-left:auto;
        margin-right:4px;
        color:#777;
    }


    /* daygrid - day */
    .fc-dayGridDay-view {
        .fc-daygrid-day-events {
            padding:16px;
        }
        .fc-daygrid-event {
            height:32px;
            border-radius:8px;
            * {
                font-size:13px;
            }
        }

        .fc-event-cate {
            border-radius:8px;
            padding:0 8px;
            margin-right:8px;
        }
        .fc-event-title {
            display: flex;
            height: 32px;
            align-items: center;
            margin-right:16px;
        }
        .fc-event-time {
            margin-right:8px;
        }
    }
    
    /* month */
    .fc-dayGridMonth-view {
        .fc-daygrid-day-top {
            flex-direction: row;
            .fc-daygrid-day-number {
                font-size: 12px;
                color: #555;
            }
        }
        .fc-daygrid-event {
            height: 24px;
    
            &:not(.fc-event-start),
            &:not(.fc-event-end) {
                border-width: 0;
                border-radius: 4px;
            }
        }
        .fc-daygrid-dot-event {
            border-radius: 4px;
        }

    }
}
 .fc-daygrid-event .fc-event-time {
    margin-right:4px;
}
.fc-daygrid-dot-event .fc-event-title {
    display:none;
}

.fc-popover {
    padding: 16px;
    border-radius:8px;
    &.fc-more-popover {
        .fc-popover-header {
            margin-bottom:8px;
            .fc-popover-title {
                font-weight: 500;
                font-size:15px;
            }
        }
        .fc-popover-body {
            padding: 0;
        }
        .fc-daygrid-event {
            height:32px;
            border-radius:8px;
            * {
                font-size:13px;
            }
        }

        .fc-event-cate {
            border-radius:8px;
            padding:0 8px;
            margin-right:8px;
        }
        .fc-event-title {
            display: flex;
            height: 32px;
            align-items: center;
            margin-right:16px;
        }
        .fc-event-time {
            margin-right:8px;
        }
    }
}
.fc-button {
    &.fc-prev-button .fc-icon {
        background: url(../img/schedule-prev-ico@2x.png) 50% 50% no-repeat;
        background-size: 16px auto;
    }
    &.fc-next-button .fc-icon {
        background: url(../img/schedule-next-ico@2x.png) 50% 50% no-repeat;
        background-size: 16px auto;
    }

    &.fc-prev-button .fc-icon:before,
    &.fc-next-button .fc-icon:before {
        content: none;
    }
}
.fc .fc-button-primary:not(:disabled) {
    &.fc-button-active,
    &:active {
        color: var(--btn-point-color-h);
    }

    &.fc-button-active:focus,
    &:active:focus {
        box-shadow: none;
    }
}
