@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--body-color);
  text-align: var(--text-align);
  background-color: var(--body-bg);
}

#layout-wrapper {
  min-width: var(--min-width);
  height:100%;
}

#profile-wrapper {
  padding: 0 20px;
}

.iframe {
  min-width: 320px;
  background: #fff;
}

#page-topbar {
  position: fixed;
  top: 0;
  left: 170px;
  z-index: calc(1002 + 1);
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

:is([data-sidebar-size=sm],[data-sidebar-size=sm-hover]) #page-topbar {
  left: 0;
}

#vertical-hover {
  display: none;
}

.app-content {
  margin-left: var(--appmenu-width);
  overflow: hidden;

  .content {
    padding: 0 15px 10px 15px;
    margin-top: 70px;
  }
}

.navbar-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  height: 59px;
  padding: 0;

  .topnav-hamburger {
    width: 70px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
  }
}

.hamburger-icon {
  width: 20px;
  height: 14px;
  position: relative;
  cursor: pointer;
  display: inline-block;

  span {
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 2px;
    display: block;
    left: 0;

    &:nth-child(1) {
      top: 0;
      width: 80%;
    }

    &:nth-child(2) {
      top: 6px;
    }

    &:nth-child(3) {
      bottom: 0;
      width: 60%;
    }
  }

  &.open {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);

    span {
      &:nth-child(1) {
        left: 1px;
        top: 5px;
        width: 20px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition-delay: 150ms;
        transition-delay: 150ms;
      }

      &:nth-child(2) {
        left: 3px;
        top: 13px;
        width: 10px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition-delay: 50ms;
        transition-delay: 50ms;
      }

      &:nth-child(3) {
        left: 9px;
        top: 13px;
        width: 10px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
      }
    }
  }
}

#profile-wrapper .navbar-menu {
  display: none;
}

.navbar-menu {
  width: var(--appmenu-width);
  z-index: 1002;
  background: #101c42;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  padding: 0 0 60px;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;

  .navbar-nav {
    padding: 0 24px;

    .nav-item + .nav-item {
      margin-top: 16px;
    }

    .nav-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 8px;
      padding: 8px 12px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.43;
      text-align: left;
      color: #a3aed1;

      &.active, &:hover {
        background-color: #24325f;
        color: #fff;
      }

      i {
        display: inline-block;
        width: 16px;
        height: 20px;
        margin-right: 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 16px 16px;

        &.ico1 {
          background-image: url(../img/app-menu-ico1@2x.png);
        }

        &.ico2 {
          background-image: url(../img/app-menu-ico2@2x.png);
        }

        &.ico3 {
          background-image: url(../img/app-menu-ico3@2x.png);
        }

        &.ico4 {
          background-image: url(../img/app-menu-ico4@2x.png);
        }

        &.ico5 {
          background-image: url(../img/app-menu-ico5@2x.png);
        }

        &.ico6 {
          background-image: url(../img/app-menu-ico6@2x.png);
        }

        &.ico7 {
          background-image: url(../img/app-menu-ico7@2x.png);
        }

        &.ico8 {
          background-image: url(../img/app-menu-ico8@2x.png);
        }

        &.ico9 {
          background-image: url(../img/app-menu-ico9@2x.png);
        }

        &.ico10 {
          background-image: url(../img/app-menu-ico10@2x.png);
        }

        &.ico11 {
          background-image: url(../img/app-menu-ico11@2x.png);
        }

        &.ico12 {
          background-image: url(../img/app-menu-ico12@2x.png);
        }

        &.ico13 {
          background-image: url(../img/app-menu-ico13@2x.png);
        }

        &.ico14 {
          background-image: url(../img/app-menu-ico14@2x.png);
        }
      }

      &.active i.ico1, &:hover i.ico1 {
        background-image: url(../img/app-menu-ico1-on@2x.png);
      }

      &.active i.ico2, &:hover i.ico2 {
        background-image: url(../img/app-menu-ico2-on@2x.png);
      }

      &.active i.ico3, &:hover i.ico3 {
        background-image: url(../img/app-menu-ico3-on@2x.png);
      }

      &.active i.ico4, &:hover i.ico4 {
        background-image: url(../img/app-menu-ico4-on@2x.png);
      }

      &.active i.ico5, &:hover i.ico5 {
        background-image: url(../img/app-menu-ico5-on@2x.png);
      }

      &.active i.ico6, &:hover i.ico6 {
        background-image: url(../img/app-menu-ico6-on@2x.png);
      }

      &.active i.ico7, &:hover i.ico7 {
        background-image: url(../img/app-menu-ico7-on@2x.png);
      }

      &.active i.ico8, &:hover i.ico8 {
        background-image: url(../img/app-menu-ico8-on@2x.png);
      }

      &.active i.ico9, &:hover i.ico9 {
        background-image: url(../img/app-menu-ico9-on@2x.png);
      }

      &.active i.ico10, &:hover i.ico10 {
        background-image: url(../img/app-menu-ico10-on@2x.png);
      }

      &.active i.ico11, &:hover i.ico11 {
        background-image: url(../img/app-menu-ico11-on@2x.png);
      }

      &.active i.ico12, &:hover i.ico12 {
        background-image: url(../img/app-menu-ico12-on@2x.png);
      }

      &.active i.ico13, &:hover i.ico13 {
        background-image: url(../img/app-menu-ico13-on@2x.png);
      }

      &.active i.ico14, &:hover i.ico14 {
        background-image: url(../img/app-menu-ico14-on@2x.png);
      }
    }
  }
}

.navbar-type2 .navbar-nav .nav-link {
  i {
    &.ico1 {
      background-image: url(../img/nav-menu-ico1@2x.png);
    }

    &.ico2 {
      background-image: url(../img/nav-menu-ico2@2x.png);
    }

    &.ico3 {
      background-image: url(../img/nav-menu-ico3@2x.png);
    }

    &.ico4 {
      background-image: url(../img/nav-menu-ico4@2x.png);
    }

    &.ico5 {
      background-image: url(../img/nav-menu-ico5@2x.png);
    }

    &.ico6 {
      background-image: url(../img/nav-menu-ico6@2x.png);
    }

    &.ico7 {
      background-image: url(../img/nav-menu-ico7@2x.png);
    }

    &.ico8 {
      background-image: url(../img/nav-menu-ico8@2x.png);
    }

    &.ico9 {
      background-image: url(../img/nav-menu-ico9@2x.png);
    }

    &.ico10 {
      background-image: url(../img/nav-menu-ico10@2x.png);
    }

    &.ico11 {
      background-image: url(../img/nav-menu-ico11@2x.png);
    }

    &.ico12 {
      background-image: url(../img/nav-menu-ico12@2x.png);
    }

    &.ico13 {
      background-image: url(../img/nav-menu-ico13@2x.png);
    }

    &.ico14 {
      background-image: url(../img/nav-menu-ico14@2x.png);
    }
  }

  &.active i.ico1, &:hover i.ico1, &[data-bs-toggle=collapse][aria-expanded=true] i.ico1 {
    background-image: url(../img/nav-menu-ico1-on@2x.png);
  }

  &.active i.ico2, &:hover i.ico2, &[data-bs-toggle=collapse][aria-expanded=true] i.ico2 {
    background-image: url(../img/nav-menu-ico2-on@2x.png);
  }

  &.active i.ico3, &:hover i.ico3, &[data-bs-toggle=collapse][aria-expanded=true] i.ico3 {
    background-image: url(../img/nav-menu-ico3-on@2x.png);
  }

  &.active i.ico4, &:hover i.ico4, &[data-bs-toggle=collapse][aria-expanded=true] i.ico4 {
    background-image: url(../img/nav-menu-ico4-on@2x.png);
  }

  &.active i.ico5, &:hover i.ico5, &[data-bs-toggle=collapse][aria-expanded=true] i.ico5 {
    background-image: url(../img/nav-menu-ico5-on@2x.png);
  }

  &.active i.ico6, &:hover i.ico6, &[data-bs-toggle=collapse][aria-expanded=true] i.ico6 {
    background-image: url(../img/nav-menu-ico6-on@2x.png);
  }

  &.active i.ico7, &:hover i.ico7, &[data-bs-toggle=collapse][aria-expanded=true] i.ico7 {
    background-image: url(../img/nav-menu-ico7-on@2x.png);
  }

  &.active i.ico8, &:hover i.ico8, &[data-bs-toggle=collapse][aria-expanded=true] i.ico8 {
    background-image: url(../img/nav-menu-ico8-on@2x.png);
  }

  &.active i.ico9, &:hover i.ico9, &[data-bs-toggle=collapse][aria-expanded=true] i.ico9 {
    background-image: url(../img/nav-menu-ico9-on@2x.png);
  }

  &.active i.ico10, &:hover i.ico10, &[data-bs-toggle=collapse][aria-expanded=true] i.ico10 {
    background-image: url(../img/nav-menu-ico10-on@2x.png);
  }

  &.active i.ico11, &:hover i.ico11, &[data-bs-toggle=collapse][aria-expanded=true] i.ico11 {
    background-image: url(../img/nav-menu-ico11-on@2x.png);
  }

  &.active i.ico12, &:hover i.ico12, &[data-bs-toggle=collapse][aria-expanded=true] i.ico12 {
    background-image: url(../img/nav-menu-ico12-on@2x.png);
  }
}

.navbar-menu {
  .navbar-nav {
    .nav-link {
      .badge {
        margin-left: auto;
        margin-right: -2px;
        z-index: 1;
      }

      svg {
        width: 18px;
        margin-right: .665rem;
        color: #6d7080;
      }

      &[data-bs-toggle=collapse] {
        &:after {
          display: block;
          content: "\f0140";
          font-family: "Material Design Icons";
          margin-left: auto;
          -webkit-transition: -webkit-transform .2s;
          transition: -webkit-transform .2s;
          transition: transform .2s;
          transition: transform .2s,-webkit-transform .2s;
          font-size: 1.05rem;
          position: absolute;
          right: 18px;
          color: inherit;
          font-weight: 400;
        }

        &[aria-expanded=true] {
          color: #845ae0;

          &:after {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            color: #845ae0;
          }

          &:before {
            opacity: 1;
            background-color: #845ae0;
          }
        }
      }

      &.collapsed.active::after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }

    .nav-sm {
      padding-left: 24px;

      .nav-item {
        width: 100%;
      }

      .nav-link {
        padding: 7px 18px;
        color: #6d7080;
        position: relative;
        font-size: 13px;
        font-weight: 400;

        &:before {
          content: "";
          width: 6px;
          height: 1px;
          background-color: #aebac3;
          position: absolute;
          left: 2px;
          top: 15.5px;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
          opacity: 1;
        }

        &:hover {
          color: #845ae0;

          &:before {
            background-color: #845ae0 !important;
            opacity: 1;
          }
        }

        &.active {
          color: #845ae0;

          &:before {
            background-color: #845ae0;
          }
        }
      }

      .nav-sm {
        padding-left: 12px;

        .nav-link:before {
          height: 5px;
          width: 5px;
          left: 5px;
          border-radius: 50%;
          background-color: transparent;
          border: 1px solid;
          top: 13.5px;
        }
      }
    }
  }

  .btn-vertical-sm-hover {
    display: none;
  }
}

.navbar-brand-box {
  height: 60px;
  padding: 0 24px;
  text-align: left;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  -webkit-box-shadow: inset 0 -1px 0 0 #4e4e4e;
  -moz-box-shadow: inset 0 -1px 0 0 #4e4e4e;
  box-shadow: inset 0 -1px 0 0 #4e4e4e;
}

.logo {
  display: inline-block;
  padding: 20px 0;

  img {
    height: 20px;
  }

  .logo-sm {
    display: none;
  }
}

.logo-light {
  display: none;
}

.app-menu .row {
  margin: 0;

  > * {
    width: 100%;
    padding: 0;
  }
}

.navbar-menu .container-fluid {
  padding: 0;
}

[data-sidebar-size=sm] {
  /*min-height:1400px*/

  min-height: 100%;

  .main-content {
    margin-left: var(--appmenu-width-sm);
  }

  #page-topbar {
    position: absolute;
    z-index: calc(1002 + 1);
  }

  .navbar-brand-box {
    position: absolute;
    padding: 0;
    width: var(--appmenu-width-sm);
    z-index: 1;
    top: 0;

    .logo {
      display: none;
    }
  }

  .navbar-menu {
    position: absolute;
    width: var(--appmenu-width-sm) !important;
    padding-top: 60px;
  }

  .search-area {
    display: none;
  }

  .navbar-menu {
    .simplebar-content-wrapper, .simplebar-mask {
      overflow: visible !important;
    }

    .simplebar-scrollbar, .vertical-menu-btn {
      display: none !important;
    }

    .simplebar-offset {
      bottom: 0 !important;
    }

    .navbar-nav {
      .menu-dropdown {
        display: none;
        height: auto !important;
      }

      .nav-item {
        position: relative;
        padding-left: 4px;

        &:hover {
          > a.menu-link {
            position: relative;
            width: calc(100px + var(--appmenu-width-sm));
            -webkit-transition: none;
            transition: none;

            /* background:#fff;-webkit-box-shadow:0 2px 4px rgba(15,34,58,.12);box-shadow:0 2px 4px rgba(15,34,58,.12) */

            span {
              display: inline-block;
              padding-left: 20px;
            }

            &:after {
              display: block;
              -webkit-transform: rotate(0);
              transform: rotate(0);
              color: #000;
            }
          }

          .nav-link span {
            display: inline-block;
          }

          > .menu-dropdown {
            display: block;
            left: var(--appmenu-width-sm);
            position: absolute;
            width: 200px;
            background: #fff;
            height: auto !important;
            padding: .5rem 0;
            border-radius: 0 0 3px 3px;
            -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
            box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          }
        }
      }

      .nav-link {
        padding: 12px 16px;
        text-align: center;

        i {
          width: 24px;
          margin-right: 0;
        }

        span, &:after, &:before {
          display: none;
        }
      }

      .badge {
        display: none !important;
      }

      .nav-sm {
        padding: 0;

        .nav-item:hover > .nav-link:after {
          color: inherit;
        }

        .nav-link:after {
          display: block !important;
          -webkit-transform: rotate(-90deg) !important;
          transform: rotate(-90deg) !important;
        }

        .menu-dropdown {
          left: 100% !important;
          top: 0;
          border-radius: 3px !important;
        }
      }
    }
  }

  .page-footer {
    left: var(--appmenu-width-sm);
  }

  .navbar-menu .navbar-nav {
    padding: 20px 0;
  }

  .app-menu-info {
    display: none;
  }
}

/*
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-link.active,
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-link:hover{background-color: #24325f;color: #101c42;}
 */

.navbar-search {
  padding: 14px 24px 0;

  + #scrollbar .navbar-nav {}
}

.app-menu-info {
  padding: 24px 24px 36px;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #a3aed1;

  .cate {
    line-height: 16px;

    em, span {
      display: inline-block;
      font-size: 12px;
    }

    em {
      margin-right: 4px;
      padding: 0 4px;
      border-radius: 4px;
      background-color: #845ae0;
      font-weight: 700;
      color: #fff;
    }

    span {
      color: #a3aed1;
    }
  }

  .text {
    margin-top: 8px;
  }

  .name {
    margin-top: 4px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    text-align: left;
    color: #fff;
  }

  .link {
    margin-top: 16px;

    a {
      display: block;
      padding: 6px 16px;
      border-radius: 8px;
      background-color: #845ae0;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.43;
      text-align: center;
      color: #fff;
    }
  }

  &.type-foot {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    padding: 0;

    .link {
      margin-top: 6px;

      a {
        background-color: #142d53;
        color: #a3aed1;
      }
    }
  }
}

.container-fluid {
  padding: 0;
}

.main-content {
  margin-left: var(--appmenu-width);
  transition: all .1s ease-out;
  display:flex;
  flex-direction: column;
  height:100%;
  overflow:hidden;

  &.onPageFooter {
    padding-bottom: 56px;
  }
  .page-content {
    flex:1;
    overflow-y:auto;
    border-top:1px solid rgba(0, 0, 0, 0.02);
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 40px 0 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02);
  background-color: #fff;
  z-index:9;
}

.page-header-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: #212529;
}

.page-header-topbar {
  display: flex;
  align-items: center;

  > div {
    height: 36px;
  }

  .btn-topbar {
    width: 36px;
    height: 36px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border: 0 none;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;

    &.show {
      background-color: #f9f6ff;
    }

    &:focus {
      box-shadow: none;
    }

    i {
      display: block;
      width: 36px;
      height: 36px;
      background-position: 50% 50%;
      background-size: 20px 20px;
      background-repeat: no-repeat;

      &.topbar-calendar {
        background-image: url(../img/topbar-calendar-ico@2x.png);
      }

      &.topbar-time {
        background-image: url(../img/topbar-time-ico@2x.png);
      }

      &.topbar-bell {
        background-image: url(../img/topbar-bell-ico@2x.png);
      }
    }
  }

  .badge {
    position: absolute;
    right: -10px !important;
    top: 0 !important;
    padding: 2px 6px;
    background: #845ae0;
    font-size: 12px;
    line-height: 1.17;
    color: #fff;
    color: #fff;
    border-radius: 16px;
    border: 1px solid #fff;
  }
}

/* .page-header-topbar .btn-topbar.active,.page-header-topbar .btn-topbar:active,.page-header-topbar .btn-topbar:focus,.page-header-topbar .btn-topbar:hover{background-color:rgba(53, 119, 241, 0.12);} */

.page-content {
  padding: 16px 24px;
}

.page-content-title {
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #212529;
}

/*
.page-content.page-content-full{padding:0 24px 80px}
.page-content-full .card{min-height:calc(100vh - 44px - 80px);}
*/

.page-footer {
  bottom: 0;
  position: fixed;
  right: 0;
  left: var(--appmenu-width);
  height: 56px;
  padding: 12px 24px;
  box-shadow: inset 0 1px 0 0 #e9ebec;
  background-color: #fff;
  z-index: 2;
}

.page-footer-row {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #212529;
}

.page-footer-btn-left, .page-footer-btn-right {
  position: absolute;
  top: 0;
}

.page-footer-btn-left {
  left: 0;
}

.page-footer-btn-right {
  right: 0;
}

.alram-dropdown {
  width: 300px;
  padding: 14px 16px 20px;

  &.show {
    position: fixed !important;
    top: 8px !important;
    bottom: 0px !important;
    right: -40px !important;
    margin-left: 40px !important;
  }
}

#topbarSchedule .alram-dropdown.show {
  right: -76px !important;
  margin-left: 76px !important;
}

#topbarNotification .alram-dropdown.show {
  right: -40px !important;
  margin-left: 40px !important;
}

.alram-dropdown .form-check-input:checked + .form-check-label {
  color: #b5b5b5;
  text-decoration: line-through;
}

.alram-header {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;

  h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alram-header-bell {
  padding-left: 30px;
  background: url(../img/alram-bell-ico@2x.png) no-repeat 0 50% / 24px auto;
}

.alram-header-star {
  padding-left: 30px;
  background: url(../img/alram-list-ico@2x.png) no-repeat 0 50% / 24px auto;
}

.alram-header-pin {
  display: flex;
  align-items: center;
}

.alram-dropdown .alram-header-pin {
  .form-check-input:checked + .form-check-label {
    color: #212529;
    text-decoration: none;
  }

  .btn {
    margin-left: 12px;
    padding: 4px 12px;
    border-radius: 8px;
    background-color: #f3eefc;
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #212529;
  }
}

.alram-item {
  + .alram-header {
    margin-top: 36px;
  }

  padding: 12px;
  background: #f9fafb;

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 0 0 0 26px;
    }

    > li + li {
      margin-top: 16px;
    }
  }
}

/* .page-header{display:flex;justify-content:space-between;align-items:center;height:44px;} */

#scroll-top {
  display: block;
  position: fixed;
  bottom: 100px;
  right: 28px;
  width: 37px;
  height: 37px;
  padding: 0;
  border-radius: 2px;
  background: #ff2d5b url(../img/scroll-top-ico@2x.png) no-repeat 50% 50% / 12px auto;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 1000;

  &.active {
    opacity: 1;
  }
}

#backToTop {
  display: block;
  position: fixed;
  bottom: 100px;
  right: 28px;
  width: 37px;
  height: 37px;
  padding: 0;
  border-radius: 2px;
  background: #ff2d5b url(../img/scroll-top-ico@2x.png) no-repeat 50% 50% / 12px auto;
  text-indent: -9999px;
  font-size: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 1000;
}

.choices {
  position: relative;
  margin-bottom: 24px;
  font-size: 16px;

  &:focus {
    outline: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.is-disabled {
    .choices__inner, .choices__input {
      background-color: rgba(var(--bs-light-rgb), 0.75);
      cursor: not-allowed;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .choices__item {
      cursor: not-allowed;
    }
  }

  [hidden] {
    display: none !important;
  }

  &[data-type*=select-one] {
    cursor: pointer;

    .choices__button {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
      padding: 0;
      background-size: 8px;
      position: absolute;
      top: 50%;
      right: 0;
      left: auto;
      margin-top: -10px;
      margin-right: 25px;
      margin-left: 0;
      height: 20px;
      width: 20px;
      border-radius: 10em;
      opacity: .5;

      &:focus, &:hover {
        opacity: 1;
      }

      &:focus {
        -webkit-box-shadow: 0 0 0 2px #00bcd4;
        box-shadow: 0 0 0 2px #00bcd4;
      }
    }

    .choices__item[data-value=""] .choices__button {
      display: none;
    }

    &:after {
      content: "\f0140";
      position: absolute;
      border: 0;
      border-color: #212529 transparent transparent;
      right: 11.5px;
      left: auto;
      font-family: "Material Design Icons";
      width: auto;
      height: auto;
      margin-top: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      pointer-events: none;
    }

    &.is-open:after {
      margin-top: 0;
      -webkit-transform: translateY(-50%) rotate(-180deg);
      transform: translateY(-50%) rotate(-180deg);
    }
  }

  &[data-type*=select-multiple] .choices__inner, &[data-type*=text] .choices__inner {
    cursor: text;
    padding-right: .9rem;
  }

  &[data-type*=select-multiple] .choices__button, &[data-type*=text] .choices__button {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-right: -4px;
    margin-bottom: 0;
    margin-left: 8px;
    padding-left: 16px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 8px;
    width: 8px;
    line-height: 1;
    opacity: .75;
    border-radius: 0;
  }

  &[data-type*=select-multiple] .choices__button {
    &:focus, &:hover {
      opacity: 1;
    }
  }

  &[data-type*=text] .choices__button {
    &:focus, &:hover {
      opacity: 1;
    }
  }

  &[data-type*=select-multiple] .choices__list--dropdown, &[data-type*=text] .choices__list--dropdown {
    padding-bottom: 10px;
  }

  &[data-type*=select-multiple] .choices__list--dropdown .choices__list, &[data-type*=text] .choices__list--dropdown .choices__list {
    margin-bottom: 0;
  }

  &[data-type*=select-multiple] .choices__input {
    padding-top: 3px;
  }
}

.choices__inner {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  background-color: var(--border-bg);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius) !important;
  overflow: hidden;
  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);
  min-width: 72px;
}

.input-group {
  .choices {
    margin-bottom:0;
    &:nth-of-type(1) {
      .choices__inner {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
  }
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices__list--single {
  display: inline-block;
  padding: 0px 20px 0px 0;
  width: 100%;

  .choices__item {
    width: 100%;
  }
}

.choices__list--multiple {
  display: inline;

  .choices__item {
    display: inline-block;
    vertical-align: initial;
    border-radius: 7px;
    padding: 2px 7px;
    font-size: 11px;
    font-weight: 400;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    margin-top: 2px;
    background-color: #405189;
    border: 1px solid #405189;
    word-break: break-all;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;

    &[data-deletable] {
      padding-right: 5px;
    }

    &.is-highlighted {
      background-color: #405189;
      border: 1px solid #405189;
    }
  }
}

.is-disabled .choices__list--multiple .choices__item {
  background-color: #845ae0;
  border: 1px solid #845ae0;
}

.choices__list--dropdown {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: var(--border-bg);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius) !important;
  -webkit-box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
  box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
  top: 100%;
  margin-top: 0;
  padding: 0;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  z-index: 2;

  &.is-active {
    visibility: visible;
    -webkit-animation-name: DropDownSlide;
    animation-name: DropDownSlide;
  }

  .choices__item--selectable.is-highlighted {
    background-color: #eff2f7;
  }

  .choices__list {
    margin: 0;
  }

  .has-no-results {
    font-style: italic;
    font-weight: 500;
  }

  .choices__item--selectable:after {
    display: none;
  }
}

.is-open .choices__list--dropdown {
  border-color: var(--border-color);
}

.is-flipped .choices__list--dropdown {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: .25rem .25rem 0 0;

  &.is-active {
    -webkit-animation-name: DropDownSlideDown;
    animation-name: DropDownSlideDown;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
}

.choices__list--dropdown {
  .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
  }

  .choices__item {
    position: relative;
    font-size: .8125rem;
    padding: .35rem 1.2rem .35rem 16px;
  }

  .choices__item--selectable {
    &:after {
      content: attr(data-select-text);
      font-size: 12px;
      opacity: 0;
      position: absolute;
      right: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    &.is-highlighted:after {
      opacity: .5;
    }
  }
}

.choices__item {
  cursor: default;
  white-space: nowrap;
}

.choices__item--selectable {
  cursor: pointer;
}

.choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: .5;
}

.choices__heading {
  font-weight: 600;
  font-size: 12px;
  padding: 10px 16px;
  border-bottom: 1px solid var(--border-color);
  color: #878a99;
}

.choices__button {
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.choices__input {
  display: inline-block;
  vertical-align: baseline;
  border: 0;
  background-color: var(--border-bg);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  margin-bottom: 0;
  max-width: 100%;

  &:focus {
    outline: 0;
  }

  &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
    color: #878a99;
  }
}

.choices__placeholder {
  color: #878a99;
  opacity: 1;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0 !important;
  bottom: 0;
  right: 0 !important;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  visibility: visible;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  padding: 0 !important;

  &::-webkit-scrollbar {
    display: none;
  }
}

.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.simplebar-content {
  &:after, &:before {
    content: " ";
    display: table;
  }
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

/*
.simplebar-height-auto-observer-wrapper{-webkit-box-sizing:inherit!important;box-sizing:inherit!important;height:100%;width:100%;max-width:1px;position:relative;float:left;max-height:1px;overflow:hidden;z-index:-1;padding:0;margin:0;pointer-events:none;-webkit-box-flex:inherit;-ms-flex-positive:inherit;flex-grow:inherit;-ms-flex-negative:0;flex-shrink:0;-ms-flex-preferred-size:0;flex-basis:0}
.simplebar-height-auto-observer{-webkit-box-sizing:inherit;box-sizing:inherit;display:block;opacity:0;position:absolute;top:0;left:0;height:1000%;width:1000%;min-height:1px;min-width:1px;overflow:hidden;pointer-events:none;z-index:-1}
 */

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  .simplebar-content {
    pointer-events: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
  }

  .simplebar-track {
    pointer-events: all;
  }
}

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 6px;
  min-height: 10px;

  &:before {
    position: absolute;
    content: "";
    background: #a2adb7;
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
  }

  &.simplebar-visible:before {
    opacity: .5;
    -webkit-transition: opacity 0s linear;
    transition: opacity 0s linear;
  }
}

.simplebar-track {
  &.simplebar-vertical {
    top: 4px;
    width: 10px;

    .simplebar-scrollbar:before {
      top: 2px;
      bottom: 2px;
    }
  }

  &.simplebar-horizontal {
    left: 0;
    height: 10px;

    .simplebar-scrollbar {
      &:before {
        height: 100%;
        left: 2px;
        right: 2px;
      }

      right: auto;
      left: 0;
      top: 2px;
      height: 7px;
      min-height: 0;
      min-width: 10px;
      width: auto;
    }
  }
}

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 4px;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.custom-scroll {
  height: 100%;
}

.datepicker-wrap {
  position: relative;
}

.datepicker-box {
  display: none;
  position: absolute;
  top: 36px;
  left: 50%;
  z-index: 100;
  width: 312px;
  margin-left: -156px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.datepicker-head {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 45px;
  padding: 0 16px;
  border-radius: 4px 4px 0 0;
  background-color: #405189;
}

.datepicker-title, .datepicker-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.datepicker-title {
  padding: 0 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.datepicker-btn {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px auto;
  cursor: pointer;
}

.datepicker-prev {
  background-image: url(../img/datepicker-prev-ico@2x.png);
}

.datepicker-next {
  background-image: url(../img/datepicker-next-ico@2x.png);
}

.datepicker-body {
  padding: 16px 0;
  border: solid 1px #e9ebec;
}

.datepicker-day, .datepicker-name {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.datepicker-cell {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 14.28571%;
  height: 38px;
  text-align: center;
  z-index: 1;

  span {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
    text-align: center;
  }

  &.other span {
    color: rgba(109, 176, 255, 0.5);
  }

  &.active span {
    color: #fff;
    border: none;
    background: #2f76ec;
  }
}

.datepicker-day .datepicker-cell {
  font-size: 15px;
  font-weight: 500;
  color: #535353;
  cursor: pointer;
}

.datepicker-name .datepicker-cell {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 15px;
  font-weight: 500;
  color: #74a0ff;
}

.calendar-box {
  background: #fff;
}

.calendar-head {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding: 0 16px;
  border-radius: 4px 4px 0 0;
}

.calendar-title, .calendar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-title {
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: center;
  color: #495057;
}

.calendar-btn {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 12px auto;
  cursor: pointer;
}

.calendar-prev {
  background-image: url(../img/calendar-prev-ico@2x.png);
}

.calendar-next {
  background-image: url(../img/calendar-next-ico@2x.png);
}

.calendar-body {
  padding: 0;
  border: solid 1px #e9ebec;
  border-top: 1px solid #845ae0;
}

.calendar-week, .calendar-name {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.calendar-cell {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 14.28571%;
  height: 38px;
  text-align: center;
  z-index: 1;

  + .calendar-cell {
    border-left: 1px solid #e9ebec;
  }

  span {
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    text-align: center;
  }

  &.event {
    background: #f3f6f9;
  }

  &.active {
    background: #fefaef;
  }

  &.other span {
    color: #6db0ff;
    opacity: 0.5;
  }

  &.today span {
    color: #fff;
    border: none;
    background: #845ae0;
    border-radius: 28px;
  }

  div {
    padding: 4px 6px 0;
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: #212529;
  }
}

.calendar-name .calendar-cell {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 38px;
  background: #f3f6f9;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: center;
  color: #7987a1;
}

.calendar-day .calendar-cell {
  flex-direction: column;
  height: 108px;
  padding: 2px 6px;
  border-top: 1px solid #e9ebec;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #212529;
}

.schedule-body {
  padding: 0;
  border: solid 1px #e9ebec;
  border-top: 1px solid #845ae0;
}

.schedule-week, .schedule-name {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.schedule-cell {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 14.28571%;
  height: 38px;
  text-align: center;
  z-index: 1;

  + .schedule-cell {
    border-left: 1px solid #e9ebec;
  }

  span {
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    text-align: center;
  }

  &.event {
    background: #f3f6f9;
  }

  &.active {
    background: #fefaef;
  }

  &.other span {
    color: #6db0ff;
    opacity: 0.5;
  }

  &.today span {
    color: #fff;
    border: none;
    background: #845ae0;
    border-radius: 28px;
  }

  div {
    padding: 4px 6px 0;
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: #212529;
  }
}

.schedule-name .schedule-cell {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 38px;
  background: #f3f6f9;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: center;
  color: #7987a1;
}

.schedule-day .schedule-cell {
  flex-direction: column;
  height: 108px;
  padding: 2px 6px;
  border-top: 1px solid #e9ebec;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #212529;
}
