
.year-text{
    /* display:inline-block; */
    color: #fff;
    text-align: left;
    position: absolute;
    top: 10px;
    left: 92px;
}

.flatpickr-current-month .numInputWrapper {
    width: 84px !important;
}