#scroll-top {
  display: none;
}

.inner-scroll {
  max-height: 683px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bs-gray-300);
  border-radius: 10px;

  &:hover {
    background-color: var(--bs-gray-400);
    border-radius: 10px;
  }
}

::-webkit-scrollbar-track {
  background-color: rgba(var(-deep-color), 0.1);
  border-radius: 10px;
}

.auth-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .auth-page-content {
    padding-bottom: 60px;
    position: relative;
    z-index: 2;
    width: 100%;
  }
}

.certNum-timer {
  position: absolute;
  top: 8px;
  right: 10px;
}

.avatar-lg {
  height: 6rem;
  width: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-floating > .form-control {
  &:not(:-moz-placeholder-shown) ~ label::after, &:not(:-ms-input-placeholder) ~ label::after, &:not(:placeholder-shown) ~ label::after {
    background-color: transparent !important;
  }
}

.input-group {
  .form-control {
    outline: 0 none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ced4da !important;
    border-left: 0 none !important;

    &:focus, &:active, &:hover {
      outline: 0 none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid #ced4da !important;
      border-left: 0 none !important;
    }
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f8f9fa inset !important;
    border: 1px solid #ced4da !important;
    border-left: 0 none !important;

    &:hover, &:focus, &:active {
      -webkit-box-shadow: 0 0 0 30px #f8f9fa inset !important;
      border: 1px solid #ced4da !important;
      border-left: 0 none !important;
    }

    -webkit-text-fill-color: #212529 !important;
  }
}

.form-control {
  outline: 0 none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ced4da !important;

  &:focus, &:active, &:hover {
    outline: 0 none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ced4da !important;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f8f9fa inset !important;
  border: 1px solid #ced4da !important;

  &:hover, &:focus, &:active {
    -webkit-box-shadow: 0 0 0 30px #f8f9fa inset !important;
    border: 1px solid #ced4da !important;
  }

  -webkit-text-fill-color: #212529 !important;
}

.table.table-card .total td {
  padding: 14px 24px !important;
  background: #f9fafb;
}

.course {
  .mbody-clause-title {
    font-size: 18px;
  }

  .mbody-clause-list {
    font-size: 14px;
  }
}

.btn-regi {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../libs/feather-icons/icons/plus.svg) no-repeat 50% 50% / 16px auto;
  text-indent: -9999px;
  font-size: 0;
}

.btn-del {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../libs/feather-icons/icons/trash-2.svg) no-repeat 50% 50% / 16px auto;
  text-indent: -9999px;
  font-size: 0;
}

.btn-dot {
  display: inline-block;
  width: 28px;
  min-width: auto;
  height: 28px;
  background: url(../libs/feather-icons/icons/more-vertical.svg) no-repeat 50% 50% / 16px auto;
  text-indent: -9999px;
  font-size: 0;
}

.navbar-dbmenu {
  width: 100%;
  z-index: 1002;
  border-radius: 4px;
  border: solid 1px #ced4da;
  background-color: #fff;
  top: 0;
  margin-top: 20px;
  position: relative;
  top: 0;
  background: 0, 0, 0, 0.03, inset -1px 0 0 0 var(--gray-color);
  padding: 0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

  .navbar-nav {
    padding: 12px 0;

    .nav-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 12px 24px;
      color: #6d7080;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;

      &.active, &:hover {
        color: var(--first-color);
      }

      i {
        display: inline-block;
        width: 16px;
        height: 20px;
        margin-right: 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 16px 16px;

        &.ico1 {
          background-image: url(../img/app-menu-ico1@2x.png);
        }

        &.ico2 {
          background-image: url(../img/app-menu-ico2@2x.png);
        }

        &.ico3 {
          background-image: url(../img/app-menu-ico3@2x.png);
        }

        &.ico4 {
          background-image: url(../img/app-menu-ico4@2x.png);
        }

        &.ico5 {
          background-image: url(../img/app-menu-ico5@2x.png);
        }

        &.ico6 {
          background-image: url(../img/app-menu-ico6@2x.png);
        }

        &.ico7 {
          background-image: url(../img/app-menu-ico7@2x.png);
        }

        &.ico8 {
          background-image: url(../img/app-menu-ico8@2x.png);
        }

        &.ico9 {
          background-image: url(../img/app-menu-ico9@2x.png);
        }

        &.ico10 {
          background-image: url(../img/app-menu-ico10@2x.png);
        }

        &.ico11 {
          background-image: url(../img/app-menu-ico11@2x.png);
        }

        &.ico12 {
          background-image: url(../img/app-menu-ico12@2x.png);
        }

        &.ico13 {
          background-image: url(../img/app-menu-ico13@2x.png);
        }

        &.ico14 {
          background-image: url(../img/app-menu-ico14@2x.png);
        }
      }

      &.active i.ico1, &:hover i.ico1 {
        background-image: url(../img/app-menu-ico1-on@2x.png);
      }

      &.active i.ico2, &:hover i.ico2 {
        background-image: url(../img/app-menu-ico2-on@2x.png);
      }

      &.active i.ico3, &:hover i.ico3 {
        background-image: url(../img/app-menu-ico3-on@2x.png);
      }

      &.active i.ico4, &:hover i.ico4 {
        background-image: url(../img/app-menu-ico4-on@2x.png);
      }

      &.active i.ico5, &:hover i.ico5 {
        background-image: url(../img/app-menu-ico5-on@2x.png);
      }

      &.active i.ico6, &:hover i.ico6 {
        background-image: url(../img/app-menu-ico6-on@2x.png);
      }

      &.active i.ico7, &:hover i.ico7 {
        background-image: url(../img/app-menu-ico7-on@2x.png);
      }

      &.active i.ico8, &:hover i.ico8 {
        background-image: url(../img/app-menu-ico8-on@2x.png);
      }

      &.active i.ico9, &:hover i.ico9 {
        background-image: url(../img/app-menu-ico9-on@2x.png);
      }

      &.active i.ico10, &:hover i.ico10 {
        background-image: url(../img/app-menu-ico10-on@2x.png);
      }

      &.active i.ico11, &:hover i.ico11 {
        background-image: url(../img/app-menu-ico11-on@2x.png);
      }

      &.active i.ico12, &:hover i.ico12 {
        background-image: url(../img/app-menu-ico12-on@2x.png);
      }

      &.active i.ico13, &:hover i.ico13 {
        background-image: url(../img/app-menu-ico13-on@2x.png);
      }

      &.active i.ico14, &:hover i.ico14 {
        background-image: url(../img/app-menu-ico14-on@2x.png);
      }

      svg {
        width: 18px;
        margin-right: 0.665rem;
        color: #6d7080;
      }

      .badge {
        margin-left: auto;
        margin-right: -2px;
        z-index: 1;
      }

      &:hover {
        color: var(--first-color);
      }

      &[data-bs-toggle=collapse] {
        &:after {
          display: block;
          content: "\f0140";
          font-family: "Material Design Icons";
          margin-left: auto;
          -webkit-transition: -webkit-transform 0.2s;
          transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
          transition: transform 0.2s, -webkit-transform 0.2s;
          font-size: 1.05rem;
          position: absolute;
          right: 18px;
          color: inherit;
          font-weight: 400;
        }

        &[aria-expanded=true] {
          color: var(--first-color);

          &:after {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            color: var(--first-color);
          }

          &:before {
            opacity: 1;
            background-color: var(--first-color);
          }
        }
      }

      &.collapsed.active::after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }

    .nav-sm {
      padding-left: 24px;

      .nav-link {
        padding: 3px 18px;
        color: #6d7080;
        position: relative;
        font-size: 13px;
        font-weight: 400;

        &:before {
          content: "";
          width: 6px;
          height: 1px;
          background-color: #aebac3;
          position: absolute;
          left: 2px;
          top: 15.5px;
          -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          opacity: 1;
        }

        &:hover {
          color: var(--first-color);

          &:before {
            background-color: var(--first-color) !important;
            opacity: 1;
          }
        }

        &.active {
          color: var(--first-color);

          &:before {
            background-color: var(--first-color);
          }
        }
      }

      .nav-sm {
        padding-left: 12px;

        .nav-link:before {
          height: 5px;
          width: 5px;
          left: 5px;
          border-radius: 50%;
          background-color: transparent;
          border: 1px solid;
          top: 13.5px;
        }
      }
    }
  }

  .btn-vertical-sm-hover {
    display: none;
  }

  .container-fluid {
    padding: 0;
  }
}

[data-sidebar-size=sm] .navbar-dbmenu {
  position: absolute;
  width: var(--appmenu-width-sm) !important;
  padding-top: 60px;

  .simplebar-content-wrapper, .simplebar-mask {
    overflow: visible !important;
  }

  .simplebar-scrollbar, .vertical-menu-btn {
    display: none !important;
  }

  .simplebar-offset {
    bottom: 0 !important;
  }

  .navbar-nav {
    .badge {
      display: none !important;
    }

    .nav-link {
      padding: 12px 20px;
      text-align: center;

      i {
        width: 24px;
        margin-right: 0;
      }

      span, &:after, &:before {
        display: none;
      }
    }

    .menu-dropdown {
      display: none;
      height: auto !important;
    }

    .nav-item {
      position: relative;

      &:hover {
        > a.menu-link {
          position: relative;
          width: calc(200px + var(--appmenu-width-sm));
          -webkit-transition: none;
          transition: none;
          background: #fff;
          -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);

          span {
            display: inline-block;
            padding-left: 48px;
          }

          &:after {
            display: block;
            -webkit-transform: rotate(0);
            transform: rotate(0);
            color: #000;
          }
        }

        .nav-link span {
          display: inline-block;
        }

        > .menu-dropdown {
          display: block;
          left: var(--appmenu-width-sm);
          position: absolute;
          width: 200px;
          background: #fff;
          height: auto !important;
          padding: 0.5rem 0;
          border-radius: 0 0 3px 3px;
          -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
        }
      }
    }

    .nav-sm {
      padding: 0;

      .nav-item:hover > .nav-link:after {
        color: inherit;
      }

      .nav-link:after {
        display: block !important;
        -webkit-transform: rotate(-90deg) !important;
        transform: rotate(-90deg) !important;
      }
    }
  }
}

.mbody-subject {
  margin-bottom: 20px;

  dt {
    font-size: 20px !important;
    font-weight: 600;
    line-height: 1.4;
    color: #212529 !important;
    width: auto !important;

    span {
      font-size: 20px;
      font-weight: 600;
    }
  }

  dd {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #495057;
  }

  dt + dd {
    margin-top: 4px;
  }
}

/* 2024-06-06 */


/* 2024-06-10 */
.card-header.card-search .row > div {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.btn {
  text-wrap: nowrap;
}
.btn-regi {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../libs/feather-icons/icons/plus.svg) no-repeat 50% 50% / 16px auto;
  text-indent: -9999px;
  font-size: 0;
}

.btn-del {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../libs/feather-icons/icons/trash-2.svg) no-repeat 50% 50% / 16px auto;
  text-indent: -9999px;
  font-size: 0;
}

.btn-dot {
  display: inline-block;
  width: 28px;
  min-width: auto;
  height: 28px;
  background: url(../libs/feather-icons/icons/more-vertical.svg) no-repeat 50% 50% / 16px auto;
  text-indent: -9999px;
  font-size: 0;
}

.btn-review {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../libs/feather-icons/icons/search.svg) no-repeat 50% 50% / 16px auto;
  text-indent: -9999px;
  font-size: 0;
}

.btn-cancel {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../libs/feather-icons/icons/x.svg) no-repeat 50% 50% / 16px auto;
  text-indent: -9999px;
  font-size: 0;
}

.btn-list-plus {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../libs/feather-icons/icons/chevron-right.svg) no-repeat 50% 50% / 16px auto;
  text-indent: -9999px;
  font-size: 0;
}

.btn-watch {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../libs/feather-icons/icons/monitor.svg) no-repeat 50% 50% / 16px auto;
  text-indent: -9999px;
  font-size: 0;
}

.btn-assign {
  display: inline-block;
  width: 64px;
  height: 28px;
  background: url(../libs/feather-icons/icons/chevron-right.svg) no-repeat 50% 50% / 16px auto;
  text-indent: initial;
  font-size: 14px;
  text-align: left;
  background-position: center right !important;
}

.btn-exchange {
  display: inline-block;
  width: 64px;
  height: 28px;
  background: url(../libs/feather-icons/icons/code.svg) no-repeat 34px center / 16px auto;
  text-indent: initial;
  font-size: 14px;
  text-align: left;
  padding: 3px 8px;
}

.btn-tooltip-info {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../libs/feather-icons/icons/info.svg) no-repeat center / cover;
  text-indent: -9999px;
  font-size: 0;
  border: 0;
  vertical-align: middle;
}

/* form*/
.file-cus {
  input[type=file] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
}
select:not(.form-select) {
  display: inline-block;
  vertical-align: middle;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  padding-right: var(--btn-padding-ico);
  background: url(../img/form-select-ico@2x.png) no-repeat right 12px center / 12px 12px;
  background-color: #fff;
  max-width: 100%;
  height:32px;
  -webkit-appearance: none;
	vertical-align: middle;
}

/* modal */
.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100vh - var(--bs-modal-margin) * 2);

  .modal-body {
    overflow-y: auto;
  }
}

/* table */
.table-fixed {
  table-layout: fixed;
}
.table-sticky {
  overflow-x: auto;
  position: relative;
  table {
    border-collapse: separate !important;
  } 
  .sticky-col {
    position: sticky;
    border-right:.5px  solid var(--bs-gray-200);
    border-left:.5px  solid var(--bs-gray-200);
  }
  thead {
    position: sticky;
    top:0;
    z-index: 4;
  }
}
.table-card.border-line{
  th,
  td {
    border:1px solid var(--bs-gray-200);
  }
}
.table-scroll-y {
  position: relative;
  overflow-y: auto;
  width: 100%;
  z-index: 0;

  &::before {
    display: block;
    clear: both;
    content: "";
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 3;
    background: var(--first-color);
  }

  thead, .sticky-y {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}
.table-write {
  th, td {
    font-size: 14px;
    height: 56px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 16px;
    border-bottom: 1px solid var(--bs-gray-200);
  }
  th {
    font-weight: 600;
    width: 78px;
    font-size: 14px;
    font-weight: 600;
    color: #aaa;
  }
  thead {
    th {
      border-top: 1px solid var(--bs-gray-200);
      background-color: var(--bs-gray-100);
      color:var(--bs-gray-700);
    }
  }
  td {
    text-align: left;
  }
}
.bg-table-row {
  td,
  th {
    background-color: var(--bs-gray-100);
  }
}

/* component */
.fnc-area,
.flex-area {
  display: flex;
  gap:1rem;
  justify-content: space-between;
  align-items: flex-end;
  .l-area,
  .r-area {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: center;
    flex: 0 0 auto;
    // width: auto;
    > * {
      display: inline-block;
    }
    .choices {
      margin-bottom: 0;
    }
  }
  .r-area {
    justify-content: flex-end;
    margin-left:auto;
  }
}
.fnc-area {
  margin-bottom: .5rem;
  // font-size:14px;
}
.dl-info {
  dt {
    margin-bottom: 8px;
  }

  dd {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*sub*/
.sign-area {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .img-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 25%;
    font-size: 14px;

    figure {
      margin-bottom: 20px;
    }

    img {
      max-width: 100%;
    }
  }

  .sign td {
    height: 80px;
  }

  table {
    table-layout: fixed;
    border-left: 1px solid var(--bs-gray-200);
    border-top: 1px solid var(--bs-gray-200);
  }

  th, td {
    font-size: 14px;
    height: 36px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 16px;
    border-bottom: 1px solid var(--bs-gray-200);
    text-align: center;
    border-right: 1px solid var(--bs-gray-200);
  }
  th {
    font-weight: 600;
    width: 78px;
    font-size: 14px;
    font-weight: 600;
    color: #aaa;
    background-color: var(--bs-gray-100);
  }
}
.label-sign-positive, .label-sign-negative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 100%;
  margin: 0 auto;
  border: 3px solid transparent;
  font-weight: 700;
}
.label-sign-positive {
  border-color: var(--bs-red);
  color: var(--bs-red);
}
.label-sign-negative {
  border-color: var(--bs-gray-400);
  color: var(--bs-gray-400);
}