.site-header {
	position: relative;
	z-index: 10;
	height: var(--header-h);
	display: grid;
	grid-template-rows: 4rem auto 5.6rem;
	border-bottom: $border-primary;
	.wrap {
		height: 100%;
	}
	.header-top {
		.util {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap:$spacing-xsm;
			height:100%;
			a {
				font-size: $fs-body-xsm;
				color:$fc-teriary;
				display: flex;
				align-items: center;
				&::before {
					content: " ";
					display: inline-block;
					width: .1rem;
					height: 1.2rem;
					background-color: $gr30;
					margin-right:$spacing-xsm;
				}
				&:first-child {
					&::before {
						display: none;
					}
				}
				&:hover,
				&:focus {
					color:$fc-primary;
				}
			}
		}
	}
	.header-cont {
		.wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.logo {
			img {
				display: block;
				height: 4rem;
			}
		}
		.gsch {
			position: relative;
			input {
				position: relative;
				border: none;
				max-width: 440px;
				padding:0 $input-height 0 .8rem;
				border-radius: 0;
				transition: background 0.3s;
				background:left bottom  no-repeat; 
				background-image: linear-gradient(45deg, rgba($gr90,1) 0%, rgba($gr90,1) 100%);
				//background: $gradient-primary left bottom  no-repeat; 
				background-size:100% $stroke-sm;
				&:focus {
					background-image: $gradient-primary;
					outline: none;
				}
			}
			.btn-gsch {
				position: absolute;
				right:0;
				width: $input-height;
				height: $input-height;
				font-size:0;
				&::before {
					@include before-position-c;
				}
			}
		}
		.glnk {
			display: flex;
			gap:$spacing-xlg;
			a {
				display: flex;
				gap:$spacing-2xsm;
			}
		}
	}
	.header-etc {
		border-top:$border-secondary;
		.wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
.site-gnb {
	flex:1;
	> ul {
		display: flex;
		gap:$spacing-3xlg;
		> li {
			position: relative;
			&.is-active ul {
				display: block;
			}
			> a {
				display: flex;
				align-items: center;
				height: 5.6rem;
				@include typo('tit-md');
				
				&.is-on,
				&:focus,
				&:hover {
					color: $primary
				}
			}
		}
		ul {
			position: absolute;
			display: none;			
			width: 20rem;
			left:0;
			margin-top: -.1rem;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			-transform: translateX(-50%);
			transform: translateX(-50%);
			background: $wh;
			box-shadow: $shadow-md;
			border-radius: 0 0 $radius-sm $radius-sm;
			word-break: keep-all;
			word-wrap: break-word;
			padding:$spacing-sm;
			a {
				position:relative;
				display: block;
				padding: $spacing-sm $spacing-lg;
				font-weight: 500;
				border-radius: $radius-xsm;
				&:hover,
				&:focus {
					color:$wh;
					font-weight: 700;
					&::before {
						width: 100%;
					}
				}
				&::before {
					content: "";
					position: absolute;
					left:0;
					top:0;
					bottom:0;
					width:0;
					background: $primary;
					z-index: -1;
					// transition: width .1s;
					border-radius: $radius-xsm;
				}

			}
		}
	}
}
.btn-nav-open {
	position: relative;
	display: block;
	flex:none;
	width: 5.6rem;
	height: 5.6rem;
	&::before,
	&::after {
		@include before-position-c;
		width: 2rem;
		height: 2rem;
		border-width: .2rem 0 .2rem 0;
		border-style: solid;
		border-color: $gr50;
	}
	&::after {
		height:.8rem;
	}
}
.btn-nav-close {
    position: absolute;
    top: -1.6rem;
    right: -1.6rem;
    width: 4rem;
    height: 4rem;
    background: $accent;
	border-radius: 50%;
	box-shadow: $shadow-lg;
	&::before {
		@include before-position-c;
	}
}
.site-nav-area {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
	box-sizing: border-box;
	padding: $spacing-3xlg $spacing-lg;
	margin:0 auto;
	background-color: #fff;
	box-shadow: $shadow-md;
	border-radius: $radius-sm;
	@include gradient-line($stroke-sm);
	&.is-active {
		display: block;
	}
	.nav-util,
	.btn-login {
    	display: none;
	}
	.site-nav {
		> ul {
			display: table;
			width:100%;
			table-layout: fixed;
			box-sizing: border-box;
			display: flex;

			> li {
				position: relative;
				flex:1;
				border-left:$border-secondary;
				padding:0 $spacing-sm;
				&:first-child {
					border-left: none;
				}
				> a {
					display: flex;
					align-items: center;
					justify-content: center;
					word-break: keep-all;
					width: 100%;
					text-align: center;
					height:4.8rem;
					margin-bottom: $spacing-md;
					@include typo('tit-md');
					// border-bottom: $border-secondary;

					&.is-on,
					&:focus,
					&:hover {
						color: $primary;
					}
				}
			}
			ul {
				display: flex;
				flex-direction: column;
				gap:$spacing-md;
				justify-content: center;
				a {
					display: block;
					text-align: center;
					font-weight: 500;
					@include typo('body-md');
					&.is-on,
					&:focus,
					&:hover {
						color: $primary;
					}
				}
			}
		}
	}
}

@include tablet {
	/* site-header */
    .site-header {
		$height:5.6rem;
		position: fixed;
		width: 100%;
		height: $height;
		z-index: 10;
		// .header-etc,
		.site-gnb,
		.util {
			display: none;
		}
		&.is-sticky {
			margin-top: 0;
		}
		.logo {
			height: 7.0rem;
			left:3.0rem;
		}
		.header-area,
		.header-top,
		.header-top .wrap,
		.header-area .logo {
			height: 100%;
		}
		.header-area .logo {
			display: flex;
			align-items: center;
			img {
				height:3.6rem;
			}
		}
		.header-etc {
			position: absolute;
			top:0;
			right:.4rem;
			padding:0;
			.wrap {
				display: block;
				display:flex;
				padding:0;
				align-items: center;
			}
		}
	}
	.btn-nav-open,
	.btn-schall {
		position: relative;
		top:auto;
		right:auto;
		width: 4.0rem;
		height: 5.6rem;
	}
	.btn-nav-close {
		right:.8rem;
		top:.8rem;
		z-index: 1;
		background-color: $accent;
		border:none;
		width: 2.8rem;
		height: 2.8rem;
	}
	.site-nav-area {
		position:fixed;
		left:0;
		right:0;
		top:0;
		bottom:0;
		box-sizing:border-box;
		z-index:1;
		background-color: rgba(0,0,0,.3);
		backdrop-filter: blur(3.0rem);
		.site-nav {
			box-shadow: $shadow-md;
			.nav-util,
			> ul {
				position:absolute;
				top:0;
				z-index:1;
				background-color:#fff;
				width:36.0rem;
				max-width:100%;
				right:0;
				margin:0;
				box-sizing:border-box;
				background-color: #fff;
			}
			.nav-util {
				display:block;
				height:10.5rem;
				box-sizing:border-box;
				padding:3.0rem 2.0rem;
				background-color:#fff;
				background-color: $secondary;
				color: #fff;
				.userinfo {
					margin-bottom:.5rem;
				}
				ul {
					font-size:0;
					white-space:nowrap;
					margin-top:.4rem;
				}
				li {
					display:inline-block;
					font-size:1.4rem;
					vertical-align:middle;
					border-radius: 0;
					a {
						padding:0 1.0rem;
						color:#fff;
					}
					&~ li:before {
						content:" ";
						display:inline-block;
						width:.1rem;
						height:1.3rem;
						vertical-align:middle;
						background-color:$gr30;
						margin-top:-.1rem;
					}
					&:first-child a {
						padding-left:0;
					}
				}
			}
			> ul {
				display: block;
			}
			> ul,
			> ul > li {
				display:block;
				text-align:left;
				border:none;
				box-sizing:border-box;
			}
			> ul {
				top:10.5rem;
				height:calc(100vh - 10.5rem);
				overflow-y:auto;
				padding:0 0 6.0rem;
				> li {
					> a {
						font-weight:600;
						color:$primary;
						min-height:6.0rem;
						// line-height:6.0rem; 
						margin-left:0;
						padding:0 2.0rem;
						width: auto;
						box-sizing: border-box;
						border-radius: 0;
						&:after {
							display: none;
						}
					}
				}
				ul {
					padding:0;
					a {
						display: flex;
						align-items: center;
						height:5.0rem;
						font-weight:600;
						padding:0 2.0rem;
						border-radius: 0;
					}
				}
			}
		} 
	}


	
}

@include mobile {
	.site-nav-area {
		.site-nav {
		.nav-util,
			> ul {
				width: 100%;
			}
		}
	}
}