.enroll-main {
	overflow: hidden;
	margin-top: 5rem;
}

.enroll-main>a {
	display: block;
	width: 49%;
	float: left;
	height: 17rem;
	box-sizing: border-box;
	padding: 3rem 2rem 2rem 16rem;
	position: relative;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
	background: #fff;
}

.enroll-main>a+a {
	margin-left: 2%;
}

.enroll-main>a.enroll-new {
	border: 0.1rem solid #ddd;
	border-top: 0.5rem solid $accent;
}

.enroll-main>a.enroll-exist {
	border: 0.1rem solid #ddd;
	border-top: 0.5rem solid #63b03c;
}

.enroll-main>a strong {
	font-size: 3rem;
	line-height: 1.2em;
	font-weight: 400;
	display: block;
}

.enroll-main>a.enroll-new:hover {
	background: #f3f8fc
}

.enroll-main>a.enroll-exist:hover {
	background: #f7fbf5
}

.enroll-main>a:hover:before {
	opacity: .8
}

.enroll-main>a:before {
	content: '';
	position: absolute;
	display: block;
	margin: 0 auto 1.5rem;
	width: 8rem;
	height: 8rem;
	top: 4rem;
	left: 4rem;
	opacity: .5;
}

.enroll-main>a.enroll-new:before {
	background: url(../../images/user/sub/icon_enroll_new.png) center center no-repeat;
	background-size: 8rem;
}

.enroll-main>a.enroll-exist:before {
	background: url(../../images/user/sub/icon_enroll_exist.png) center center no-repeat;
	background-size: 8rem;
}

.enroll-main>a p {
	font-size: 1.7rem;
	margin-top: 1rem;
	line-height: 1.7em;
}

.enroll-finish {
	border: 0.1rem solid #ddd;
	background: #fff;
	box-shadow: 0.4rem 0.4rem 0 #f5f5f5;
	max-width: 60rem;
	padding: 6rem;
	margin: 6rem auto 0;
}

.enroll-finish p {
	font-size: 1.8rem;
	line-height: 1.8em
}

.enroll-finish ul+p {
	margin-top: 3rem;
}

.licensing-num {
	border: 0.1rem solid #ddd;
	background: #fff;
	box-shadow: 0.4rem 0.4rem 0 #f5f5f5;
	max-width: 60rem;
	margin: 6rem auto 0;
}

.licensing-num>article {
	padding: 8rem 0 6rem;
}

.licensing-num>article+article {
	border-top: 0.1rem solid #ddd;
	padding: 6rem 0 6rem;
}

.licensing-num>article>div {
	overflow: hidden;
	max-width: 44rem;
	margin: 0 auto;
}

.licensing-num>article label {
	width: 10rem;
	font-size: 1.8rem;
	vertical-align: middle;
	font-weight: 400;
	float: left;
	line-height: 3.8rem;
}

.licensing-num>article input {
	border: 0;
	border-bottom: 0.1rem solid #aaa;
	font-size: 1.8rem;
	float: left;
	width: 25rem;
}

.licensing-num>article input:hover,
.licensing-num>article input:focus {
	background: transparent;
	border-bottom: 0.1rem solid;
}

.licensing-num>article p {
	box-sizing: border-box;
	max-width: 44rem;
	color: $gr60;
	margin: 2rem auto 0
}

.licensing-num>article+article span {
	font-size: 1.6rem;
	float: left;
	line-height: 3.8rem;
}

.licensing-num>article+article span:before {
	content: '?';
	display: inline-block;
	width: 2.2rem;
	height: 2.2rem;
	color: #fff;
	background: $primary;
	text-align: center;
	line-height: 2.1rem;
	border-radius: 1.2rem;
	margin-right: 0.5rem;
}

.licensing-num>article a.btn2 {
	float: right;
	width: 8rem;
}

.licensing-num>article+article a.btn2 {
	width: 14rem;
}

/* 학습창 NAV */
.learning-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 0 3rem 0;
	background: #444;
	border-top: 0.4rem solid $accent;
	height: 4.5rem;
}

.learning-nav a.learning-nav-open {
	display: none;
}

/* learning-nav : dep1 */
.learning-nav a {
	display: block;
	color: #fff;
}

.learning-nav>ul>li {
	float: left;
	position: relative;
	z-index: 9990;
}

.learning-nav>ul>li>a {
	display: block;
	padding: 1rem 3rem 0.7rem;
	font-size: 1.4rem;
	color: #fff;
	font-weight: 400;
	text-align: center;
}

.learning-nav>ul>li>.home {
	width: 2.4rem;
	height: 2.5rem;
	text-indent: -99.9rem;
	overflow: hidden;
	background: url('../../images/user/common/ico_home2.png') 0 1rem no-repeat;
	padding: 1.7rem 1rem 0 0;
	color: $accent;
}

.learning-nav>ul>li.current>.home,
.learning-nav>ul>li>.home:hover {
	background: url('../../images/user/common/ico_home2_on.png') 0 1rem no-repeat;
}

.learning-nav .newwin {
	height: 2rem;
	overflow: hidden;
	background: url('../../images/user/common/ico_full.png') 0 0.5rem no-repeat;
	padding: 0.5rem 0 1rem 3rem;
	line-height: 2rem;
	color: #fff;
	position: absolute;
	right: 13rem;
	top: 0.5rem;
}

.learning-nav .full {
	height: 2rem;
	overflow: hidden;
	background: url('../../images/user/common/ico_size.png') 0 0.5rem no-repeat;
	padding: 0.5rem 0 1rem 3rem;
	line-height: 2rem;
	color: #fff;
	position: absolute;
	right: 3rem;
	top: 0.5rem;
}

.learning-nav .full:hover {
	background: url('../../images/user/common/ico_size.png') 0 -3rem no-repeat;
	color: #71d3ff;
}

.learning-nav .standard {
	height: 2rem;
	overflow: hidden;
	background: url('../../images/user/common/ico_size.png') 0 -7rem no-repeat;
	padding: 1rem 0 1rem 3rem;
	line-height: 2rem;
	color: #fff;
	position: absolute;
	right: 3rem;
	top: 0.5rem;
}

.learning-nav .standard:hover {
	background: url('../../images/user/common/ico_size.png') 0 -11rem no-repeat;
	color: #71d3ff;
}

.learning-nav li+li+li {
	background: url('../../images/user/common/learning_nav_bar.gif') 0 1.6rem no-repeat;
}

.learning-nav>ul>li>a:hover,
.learning-nav>ul>li.current>a,
.learning-nav>ul>li>a.on,
.learning-nav>ul>li>a.on:hover,
.learning-nav>ul>li>a.on:focus {
	background: url('../../images/user/common/learning_nav_on.png') center 0 no-repeat;
	color: $accent;
}

/* learning-nav : dep2 */
.learning-nav .snb {
	display: none;
	height: 0;
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	bottom: 6.3rem;
	left: 0;
	background: #535356;
	opacity: 0;
}

.learning-nav .snb li>a {
	padding: 0 9.5rem 0 3.8rem;
}

.learning-nav .snb li {
	position: relative;
	white-space: nowrap;
	line-height: 3.3rem;
}

.learning-nav .snb li a {
	color: #c6c6c7;
}

.learning-nav .snb li a:hover,
.learning-nav .snb li a:focus {
	background-color: #404042;
	color: #fff;
}

.learning-nav .mCustomScrollbar {
	display: none;
	max-height: 33rem;
	padding-bottom: 2rem;
	background: url("../../images/user/common/more.png") center bottom no-repeat #535356;
}

.learning-nav .mCustomScrollbar.end {
	padding-bottom: 0.5rem;
	background-image: none;
}

/* learning-nav : dep3 */
.learning-nav .snb li ul {
	display: none;
}

.learning-nav .snb li.active ul {
	display: block;
}

.learning-nav .snb li ul a {
	padding-left: 7.3rem;
}

/* learning-nav : dep2, dep3 background */
.learning-nav li li a {
	background-image: url("../../images/user/common/study_nav_dep2.png");
	background-repeat: no-repeat;
}

.learning-nav .snb div>ul>li>a:only-child {
	background: none;
}

.learning-nav .snb li>a {
	background-position: 1.4rem 0;
}

.learning-nav .snb li>a:hover,
.learning-nav .snb li>a:focus {
	background-position: 1.4rem -4rem;
	color: #71d2ff;
}

.learning-nav .snb li.active>a {
	background-position: 1.4rem -8rem;
}

.learning-nav .snb li.active>a:hover,
.learning-nav .snb li.active>a:focus {
	background-position: 1.4rem -12rem;
}

.learning-nav .snb li li a {
	background-position: 5rem -16rem;
}

.learning-nav .snb li li a:hover,
.learning-nav .snb li li a:focus {
	background-position: 5rem -20rem;
}

/* learning-nav : 진도율 */
.learning-nav .snb li a span {
	position: absolute;
	width: 4.5rem;
	height: 1.8rem;
	top: 0.8rem;
	right: 1.5rem;
}

.learning-nav .snb li a span.progress {
	color: #fff;
	line-height: 1.8rem;
	border-radius: 0.9rem;
	text-align: center;
	font-size: 1.1rem;
	background: #b7a99a;
}

.learning-nav .snb li a span.studying {
	background: #85c93c;
}

.learning-nav .snb li a span.complete {
	background: #db821f;
}

.learning-nav .snb li a span.check {
	background: url("../../images/user/common/ico_check.png") center center no-repeat;
}

.learning-body {
	/*position:absolute;
	top:9.1rem;
	left:0;*/
	width: 100%;
	background: #ebebeb;
}

.learning-body iframe {
	width: 100%;
	height: calc(100% - 4.5rem);
	position: fixed;
	background: #fff;
}

.learning-body .learn-close {
	z-index: 999999;
	position: absolute;
	top: 1.5rem;
	right: 2.7rem;
	width: 4.8rem;
	height: 4.8rem;
	border: 0.1rem solid #aaa;
	border-radius: 2.4rem;
	background: url('../../images/user/common/pop_close.png') center center no-repeat #fff;
	background:
		/*＼**/
		url('../../images/user/common/pop_close_IE8.png') center center no-repeat;
	/*IE8*/
	background-size: 3rem;
	opacity: .5;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.learning-body .learn-close:hover {
	opacity: 1;
}

/* 학습창 */
/*.learn-nav {
	font-size:0;
	margin-bottom:5rem;
	background: #fff;
	box-shadow:0.5rem 0.5rem 1rem rgba(0,0,0,.075),  -0.5rem -0.5rem 1rem #ffffff;
	display:inline-block;
	border-radius:2.5rem;
	overflow:hidden;
}
.learn-nav li { 
	display:inline-block; 
}
.learn-nav li ~ li { border-left:0.1rem solid #eee; }
.learn-nav li a {
	display:block;
	font-size:1.8rem;
	width:14rem;
	height:5rem;
	line-height:3rem;
	padding:1rem 0 0;
	text-align:center;
	box-sizing:border-box;
	transition:background .3s;
}
.learn-nav li a:hover,
.learn-nav li a:focus { color:$accent; }
.learn-nav li.current a { color:$accent;background:rgba(11,118,200,.025); }*/
.red {
	color:$negative !important;
}
.blue {
	color:$bl !important;
}
.green {
	color:$gn !important;
}
.orange {
	color:$negative  !important;
}
.learn-nav {
	position: relative;
	font-size: 0;
	margin-bottom: 4rem;
	background: #fff;
	white-space: nowrap;
	display: block;
	overflow-x:auto;
	overflow-y:hidden;
	border-bottom: 0.2rem solid $gr20;
	background-color: $bg;
	border-radius: var(--radius-lg) var(--radius-lg) 0 0;
	&::after {
		content: " ";
		position: absolute;
		bottom:-0.2rem;
		background-size: contain;
		background-repeat: no-repeat;
		z-index:2;
		right:0.5rem;
		height: 3.6rem;
		width: 7.3rem;
		// right:-5rem;
		background-image:url($url-img + 'main/sch_obj2.svg');
	}
}

.learn-nav li {
	display: inline-block;
	&:last-child {
		a {
			&::after {
				display: none;
			}
		}
	}
}

.learn-nav li a {
	position: relative;
	z-index: 2;
	display: block;
	font-size: 1.8rem;
	height: 6rem;
	line-height: 6rem;
	padding: 0 2.8rem;
	text-align: center;
	box-sizing: border-box;
	transition: background .3s;
	font-weight: 600;
	&:focus {
		outline: none;
		&::before {
			@extend %focus;
		}
	}
	&::after {
		content: " ";
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -0.6rem;
		width: 1px;
		height: 1.2rem;
		background-color: #ddd;
	}
}
.learn-nav li a:hover,
.learn-nav li a:focus {
	color: $accent;
}

.learn-nav li.current a {
	color: $secondary;
	font-weight: 700;
	border-bottom: 0.5rem solid $secondary;
}

/* contents */
.learn-tit {
	position: relative;
	// padding-left: 7rem;

}

// .learn-tit cite {
// 	position: absolute;
// 	background: $primary;
// 	border-radius: $radius-xsm;
// 	color: #fff;
// 	font-size: 1.4rem;
// 	font-weight: bold;
// 	padding: 0 0.5rem;
// 	height: 2.6rem;
// 	width: 5rem;
// 	box-sizing: border-box;
// 	line-height: 2.5rem;
// 	text-align: center;
// 	left: 0;
// 	top: 0.5rem;
// }

// .learn-tit cite:after {
// 	content: '';
// 	position: absolute;
// 	border: 1.3rem solid transparent;
// 	border-left: 0.8rem solid $accent;
// 	border-right: 0;
// 	right: -0.8rem;
// 	top: 0;
// }

.learn-tit strong {
	font-size: 3.2rem;
	line-height: 1.15em;
	min-height: 1.15em;
	display: inline-block;
}

.learn-subtit {
	padding: 1.5rem 2rem;
	background: #444;
	color: #fff;
	font-size: 1.8rem;
	border-radius: 1rem 1rem 0 0;
	border-bottom: $border-primary;
	margin-right: 28rem;
}

.learn-subtit cite {
	display: inline-block;
	height: 2.6rem;
	line-height: 2.5rem;
	text-align: center;
	color: $accent;
	margin-right: 2rem;
}

.learn-subtit .current-state {
	float: right;
	font-size: 1.5rem;
}

.learn-subtit .current-state .contents-nm {
	display: inline-block;
	position: relative;
	margin-right: 1rem;
	padding-right: 1.1rem;
}

.learn-subtit .current-state .contents-nm:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 1.3rem;
	background: #fff;
	right: 0;
	top: 0.5rem;
	opacity: .5;
}

.learn-subtit .current-state .complete-nm em {
	display: inline-block;
	text-align: center;
	margin-left: 0.5rem;
	line-height: 2.8rem;
	padding: 0 1rem;
	border-radius: 1.4rem;
}

.learn-subtit .current-state .complete-nm em.spot {
	background: $accent;
	color: #fff;
}

.learn-subtit .current-state .complete-nm em.spot2 {
	background: $secondary;
	color: #fff;
}

.learn-info {
	overflow: hidden;
	padding: 0;
	border-bottom: 1px dashed #d6d6d7;
}

.learn-chart {
	font-size: 0;
	margin-bottom: 6.4rem;
	border:$border-secondary;
	padding:4rem 2.4rem;
	border-radius: var(--radius-lg);
}

.learn-chart li {
	position: relative;
	width: 25%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

.learn-chart li div {
	width: 20rem;
	height: 20rem;
	margin: 0 auto;
}

.learn-chart li dl {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 4rem;
}

.learn-chart li dl dt {
	position: absolute;
	top: 10rem;
	width: 100%;
	padding-top: 3rem;
	font-size: 1.8rem;
	color: $gr60;
	font-weight: 700;
}

.learn-chart li dl dd {
	font-size: 1.8rem;
	position: relative;
}

.learn-chart li dl.chart-day dd {
	color: $primary;
}

.learn-chart li dl.chart-progress dd {
	color: $accent;
}
.learn-chart li dl.chart-score dd {
	color: $secondary;
}

.learn-chart li dl dd strong {
	font-size: 6rem;
	font-weight: 600;
	letter-spacing: -0.05em;
}

.learn-chart li dl dd em {
	color: #fff;
	font-size: 3.5rem;
	font-family: helvetica;
	position: relative;
	top: 0.5rem;
}

.learn-chart li:last-child dt {
	color: $primary;
}

.learn-date {
	position: relative;
	padding: 0 0 2rem;
}

.learn-date .ico-time {
	display: inline-block;
	border-top: $border-primary;
	border-bottom: $border-primary;
	padding: 0 1px;
	vertical-align: -1px;
	margin-right: 0.5rem;
	width: 1.2rem;
	height: 1.2rem;
}

.learn-date .ico-time::before {
	content: '';
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	box-sizing: border-box;
	border: 0.6rem solid transparent;
	border-top: 0.6rem solid $gr30;
	border-bottom: 0.6rem solid $gr30;
}

.learn-date dl {
	display: inline-block;
	padding: 1rem 0;
}

.learn-date dt,
.learn-date dd {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	letter-spacing: -0.025em;
	vertical-align: top;
}

.learn-date dt {
	color: #555;
	font-weight: 300;
	font-size: 1.6rem;
}

.learn-date dd {
	margin-left: 1rem;
	letter-spacing: 0;
	font-size: 1.6rem;
}

a.learn-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 20rem;
	height: 20rem;
	border-radius: 5rem;
	text-align: center;
	font-size: 2.8rem;
	color: #fff;
	text-align: center;
	background: linear-gradient(-45deg, $bl, $secondary);
	
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	&:hover {
		background-color: $primary;
		animation-play-state: paused;
		box-shadow: $shadow-md;
	}
	&::before {
		content: " ";
		display: block;
		margin-bottom: 0.8rem;
		//@include ico($ico-md, class, wh);
	}
}

.learn-notice {
	position: relative;
	// padding: 2.5rem 0 2.5rem 11.5rem;
	margin-top: 2.4rem;
	// border-top: $border-primary;
	//border-bottom: $border-secondary;
	border:$border-secondary;
	border-radius: var(--radius-lg);
	padding:2.4rem 2.4rem 2.4rem 11.5rem;
	box-sizing: border-box;
	min-height: 14.4rem;
	overflow: hidden;
	&::before {
		content: " ";
		position: absolute;
		bottom:0;
		background-size: contain;
		background-repeat: no-repeat;
		z-index: -1;
		left:2rem;
		bottom:-0.4rem;
		height: 8rem;
		width: 5.2rem;
		background-image:url($url-img + 'main/sch_obj1.svg');
		z-index: 1;
	}
}

.learn-notice h4 {
	position: absolute;
	top: 2.5rem;
	left: 2.4rem;
	margin-top: 0;
	width: 9.5rem;
	line-height: 2.8rem;
	background: url("../../images/user/common/bar.gif") right 0.8rem no-repeat;
}

.learn-notice ul {}

.learn-notice ul li {
	line-height: 2.8rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.6rem;
}

.learn-notice ul li~li {
	margin-top: 0.5rem;
}

.learn-notice ul li span.date {
	color: $gr60;
	margin-right: 2.5rem;
}

.learn-notice ul li a:hover {
	text-decoration: underline;
}

.learn-notice .more {
	position: absolute;
	width: 3rem;
	height: 3rem;
	top: 2.5rem;
	right: 1rem;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.learn-notice .more:hover {
	-ms-transform: rotate(90deg);
	/* IE 9 */
	-webkit-transform: rotate(90deg);
	/* Safari */
	transform: rotate(90deg);
}

/* 학습현황판 */
.toggle-state-panel {
	position: absolute;
	left: -4rem;
	top: 4rem;
	width: 4rem;
	padding: 1rem 0;
	border-radius: 0.8rem 0 0 0.8rem;
	height: auto;
	background: #fff;
	font-size: 1.5rem;
	line-height: 1.8rem;
	text-align: center;
	z-index: 2;
	box-shadow: -0.2rem 0 0.2rem rgba(0, 0, 0, .1);
	display: none;
}

/* .toggle-state-panel:after {
	content:'';
	display:block;
	width:0;
	height:0;
	border-left:0;
	border-top:0.5rem solid transparent;
	border-bottom:0.5rem solid transparent;
	border-right:1rem solid #555;
	margin:0.5rem auto 0;
	transition:all .3s;
	transform:rotate(0);
}
.learn-state-panel.is-open .toggle-state-panel:after {
	transform:rotate(-180deg);
} */
.learn-state-panel {
	position: absolute;
	width: 22rem;
	right: 2rem;
	top: 22.5rem;
	background: #fff;
	border-radius: 10rem;
	box-shadow: 0 0 1.5rem rgba(0, 0, 0, .15);
	box-sizing: border-box;
	padding: 2rem 2rem;
	transition: all .3s;
}

.learn-state-panel.is-open {
	right: 0;
}

@media screen and (min-width: 168rem) {
	.learn-state-panel {
		right: 0rem;
	}

	.toggle-state-panel {
		display: none;
	}
}

.learn-state-panel h3 {
	text-align: center;
	padding-bottom: 1rem;
}

.learn-state-panel .state-list {
	overflow-y: auto;
	max-height: calc(100vh - 22rem);
}

.learn-state-panel ol li {
	display: flex;
	height: 3.6rem;
	border: $border-secondary;
	box-sizing: border-box;
	border-radius: 0.4rem;
	overflow: hidden;
}

.learn-state-panel ol li~li {
	margin-top: 0.5rem;
}

.learn-state-panel ol li .num {
	background: #fff;
	border-right: $border-secondary;
	font-size: 1.5rem;
	display: block;
	width: 3.4rem;
	line-height: 3.4rem;
	text-align: center;
}

.learn-state-panel ol li .progress {
	flex: 1;
	position: relative;
	background: #f5f5f5;
}

.learn-state-panel ol li .progress .progress-bar {
	display: block;
	width: 0;
	height: 3.4rem;
	background: $secondary;
	position: static;
}

.learn-state-panel ol li .progress.end .progress-bar {
	background: $accent;
}

.learn-state-panel ol li .progress .percent {
	line-height: 3.4rem;
	text-align: right;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	font-size: 1.4rem;
	font-weight: bold;
	box-sizing: border-box;
	padding-right: 1rem;
}

.learn-state-panel ol li .progress.end .percent {
	color: #fff;
}

.state-task {
	margin-top: 1rem;
}

.state-task li {
	padding: 0.5rem 1.5rem;
	border: $border-secondary;
	border-radius: 2rem;
	margin-bottom: 0.5rem;
	overflow: hidden;
	position: relative;
}

.state-task li cite {
	display: block;
	font-size: 1.5rem;
	line-height: 2.4rem;
	vertical-align: top;
}

.state-task li .task-on {
	position: absolute;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	background: $accent;
	top: 50%;
	margin-top: -1.1rem;
	right: 1rem;
}

.state-task li .task-off {
	position: absolute;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	background:$negative;
	top: 50%;
	margin-top: -1.1rem;
	right: 1rem;
}

/* test */
.test-info,
.survey-info {
	position: relative;
	border-bottom: 0.2rem solid #7a7a7a;
	min-width: 60rem;
	padding: 2.7rem 35rem 2.7rem 5.5rem;
}

.test-info ul,
.survey-info ul {
	overflow: hidden;
}

.test-info ul li {
	float: left;
	vertical-align: middle;
	width: 50%;
	line-height: 3rem;
	font-size: 1.077em;
}

.survey-info ul li {
	float: left;
	vertical-align: middle;
	width: 100%;
	line-height: 3rem;
	font-size: 1.077em;
}

.test-info ul li cite,
.survey-info ul li cite {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 9rem;
	font-weight: 500;
}

.test-info ul li span,
.survey-info ul li span {
	white-space: nowrap;
}

.test-time {
	position: absolute;
	top: 3.6rem;
	right: 5.5rem;
	width: 29.5rem;
	height: 7.3rem;
	line-height: 7.2rem;
	background: url("../../images/user/learn/test_time_bg.gif") 0 0 no-repeat;
}

.test-time span {
	font-weight: 500;
	float: left;
	margin-left: 4.4rem;
	color: #fff;
}

.test-time strong {
	float: right;
	width: 16rem;
	text-align: center;
	font-size: 3.077em;
	color: #fff;
	font-weight: normal;
}

.test-time.finish {
	background: url("../../images/user/learn/test_finish_bg.gif") 0 0 no-repeat;
}

.test-time.finish span {
	margin-left: 2.6rem;
}

.test-time.finish strong {
	color: $negative;
}

// .quiz {}

// .quiz p {
// 	margin-top: 2rem;
// 	padding-top: 2.6rem;
// 	font-weight: 500;
// 	font-size: 1.6rem;
// }

// .quiz p cite {
// 	display: inline-block;
// 	*zoom: 1;
// 	*display: inline;
// 	margin-right: 1.5rem;
// 	font-size: 2.4rem;
// 	letter-spacing: -0.08em;
// }

// .quiz p cite:first-letter {
// 	color: $gr60;
// }

// .quiz p .level {
// 	display: block;
// 	width: 13.6rem;
// 	padding: 0 2rem;
// 	margin-bottom: 1rem;
// 	height: 2.8rem;
// 	line-height: 2.7rem;
// 	font-size: 0.923em;
// 	border-radius: 1.4rem;
// 	white-space: nowrap;
// }

// .quiz p .level em {
// 	display: inline-block;
// 	color: $accent;
// }

// .quiz p .level em+em {
// 	color: $negative;
// 	margin-left: 1.1rem;
// 	padding-left: 1.6rem;
// 	background: url("../../images/user/learn/partition2.gif") 0 center no-repeat;
// }

// .quiz ol {
// 	margin: 1.5rem 0 3rem;
// 	padding-left: 5.5rem;
// }

// .quiz ol li {
// 	font-size: 1.5rem;
// 	line-height: 2.1rem;
// 	position: relative;
// }

// .quiz ol li+li {
// 	margin-top: 1rem;
// }

// .quiz ol li cite {
// 	margin-right: 0.5rem;
// 	margin-left: 0.5rem;
// 	font-size: 1.5rem;
// }

// .quiz ol li.answer label {
// 	font-weight: 500;
// 	text-decoration: underline;
// }

// .quiz p+div {
// 	margin-left: 5.5rem;
// 	margin-top: 1.7rem;
// }

// .quiz p+div textarea {
// 	width: 96%;
// 	padding: 2%;
// }

// .quiz .comment {
// 	padding: 2rem 0 1rem;
// 	text-align: center;
// 	color: $accent;
// 	font-weight: 500;
// }

// .quiz+.btn-cont {
// 	border-top: $border-secondary;
// 	padding-top: 1rem;
// }

// .quiz input.q4,
// .quiz textarea.q4 {
// 	margin-top: 1.5rem;
// 	font-size: 1.5rem;
// 	resize: none;
// 	border: $border-secondary;
// }

// .quiz input[readonly],
// .quiz textarea[readonly] {
// 	background: #fcfcfc;
// 	color: $gr60;
// }
.q-area {
	display: flex;
	gap:4rem;
}
// .q-body .contents {
//     position:relative;
//     padding:3rem 4rem;
//     overflow-y:auto;
//     height:calc(100vh - 7.5rem);
//     box-sizing:border-box;
// }
.q-cont {
	flex:1;
}
.q-aside {
	position: relative;
	flex:none;
	.sticky {
		display: flex;
		top:0;
		flex-direction: column;
		width: 24rem;
		position: sticky;
		top:0;
		padding:0;
		gap:2rem;
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - 4rem);
		box-sizing: border-box;
		ol {
			flex:1;
		}
	}
}
.time-area {
    height:4.4rem;
    line-height:4.4rem;
    padding:0;
    background-color:$bk;
    border-radius:2em;
    color:#fff;
    white-space:nowrap;
    width: 100%;
    box-sizing: border-box;
	text-align:center;
}
 .time-area cite {
	display:inline-block;
    vertical-align:top;
 }
 .time-area cite .ico-time-spot { vertical-align:-0.2rem; }
 .time-area span {
    margin-left:0.5rem;
    font-size:2.4rem;
	line-height:4.4rem;
    font-weight:700;
    color:$accent;
	display:inline-block;
    vertical-align:top;
}
.q-aside ol {
    overflow-y:auto;
    background:#eee;
	border-radius:$radius-xsm;
	border:$border-primary;
}
.q-aside ol li {
    position:relative;
    padding-left:9rem;
    padding-right:2rem;
/*     height:3.9rem; */
    line-height:3.5rem;
    color:#333;
    font-size:1.4rem;
    word-break: break-all;
	border-bottom:$border-primary;
}
/*.q-aside ol li .num {
    display:inline-block;
    height:2.2rem;
    width:2.2rem;
    line-height:2.4rem;
    border:$border-primary;
    border-radius:50%;
    text-align:center;
}*/
.q-aside ol li span {
	display:block;
    line-height: 1.8rem;
    padding:1rem 0;
	font-weight:500;
}
.q-aside ol li p {
    display:block;
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.q-aside ol li .q-num {
    position:absolute;
    top:0;
    left:0;
    width:7rem;
    height:100%;
	line-height:3.9rem;
    border-right:$border-primary;
    box-sizing:border-box;
    
	a {
		display: flex;
		padding-left:2rem;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		font-size:1.4rem;
		background-color:rgba(0,0,0,.1);
		&:hover {
			background-color:rgba(0,0,0,.05);
		}
	}
}
.q-aside .btn-cont {
    width:100%;
    background:#fff;
    border:$border-primary;
    box-sizing:border-box;
    padding:1rem 2rem;
    margin:0;
	border-radius:1rem;
}
.q-aside .test-time {
	text-align:center;
	display:block;
	padding:1.5rem 0 10.3rem 0;
	margin:0;
	margin-bottom:0.5rem;	
}
.q-aside .test-time em { margin-left:1rem; }
.q-aside .btn-cont [class^=btn] {
    width:100%;
    padding:0;
    margin:0;
	border-radius:2em;
}
.q-aside .btn-cont [class^=btn] +  [class^=btn]  {
	margin-top:1rem;
	margin-left:0;
}
.q-list {
	& > li {
		position:relative;
		padding-left:5rem;
		margin-bottom:6rem;
		&:last-child {
			margin-bottom: 0;
		}
		> cite {
			position:absolute;
			left:0;
			top:0;
			color:$bk;
			font-weight:700;
			font-size:2.2rem;
			line-height:normal;
		}
	}
	h2 {
		font-weight:normal;
		line-height:1.44;
		margin-bottom:2rem;
		font-size:var(--fs-lg);
		font-weight: 600;
	}
	label {
		padding-left:6rem;
	}
	.checkradio input[type=radio]:checked ~ label,
	.checkradio input[type=checkbox]:checked ~ label {
		color:$secondary;
		
		strong {
			font-weight:600;
		}
	}
	.num {
		position: absolute;
		font-weight: 700;
		margin-right:0.8rem;
		top:-1px;
	}
	strong {
		display: block;
		font-weight: 400;
		padding-left: 2.4rem;
	}
	ol {
		display: flex;
		flex-direction: column;
		gap:1.2rem;
	}
	.q-btn-cont {
		text-align: right;
		background-color: $bg;
		margin-top:0.4rem;
		padding:0.4rem 1.2rem;
		.btn {
			min-width: 10rem;
		}
	}
}
.q-list .answer-o {
    position:absolute;
    left:-2rem;
    top:-2rem;
    width:6rem;
    height:6rem;
    border:4px solid #009deb;
    border-radius:50%;
    text-indent:-9999rem;
    font-size:1px;
    z-index:1;
}
.q-list textarea {
}
.q-list .answer-x {
    position:absolute;
    left:-1.4rem;
    top:-1.4rem;
    width:6rem;
    height:6rem;
    text-indent:-9999rem;
    font-size:1px;
    z-index:1;
}
.q-list .answer-x:before,
.q-list .answer-x:after {
    content:"";
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-0.2rem;
    margin-left:-0.2rem;
    width:6rem;
    height:4px;
    background-color:#f9666b;
}
.q-list .answer-x:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform:  translate(-50%, -50%) rotate(45deg);
    -ms-transform:  translate(-50%, -50%) rotate(45deg);
    transform:  translate(-50%, -50%) rotate(45deg);
}
.q-list .answer-x:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform:  translate(-50%, -50%) rotate(-45deg);
    -ms-transform:  translate(-50%, -50%) rotate(-45deg);
    transform:  translate(-50%, -50%) rotate(-45deg);
}
.q-list .label {
    position:absolute;
    left:-5rem;
    width:4rem;
    padding:0;
}
.q-list .comment li {
    position:relative;
    margin-top:2rem;
    font-size:1.5rem;
    color:#8190a5;
    line-height:1.375;
}
.q-list .comment li .label.spot ~ p {
    color:#092f87;
}
.q-txt {
    font-size:2.4rem;
    text-align:center;
    font-weight:normal;
    margin-top:8rem;
}


.example p {
	background: #f8f8f8;
	border: $border-secondary;
	font-weight: normal;
	padding: 0.8rem 2rem;
	margin-top: 0;
}

.example img {
	border: $border-secondary;
	display: block;
}

.example img+p {
	margin-top: 1rem;
}

.progress-bar {
	position: absolute;
	left: 30%;
	top: 0;
	width: 24.5rem;
	color: $accent;
	font-weight: 500;
}

.progress-bar>span {
	float: left;
	width: 3.5rem;
	text-align: right;
}

.progress-bar>.progress-graph {
	float: right;
	margin-top: 0.8rem;
	height: 0.6rem;
	width: 20rem;
	overflow: hidden;
	border-radius: 0.3rem;
	background: $gr30;
}

.progress-graph>div {
	height: 0.6rem;
	border-radius: 0.3rem;
	width: 0;
	background: $accent;
}

.explanation {
	background: #f7f7f6;
	margin-top: -1rem;
	padding: 1.5rem 2.2rem;
}

.quiz div+.explanation {
	margin-top: 2rem;
}

.explanation dl {
	position: relative;
}

.explanation dt {
	position: absolute;
	font-weight: 500;
	width: 3.8rem;
	background: url("../../images/user/learn/partition2.gif") right center no-repeat
}

.explanation dd {
	padding-left: 5.2rem;
}

.explanation dt~dt,.explanation dd~dd {
	margin-top: 1rem;
}

.lodging {
	overflow: hidden;
}

.lodging .lodg-list {
	float: left;
	width: 49%;
	height: 30rem;
	border: $border-secondary;
	overflow-y: auto;
}

.lodging .lodg-list li {
	line-height: 3rem;
	height: 3rem;
}

.lodging .lodg-list li a {
	display: block;
	padding-left: 1rem;
}

.lodging .lodg-list li.ui-tabs-active a {
	background: #f1f1f1;
}

.lodging .lodg-list li a:hover {
	background: #f9f9f9;
}

.lodging .lodg-map {
	float: right;
	width: 49%;
	text-align: center;
	height: 30rem;
	border: $border-secondary;
	overflow-y: hidden;
}


/* status-list */
.empas {
	font-size:2.4rem;
	margin-bottom: 1.6rem;
}
.learn-state {
	margin-top: 2.4rem;
}

.status-list {
	overflow: hidden;
}

.status-list section {
	float: left;
	// background: $bg;
	border:$border-secondary;
	border-radius: var(--radius-lg);
	box-sizing: border-box;
	min-height: 21.1rem;
	padding: 2rem;
	position: relative;
}

.status-list section+section {
	margin-left: 2%;
}

.status-list section h4,
.status-list section h5 {
	margin-top: 0;
	padding-left: 0;
	background: none;
	font-size:var(--fs-lg);
	height: 2.8rem;
	color: #000;
	padding-bottom: 1.2rem;
	border-bottom: $border-secondary;
}

.status-list section h4+.red,
status-list section h4+.blue,
.status-list section h5+.red,
.status-list section h5+.blue,
.status-list section .label  {
	position: absolute;
	top: 2rem;
	right: 2rem;
	font-weight: 600;
}

.status-list section:only-child {
	width: 100%;
}

.status-list section:nth-child(1):nth-last-child(2),
.status-list section:nth-child(1):nth-last-child(2)~section {
	width: 49%;
}

.status-list section:nth-child(1):nth-last-child(3),
.status-list section:nth-child(1):nth-last-child(3)~section {
	width: 32%;
}

.status-list section:nth-child(1):nth-last-child(4),
.status-list section:nth-child(1):nth-last-child(4)~section {
	width: 23.5%;
}

.status-list section:nth-child(1):nth-last-child(5),
.status-list section:nth-child(1):nth-last-child(5)~section {
	width: 18.4%;
}

.status-list section:nth-child(1):nth-last-child(5) h5,
.status-list section:nth-child(1):nth-last-child(5)~section h5,
.site-body .site-contents .status-list section:nth-child(1):nth-last-child(5) h4,
.site-body .site-contents .status-list section:nth-child(1):nth-last-child(5)~section h4 {
	font-size: 2.3rem;
}

.status-list section:nth-child(1):nth-last-child(6),
.status-list section:nth-child(1):nth-last-child(6)~section {
	width: 32%;
	margin-bottom: 1rem;
}

.status-list section:nth-child(1):nth-last-child(6)+section+section+section {
	margin-left: 0;
}

.status-list section ul {
	margin-top: 1.5rem;
}

.status-list section li {
	line-height: 2.1rem;
	font-size: 1.6rem;
}

.status-list section li+li {
	margin-top: 0.8rem;
}

.status-list section li cite,
.status-list section li span,
.status-list section li a {
	display: inline-block;
	vertical-align: top;
}

.status-list section li cite {
	color: $gr60;
	width: 7.5rem;
	font-weight: 600;
}

.status-list section li span {
	color: #000;
}

.status-list section.total {
	position: relative;
	background: $bg;
	color: #fff;
	border-color: $gr30;
}

.site-body .site-contents .status-list section.total h4,
.status-list section.total h5 {

}

.site-body .site-contents .status-list section.total h4,
.status-list section.total h5 {
	border-bottom:$border-primary;
}

.status-list section.total li cite {
}

.status-list section.total li span {

}

// .status-list section.total .red {
// 	color: $negative !important;
// }

// .status-list section.total .blue {
// 	color: $bl !important;
// }

.learn-iframe {
	margin-right: 28rem;
}

.learn-iframe iframe {
	display: block;
	border: 0;
	width: 100%;
	overflow: hidden;
}

.learn-iframe~.btn-cont {
	margin-right: 28rem;
}

/* checkup */
.checkup .btn-cont {
	font-weight: 500;
}

.exampaper .btn {
	font-weight: 500;
}

.checkup {
	padding-right: 23.7rem;
}

.checkup p {
	position: relative;
	margin-top: 4rem;
	text-indent: -2.7rem;
	padding-left: 5.3rem;
	font-size: 1.429em;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.checkup p .mp3 {
	margin-left: 1rem;
	text-indent: 0;
}

.checkup p cite {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	margin-right: 0.5rem;
	font-size: 1.429em;
	font-weight: 500;
	font-family: 'calibri'
}

.checkup p cite:first-letter {
	font-size: 1.250em;
}

.checkup p.right-answer .after {
	position: absolute;
	width: 4.9rem;
	height: 4.9rem;
	top: -1.1rem;
	left: -0.7rem;
	text-indent: -99.9rem;
	overflow: hidden;
	background: url('../../images/user/common/answer_o.png') 0 0 no-repeat;
}

.checkup p.wrong-answer .after {
	position: absolute;
	width: 4.9rem;
	height: 4.9rem;
	top: -1.1rem;
	left: -0.7rem;
	text-indent: -99.9rem;
	overflow: hidden;
	background: url('../../images/user/common/answer_x.png') 0 0 no-repeat;
}

.checkup ol {
	margin: 1.5rem 0 1.5rem 5.3rem;
}

.checkup ol li {
	position: relative;
	font-family: 'Calibri', 'Nanum Gothic';
	font-size: 1.0.8rem;
	font-weight: 400;
	line-height: 3.4rem;
}

.checkup ol label {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	cursor: pointer;
}

.checkup ol li label {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	padding-left: 4rem;
	padding-right: 1rem;
	cursor: pointer;
	border-radius: 0.5rem;
}

.checkup ol li label input {
	position: absolute;
	opacity: 0;
}

.checkup ol li label.disabled:hover {
	background: #fff;
}

.checkup ol li label:hover {
	background: rgba(255, 255, 0, .2);
}

.checkup ol li label.disabled {
	cursor: default;
}

.checkup ol li.answer label {
	color: $secondary;
}

.checkup .bundle {
	border-bottom: $border-primary;
	padding: 2rem 0;
}

.checkup .bundle article {
	margin-left: 0;
}

.checkup .bundle p:first-child cite:first-letter {
	font-size: 1.538em
}

.checkup ol cite {
	position: absolute;
	top: 0rem;
	left: 1rem;
}

.checkup ol li label input:checked~cite:after {
	content: " ";
	position: absolute;
	width: 2.4rem;
	height: 1.9rem;
	top: 2px;
	left: 2px;
	background: url('../../images/user/common/subject_level_check.png') 0 0 no-repeat;
}

.checkup ol em {
	text-decoration: underline;
}

.checkup .btn-cont {
	margin-top: 5rem;
}

.explanation {
	padding: 1.5rem 2rem;
	border-top: $border-secondary;
	border-bottom: $border-secondary;
	color: #555;
}

.explanation h3 {
	font-size: 1.077em;
	line-height: 2rem;
	margin: 0;
	padding: 0;
	padding-left: 2.6rem;
	background: url('../../images/user/common/ico_solution.gif') 0 0 no-repeat;
	color: $accent;
}

.explanation ol {
	margin: 1rem 0 0;
	;
}

.explanation ol cite {
	font-size: 1.077em;
}

.exampaper {
	position: absolute;
	right: 0px;
	top: 21.5rem;
	width: 21.2rem;
}

.exampaper .exam-header {
	background: #ededed;
	border-bottom: $border-secondary;
	border-top: $border-secondary;
	line-height: 4rem;
}

.exampaper .exam-header cite {
	border-right: $border-secondary;
	font-size: 1.077em;
}

.exampaper .exam-header span {
	border-right: $border-secondary;
	font-weight: 500;
	font-size: 1.077em;
}

.exampaper .exam-header em {
	font-weight: 500;
	font-size: 1.077em;
}

.exampaper .exam-list {
	height: 26.4rem;
	overflow: hidden;
	border-right: $border-secondary;
	border-left: $border-secondary;
	border-bottom: $border-secondary;
}

.exampaper ol {
	width: 23.2rem;
	overflow-y: auto;
	height: 22.4rem;
	background: #fbfbfb;
	line-height: 4rem;
}

.exampaper li {
	border-top: $border-secondary;
	position: relative;
}

.exampaper li:first-child {
	border-top: 0;
}

.exampaper li a {
	display: block;
	height: 4.3rem;
	line-height: 4.2rem;
}

.exampaper li a:hover,
.exampaper li a:focus {
	background: #edf5fa;
	outline: 0;
}

.exampaper .mo-exam-open {
	display: none;
}

.exampaper .exam-list cite,
.exampaper .exam-list span,
.exampaper .exam-list em {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	text-align: center;
	height: 4.3rem;
	vertical-align: top;
}

.exampaper .exam-list cite {
	width: 3.9rem;
	border-right: $border-secondary;
	color: #555;
	font-weight: 500;
	font-size: 1.0.6rem;
}

.exampaper .exam-list span {
	width: 8rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-right: $border-secondary;
	font-size: 1.0.6rem;
}

.exampaper .exam-list em {
	width: 7.8rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: $secondary;
	font-size: 1.6rem;
}

.exampaper li .after {
	position: absolute;
	width: 4rem;
	height: 4.3rem;
	top: 0;
	left: 0;
	border-right: 0;
}

.exampaper li.right-answer .after {
	background: url('../../images/user/common/answer_s_o.png') center no-repeat;
}

.exampaper li.wrong-answer .after {
	background: url('../../images/user/common/answer_s_x.png') center no-repeat;
}

.contents-wrap {
	position: relative;
	margin-top: 5rem;
	min-height: 56.4rem
}

.check-time {
	margin-bottom: 0.5rem;
	background: url('../../images/user/common/ico_time.gif') 1.8rem 2rem no-repeat #fbfbfb;
	border: $border-primary;
	padding: 1.8rem 2rem;
}

.check-time cite,
.check-time em {
	display: inline-block;
	font-weight: 500;
	font-size: 1.0.6rem;
}

.check-time cite {
	margin-left: 2.5rem;
	margin-right: 0.5rem;
	float: left;
}

.check-time em {
	float: right;
}

.check-time .btn {
	margin-top: 1rem;
	clear: both;
	width: 100%;
}

/* accordion */
.learn-accordion {
	border-top: 2px solid $bk;
	margin-top: 1.5rem;
	li {
		position: relative;
		border-bottom: $border-primary;
	}
	.accordion-tit-area {
		position:relative;
		.num {
			position: absolute;
			left:0;
			top:1.9rem;
			color:$primary;
			font-weight:700;
			width: 8rem;
			text-align: center;
		}
		padding:2rem 6rem 2rem 10rem;
	}
	.ico  {
		position: absolute;
		right:2rem;
		top:50%;
		margin-top:-5px;
		display:block;
		width: 1rem;
		height: 1rem;
		border-top: $border-primary;
		border-left: $border-primary;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		transform: rotate(-135deg);
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		transition: all .5s;
	}
	.btn-accordion-toggle {
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		text-indent: -99999rem;
		font-size:0;
	}
	li.is-active {
		.accordion-tit-area cite{
			font-weight:500;
		} 
		.ico {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		} 
		.accordion-txt-area {
			display: block;
		}
	}
	.accordion-txt-area {
		display:none;
		padding: 3rem 7rem;
		border-top: $border-primary;
		color: #333;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 2.8rem;
		background: #fbfbfb;
		letter-spacing: 0;
		a:not(.btn),
		a:not(.btn-sm),
		a:not(.btn-lg) {
			text-decoration: underline;
		} 
		b,
		strong {
			font-weight: 700;
		}
	} 
}

/* -------------------------------------------------    
    .player 
------------------------------------------------- */
.player-area {
	height: 70rem;
	background: #000;
	padding: 0;
}

.player-area h3 {
	height: 4.5rem;
	box-sizing: border-box;
	padding-left: 3.5rem;
	color: #fff;
	padding-top: 1.5rem;
	position: relative;
	font-size: 1.8rem;
	text-align: left;
	margin-bottom: 1rem;
}

.player-area h3:before {
	content: '';
	position: absolute;
	width: 0.6rem;
	height: 2rem;
	border-radius: 0.3rem;
	background: $accent;
	top: 1.4rem;
	left: 2.1rem;
}

.player-area h3:after {
	content: '';
	position: absolute;
	background: #000
}

.player-area .video-js {
	width: 100%;
	height: calc(100% - 4.5rem);
}

.vjs-theme-fantasy .vjs-control-bar {
	border-radius: 2.7rem;
}

.vjs-theme-fantasy .vjs-big-play-button {
	font-size: 10rem !important;
	text-indent: -0.2em !important;
	color: $accent !important;
}

.player-btns {
	background: #000;
	text-align: right;
	height: 4.5rem;
	padding: 1.7rem 3rem;
	font-size: 0ß;
}

.player-btns .btn {
	height: 4.5rem;
	box-sizing: border-box;
	width: 11rem;
	font-size: 1.5rem;
	line-height: 4.5rem
}

.player-btns .btn {
	border-radius: 2.5rem 0 0 2.5rem;
	padding: 0 2rem 0 3rem;
}

.player-btns .btn.spot3 {
	border-radius: 0 2.5rem 2.5rem 0;
	padding: 0 3rem 0 2rem;
	margin-left: 0;
}

.player-btns .btn.spot2 {
	border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
	padding: 0 2rem 0 2rem;
	margin-left: 1rem;
}

@include  tablet {
	.learn-tit {
		strong {
			display: block;
			font-size:2.8rem;
		}
	}
	.learn-chart { padding-bottom:5rem; }
	.learn-chart li div { width:14rem;height:14rem; }
	.learn-chart li dl dt { padding-top:5rem; }
	.learn-chart li dl dd strong { font-size:4.5rem; }
	a.learn-btn {
		width: 14rem;
		height: 14rem;
		border-radius: 2rem;
		line-height:14rem;
		font-size: 2rem;
	}
	/* 네비 */
	.learn-nav {
		&::after {
			display: none;
		}
		width: calc(100% + 4rem);
		margin-left:-2rem;
	}

}
@include  table-sm {
			 
	   .checkup { padding-right:0; }
	   .check-time { 
		   position:fixed;
		   top:0;
		   left:0;
		   right:0;
		   border-top:0;
		   border-left:0;
		   border-right:0; 
	   }
	   .check-time em { float:left; }
	   .check-time .btn {
		   z-index:999;
		   position:absolute;
		   top:0.9rem;
		   right:2rem;
		   height:4rem;
		   line-height:4rem;
		   margin-top:0;
		   padding:0 2rem;
		   min-width:auto; 
	   }
	   
	   .exampaper { 
		   position:fixed;
		   left:0;
		   right:0;
		   bottom:0;
		   width:100%;
		   top:auto;
		   z-index:99;
	   }
	   .exampaper .mo-exam-open { display:block;outline:0;width:40%;padding:0;border:0;height:3rem;margin:0 auto;font-size:1.3rem;background:$accent;border-radius:5px 5px 0 0;color:#fff; }
	   .exampaper .mo-exam-open span:after { 
		   content:'';
		   display:inline-block;
		   width:6px;
		   height:6px;
		   margin-left:6px;
		   border-top:2px solid #fff;
		   border-right:2px solid #fff;
		   transform:rotate(135deg) translateX(-3px);
	   }
	   .exampaper.is-open .mo-exam-open span:after {
		   transform:rotate(-45deg) translateX(-1px);
	   }
	   .exampaper .exam-list { display:none;border-top:2px solid $accent }
	   .exampaper.is-open .exam-list { display:block; }
	   .exampaper ol { width:100%; }
	   
	   .step2 li {
		   padding-left:0;
	   }
	   
	   .enroll-main > a {
		   padding:3rem 2rem 2rem 12rem;
	   }
	   
	   .enroll-main > a strong {
		   font-size:2.4rem;
	   }
	   .enroll-main > a:before {
		   left:2rem;
	   }
	   .enroll-main > a p {
		   font-size:1.5rem;
		   letter-spacing:-0.05em;
	   }	
	   
	   .search-type {
		   padding-bottom:4rem;
	   }
	   .search-type th { display:none; }
	   .search-type table,
	   .search-type tbody,
	   .search-type tr,
	   .search-type td { display:block; }
	   .search-type td { padding-right:0;padding-bottom:5px }
	   .search-type td[data-tit]:before {
		   content: attr(data-tit);
		   display: inline-block;
		   margin-right: 5px;
		   font-weight: 700;
		   width:8rem;
		   text-align: left;
	   }
	   .search-type td .p10 { width:calc(100% - 9rem) !important }
	   .search-type + .btn-cont { text-align:center;padding-right:0; }

	   .status-list section { padding:1.5rem;min-height:19rem; }
	   .status-list section h5 { font-size:2.2rem; }
	   .status-list section h5 + .red, .status-list section h5 + .blue { top:2rem;font-size:1.5rem; }
	   .status-list section li { font-size:1.3rem; }
	   .status-list section li cite { width:5.5rem; }
   
	   .status-list section:only-child { width:100%; }
	   .status-list section:nth-child(1):nth-last-child(2),
	   .status-list section:nth-child(1):nth-last-child(2) ~ section,
	   .status-list section:nth-child(1):nth-last-child(3),
	   .status-list section:nth-child(1):nth-last-child(3) ~ section,
	   .status-list section:nth-child(1):nth-last-child(4),
	   .status-list section:nth-child(1):nth-last-child(4) ~ section,
	   .status-list section:nth-child(1):nth-last-child(6),
	   .status-list section:nth-child(1):nth-last-child(6) ~ section,
	   .status-list section:nth-child(1):nth-last-child(5),
	   .status-list section:nth-child(1):nth-last-child(5) ~ section {  width: 49%;margin-bottom:1rem;  }
	   .status-list section:nth-child(1):nth-last-child(5) h4,
	   .status-list section:nth-child(1):nth-last-child(5) ~ section h4 { font-size:2.3rem; }
	   .status-list section:nth-of-type(2n+1) { margin-left:0; }
	//    .status-list section.total {
	// 	   width: 100% !important;
	//    }
}

@include  mobile {
	.enroll-main {
		margin-top:3rem;
	}
	.enroll-main > a {
		width:100%;
		height:auto;
		padding:2rem 1rem 2rem 10rem;
	}
	.enroll-main > a + a { margin-left:0;margin-top:1rem; }
	
	.enroll-main > a:before {
		width:6rem;
		height:6rem;
		top:3rem;
		left:2rem;
	}
	.enroll-main > a.enroll-new:before {
		background:url(../../images/user/sub/icon_enroll_new.png) center center no-repeat;
		background-size:6rem;
	}
	.enroll-main > a.enroll-exist:before {
		background:url(../../images/user/sub/icon_enroll_exist.png) center center no-repeat;
		background-size:6rem;
	}
	.enroll-main > a p {
		font-size:1.4rem;
	}
	.enroll-guide section { white-space:normal; }
	.enroll-guide section .col3 {
		width:100%;	
	}
	.enroll-guide section .col3 ~ .col3 { margin-left:0;margin-top:1rem; }
	
	.licensing-num {
		margin:3rem auto 0;
	}
	.licensing-num > article {
		padding:4rem 0 3rem;	
	}
	.licensing-num > article + article {
		padding:3rem 0 3rem;
	}
	.licensing-num > article > div { padding:0 2rem; }
	.licensing-num > article label {  }
	.licensing-num > article input { width:20rem; }
	.licensing-num > article p { padding:0 2rem; }	
	
	.licensing-num > article + article a.btn2 { margin-top:1rem; } 
    
    /* Learn */
	.learning-popup {
		padding-bottom:0;
	}
	
	/* 네비 */
	.learn-nav {
		li {
			a {
				height: 4.8rem;
				line-height: 4.8rem;
				padding:0 2rem;
				font-size:1.4rem;
			}
		}
	}

	.learn-tit {	
		padding:0;
		cite {
			position: static;
			display: inline-block;
			margin-bottom: 0.8rem;
		}
		strong {
			display: block;
			font-size:2.2rem;
		}
	}
	.learn-date {
		margin:1.2rem 0 2rem;
		padding:0;
		font-size:var(--fs-sm);
		dl {
			padding:0;
		}
	}
	.learn-chart {
		margin-bottom: 2rem;
		padding:0;
		border:none;
	}
	.empas {
		font-size:2rem;
		
	}
	.status-list section h5 {
		font-size:1.8rem;
		height:2rem;
	}
	.status-list section h4 + .red, status-list section h4 + .blue, .status-list section h5 + .red, .status-list section h5 + .blue, .status-list section .label {
		top:1.6rem;
	}
	.learn-notice {
		padding:1.6rem;
		.empas {
			position: static;
		}
		&::before {
			display: none;
		}
	}
    .player-area {   
        height: calc(100vh - 10.9rem);
        padding:1.5rem 0;
    }
    .player-area h3 { 
        padding-left: 2.7rem;
        padding-right:1.5rem;
        font-size: 3.2vw;
        line-height: 2rem;
        height:6.5rem;
    }
    .player-area h3:before { top:1.4rem;left:1.5rem; }
    .player-area .video-js  { height:calc(100% - 6.5rem); }
        
    .player-btns { background:#000;text-align:right;height:4.5rem;padding:1.7rem 5vw;font-size:0; }
    .player-btns .btn { width:25vw;}
    .player-btns .btn { padding:0 3vw 0 5vw; }
    .player-btns .btn.spot3 { padding:0 5vw 0 3vw; }
    .player-btns .btn.spot2 { padding:0 3vw 0 3vw; }
    
   
	.learn-chart li { width:50%;margin-bottom:6rem; }
    
	.q-area{
		position: relative;
		display: block;
		flex-direction: column;
	}
	.q-aside {
		position: sticky;
		bottom:0;
		margin-top:4rem;
		.sticky {
			flex-direction: row;
			width: calc(100% + 4rem);
			align-items: center;
			gap:8px;
			margin-left:-2rem;
			box-sizing: border-box;
			padding:2rem;
			background-color: rgba(255,255,255, .5);
			backdrop-filter: blur(2rem);
			display: flex;
			min-height: auto;
			ol {
				display: none;
			}
		}
		.time-area {
			width: 22rem;
			cite {
				font-size:1.2rem;
			}
			span {
				font-size:1.8rem;
			}
		}
		.btn-cont {
			border:none;
			padding:0;
			.btn-lg {
				border-radius: $radius-xsm;
			}
		}
	}
	.learn-accordion {
		.accordion-tit-area {
			padding:2rem 0;
			.num {
				position: static;
				display: block;
				padding:0;
				width: auto;
				text-align: left;
			}
 		}
		.ico {
			right:1.6rem;
			top:2rem;
		}
		.accordion-txt-area {
			padding:1.6rem;
		}
	}
}