.pw-area{
    position: relative;
    input {
        padding-right: 5.6rem;
    }
    .btn-pw-toggle {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right:$spacing-md;
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
        font-size:0;
        &::before {
            @include before-position-c;
            @include ico($ico-sm, view-filled, gr);
        }
    }
    &.is-active {
        .btn-pw-toggle {
            &::before {
                @include ico($ico-sm, view-off-filled, gr);
            }
        }

    }
}

.form-cont {
    width: 100%;
    figure {
        display:flex;
        justify-content: center;
        margin-bottom: $spacing-2xlg;
        img {
            max-width:100%;
            margin:0 auto;
        }
    }
    input[type=text],
    input[type=password],
    input[type=number],
    input[type=email],
    input[type=tel],
    input[type=date] {
        display: block;
        width: 100%;
        height: 6.4rem;
        font-size: 1.8rem;
    }
    .btn-flex-cont {
        display: flex;
        margin:$spacing-xlg 0;
        > * {
             flex:1;
        }
    }
    .btn-lnk-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    
        gap:$spacing-xsm;
        a {
            @include typo('body-sm');
            &:hover {
                color:$gr90;
            }
        }
    }
    .form-list {
        display: grid;
        gap:$spacing-md;
        li {
            display: grid;
            gap:$spacing-xsm;
        }
        .msg {
            &.error {
                color:$negative;
            }
        }
    }
    .form-tit {
        display: block;
        @include typo('tit-sm');
    }
    .form-row  {
        position: relative;
        &:has(input:disabled),
        &:has(input:read-only) {
           .form-label {
                display: none;
           }
        }
    }
    .form-label {
        position: absolute;
        left: $spacing-xlg;
        top: 0;
        color: $gr50;
        z-index: 1;
        height: 6.4rem;
        line-height: 6.4rem;
        transition: transform 150ms ease-out, font-size 150ms ease-out;
    }
    input:valid + .form-label,
    .focused .form-label {
        @include typo('body-xsm');
        height: auto;
        line-height: normal;
        padding: 0 $spacing-2xsm;
        background-color: #fff;
        z-index: 2;
    }
    .form-input {
        position: relative;
        width: 100%;
        height: 6.4rem;
        transition: box-shadow 150ms ease-out;
        &:focus {
            border-color: $primary;
            outline: none;
            box-shadow: none;
        }
    }
} 
.sns-area {
    border-top:$border-primary;
    padding:$spacing-3xlg 0;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    $sns-size: 4rem;
    gap:$spacing-md;				
    $snss: (
            kakao,
            naver
        );
    p {
        width: 100%;
    }
    a {
        display:flex;
        align-items: center;
        gap:$spacing-md;
        @include typo('tit-md');
        &::before {
            content: "";
            display: inline-block;
            flex:none;
            width: $sns-size;
            height: $sns-size;
            border-radius: $radius-full;
            background:url($url-img + 'common/ico-sns.svg');
            background-size: auto $sns-size;
        }
        cite {
            flex:none;
        }
        @each $sns in $snss {
            &.#{$sns} {
                &::before {
                    $i: index($snss, $sns) -  1;
                    $x: calc($i * $sns-size) * -1;

                    background-position: #{$x} 0;
                }
            }	
        }
    }
}
.agree-area {
    .bg-box {
        margin-bottom: 0;
    }
}
.agree-list {
    display: grid;
    li {
        display: flex;
        align-items: center;
        min-height: 8rem;
        justify-content: space-between;
        border-bottom: $border-secondary;
        padding:$spacing-md $spacing-3xlg;
    }
}

.term-nav {
    border: $border-primary;
    column-count: 2;
    column-gap: 2rem;
    padding: 2rem;
    margin-bottom: 5rem;
}
.term-nav li a {
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}
.term-nav li a:hover {
    background: #f5f5f5;
}
.term-nav li p {
    display: inline;
}
.terms {
    margin-bottom: 4rem;
}
.terms h4 {
    margin-bottom: 1.5rem;
    font-size: var(--fs);
}
.terms h4 ~ h4 {
    margin-top: 4rem;
}
.terms p {
    margin-bottom: 1rem;
}
.terms ul {
    margin-bottom: 1rem;
}
.terms ul li {
    margin-bottom: 0.5rem;
}
.terms ul li ul {
    margin-top: 0.5rem;
    padding-left: 2.5rem;
}
.terms textarea:read-only {
    height: 20rem;
    padding: 2.4rem;
}
.terms-agree {
    margin-top:1.6rem;
}
.terms-box {
	margin-bottom:2rem;
	height: 28rem;
	padding:4rem;
	border-color: $gr30;
	overflow-y:auto;
	font-size:var(--fs-sm);
    line-height:1.5;
	box-sizing: border-box;
	border:$border-secondary;
    border-radius: var(--radius-lg);
	section {
		padding-top:0 !important;
		margin-top:0 !important;
		margin-bottom:3.2rem;
		&:last-child,
        & > *:last-child {
			margin-bottom:0;
		}
	}
}

@include mobile {
    .terms-box {
        padding:2.4rem;
    }
}