

.wrap-sm {
    margin:0 auto;
    max-width: 480px;
    width: 100%;
}
.section {
    margin-bottom: 80px;
    &:last-child {
        margin-bottom: 0;
    }
}
.section-sm {
    margin-bottom: 40px;
    &:last-child {
        margin-bottom: 0;
    }
}
.card-body:has(.card-cont) {
    padding:0;
    .card-cont {
        padding-top:20px;
        flex:1;
        overflow-y: auto;
    }
}
.card-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top:24px;
    >.l-area,
    >.r-area {
        display: flex;
        gap:8px;
    }
    .c-area {
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        margin:0 auto;
        > * {
            margin:0;
        }
    }
    .r-area {
        margin-left:auto;
    }
}
.info-block-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap:12px;
}
.info-list {
    display: flex;
    flex-direction: column;
    gap:8px;
    font-size:13px;
    > li {
        display: flex;
        gap:8px;
        cite {
            flex:none;
            font-style: normal;
            flex:none;
            color:#999;
            min-width: 64px;
        }
        .txt-area {
            flex:1;
        }
    }
}
.modal-footer {
    display: flex;
    justify-content: space-between;
    >.l-area,
    >.r-area {
        display: flex;
        align-items: center;
        gap:8px;
    }
    >.r-area {
        justify-content: flex-end;
    }
}
.box-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:24px;
    > li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: $border-light;
        border-radius: var(--border-radius);
        height:100%;
        overflow: hidden;
    }
    .box-header,
    .box-body,
    .box-footer {
        display: block;
        padding:16px;
    }
    .box-header {
        flex:none;
        border-bottom: $border-light;
        small {
            font-size:12px;
            color:#777;
        }
    }
    .box-body {
        flex:1;
    }
    .box-footer {
        flex:none;
        display: flex;
        border-top: $border-light;
        gap:8px;
        background-color: $bg-light-primary;
        > * {
            flex:1;
        }
    }
    .box-tit {
        font-size: 16px;
    }
}
.table-list,
.table-write,
.table-info {
    table-layout: fixed;
    th {
        background-color: $bg-light-primary;
        color:#777;
        font-weight: 500;
        color:#333;
    }
    th,
    td {
        padding:8px 16px;
        border-bottom: $border-light;
        border-top: $border-light;
        text-align: center;
    }
}
.table-list {
    border-spacing: 0 4px;
    border-collapse: separate;
    th,
    td {
        border-top: $border-light;
        height: 44px;
        &:first-child {
            border-left:$border-light;
            border-radius: var(--border-radius) 0 0 var(--border-radius);
        }
        &:last-child {
            border-right:$border-light;
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
        }
    }
    .table-tit {
        color:var(--first-color);
        font-weight:500;
    }
    a {
        &:hover {
            .table-tit {
                text-decoration: underline;
            }
        }       
    }
}
.table-write {
    th {
        background-color: var(--bs-light);
    }
    th,
    td {
        height: 56px;
    }
    td {
        text-align: left;
    }
}

.table-info {
    table-layout: fixed;
    border-right: $border-light;
    th,
    td {
        text-align: center;
        border-left:$border-light;
        padding:8px;
    }
}

//pc wide 1400
@media screen and (max-width:var(--breakpoint-xxl)) {

}

//pc 1200
@media screen and (max-width:var(--breakpoint-xl)) {

}

//ta 992
@media screen and (max-width:var(--breakpoint-lg)) {

}

//ta 768
@media screen and (max-width:var(--breakpoint-md)) {

}

//mo 576
@media screen and (max-width:var(--breakpoint-sm)) {

}

//mo 480
@media screen and (max-width:var(--breakpoint-xs)) {

}