html,body { height:100%; }
body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--body-color);
  text-align: var(--text-align);
  background-color: var(--body-bg);
}

#wrapper {
  min-width: var(--min-width);
  height:100%;
  display: flex;
  flex-direction: column;
}

#header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a364a;
}

.header-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 56px;
  overflow: hidden;
  background: linear-gradient(to right, #1680d9 0%, #0cc1c9 100%);

  img {}
}

.header-nav > li > {
  a, button {
    display: flex;
    align-items: center;
    height: 56px;
    margin: 0 24px;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #bcbcbc;
  }

  a:hover, button:hover, a.active {
    color: #3ba4fd;
    border-bottom: 3px solid #3ba4fd;
  }
}

.hoverdown-menu {
  position: absolute;
  top: 50px;
  z-index: 1000;
  display: none;
  width: 240px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #ededed;
  background-color: #fff;
  -webkit-animation-name: DropDownSlide;
  animation-name: DropDownSlide;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  z-index: 1000;
}

.hoverdown:hover > .hoverdown-menu {
  display: block;
}

.hoverdown-menu > li a {
  position: relative;
  display: block;
  width: 100%;
  padding: 6px;
  clear: both;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #212529;

  &:hover {
    background-color: transparent;
  }
}

.header-icon {
  padding-right: 16px;

  i {
    display: block;
    width: 36px;
    height: 36px;
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;

    &.h-ico-user {
      background-image: url(../img/header-icon-user.png);
    }

    &.h-ico-out {
      background-image: url(../img/header-icon-out.png);
    }
  }
}

#profile-wrapper {
  padding: 0 20px;
}

.iframe {
  min-width: 320px;
  background: #fff;
}

:is([data-sidebar-size=sm],[data-sidebar-size=sm-hover]) #page-topbar {
  left: -1px;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0 !important;
  bottom: 0;
  right: 0 !important;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  visibility: visible;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  padding: 0 !important;

  &::-webkit-scrollbar {
    display: none;
  }
}

.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.simplebar-content {
  &:after, &:before {
    content: " ";
    display: table;
  }
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
  -ms-flex-positive: inherit;
  flex-grow: inherit;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  .simplebar-content {
    pointer-events: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
  }

  .simplebar-track {
    pointer-events: all;
  }
}

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 6px;
  min-height: 10px;

  &:before {
    position: absolute;
    content: "";
    background: #a2adb7;
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
  }

  &.simplebar-visible:before {
    opacity: .5;
    -webkit-transition: opacity 0s linear;
    transition: opacity 0s linear;
  }
}

.simplebar-track {
  &.simplebar-vertical {
    top: 4px;
    width: 10px;

    .simplebar-scrollbar:before {
      top: 2px;
      bottom: 2px;
    }
  }

  &.simplebar-horizontal {
    left: 0;
    height: 10px;

    .simplebar-scrollbar {
      &:before {
        height: 100%;
        left: 2px;
        right: 2px;
      }

      right: auto;
      left: 0;
      top: 2px;
      height: 7px;
      min-height: 0;
      min-width: 10px;
      width: auto;
    }
  }
}

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 4px;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.custom-scroll {
  height: 100%;
}

.calendar-box {
  background: #fff;
}

.calendar-head {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  margin-bottom: 12px;
  padding: 0 16px;
  border-radius: 4px 4px 0 0;
}

.calendar-title, .calendar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-title {
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: center;
  color: #495057;
}

.calendar-btn {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 12px auto;
  cursor: pointer;
}

.calendar-prev {
  background-image: url(../img/calendar-prev-ico@2x.png);
}

.calendar-next {
  background-image: url(../img/calendar-next-ico@2x.png);
}

.calendar-date {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  span {
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #212529;
  }

  em {
    margin-left: 6px;
    padding: 2px 8px;
    border-radius: 100px;
    background-color: #3ba4fd;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    text-align: left;
    color: #fff;
  }
}

#scheduleTabs {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.calendar-body {
  padding: 0;
  border: solid 1px #f1f1f1;
}

.calendar-week, .calendar-name {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.calendar-cell {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 14.28571%;
  min-height: 28px;
  text-align: center;
  z-index: 1;

  + .calendar-cell {
    border-left: 1px solid #f1f1f1;
  }

  span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-bottom: 2px;
    border-radius: 4px;
    text-align: center;
  }

  &.event {
    background: #f3f6f9;
  }

  &.active {
    background: #fefaef;
  }

  &.sun span {
    color: #ff7a00;
  }

  &.other span {
    color: #ccd6e0;

    /* opacity:0.5; */
  }

  &.today span {
    position: relative;
    display: block;
    width: 20px;
    color: #fff;
    border: none;
    background: #3ba4fd;
    border-radius: 20px;
  }
}

.calendar-box {
  .badge {
    position: absolute;
    left: 16px !important;
    top: -4px !important;
    padding: 2px 6px;
    background: #ff5033;
    font-size: 12px;
    line-height: 1.17;
    color: #fff;
    color: #fff;
    border-radius: 16px;
    border: 1px solid #fff;
  }

  .btn-tooltip {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    margin: 10px;

    .badge {
      top: -10px !important;
      left: 10px !important;
    }
  }
}

.calendar-cell .title {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #212529;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.calendar-name .calendar-cell {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 28px;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #212529;
}

.calendar-day .calendar-cell {
  flex-direction: column;
  min-height: 78px;
  padding: 4px 6px;
  border-top: 1px solid #f1f1f1;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #212529;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.schedule-body {
  padding: 0;
  border: solid 1px #f1f1f1;
}

.schedule-week, .schedule-name {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.schedule-cell {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 14.28571%;
  height: 28px;
  text-align: center;
  z-index: 1;

  + .schedule-cell {
    border-left: 1px solid #f1f1f1;
  }

  span {
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    text-align: center;
  }

  &.event {
    background: #f3f6f9;
  }

  &.active {
    background: #fefaef;
  }

  &.other span {
    color: #6db0ff;
    opacity: 0.5;
  }

  &.today span {
    color: #fff;
    border: none;
    background: #6571ff;
    border-radius: 28px;
  }

  div {
    padding: 4px 6px 0;
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: #212529;
  }
}

.schedule-name .schedule-cell {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 28px;
  background: #f3f6f9;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: center;
  color: #212529;
}

.schedule-day .schedule-cell {
  flex-direction: column;
  height: 108px;
  padding: 2px 6px;
  border-top: 1px solid #f1f1f1;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #212529;
}

.schedule-simplebar {
  position: relative;
  max-height: 100%;
}

#container {
  padding: 24px;
  flex:1;
  transition: all .1s ease-out;

  .col-group {
    --bs-gutter-x:32px !important;
    --bs-gutter-y:24px !important;
    height:calc(100% + var(--bs-gutter-y));
  }

  .card + .card {
    margin-top: 24px;
  }

  &.container-full {
    padding: 0 24px 80px;

    .card {
      min-height: calc(100vh - 44px - 80px);
    }
  }
}
