html,body { height:100%; }
body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--body-color);
  text-align: var(--text-align);
  background-color: var(--body-bg);
}

#wrapper {
  min-width: var(--min-width);
  height:100%;
  display: flex;
  flex-direction: column;
}

#header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a364a;
}

.header-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 56px;
  overflow: hidden;
  background: linear-gradient(to right, #1680d9 0%, #0cc1c9 100%);

  img {}
}

.header-nav > li > {
  a, button {
    display: flex;
    align-items: center;
    height: 56px;
    margin: 0 24px;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #bcbcbc;
  }

  a:hover, button:hover, a.active {
    color: var(--btn-point-color);
    border-bottom: 3px solid var(--btn-point-color);
  }
}

.hoverdown-menu {
  position: absolute;
  top: 50px;
  z-index: 1000;
  display: none;
  width: 240px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #ededed;
  background-color: #fff;
  -webkit-animation-name: DropDownSlide;
  animation-name: DropDownSlide;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  z-index: 1000;
}

.hoverdown:hover > .hoverdown-menu {
  display: block;
}

.hoverdown-menu > li a {
  position: relative;
  display: block;
  width: 100%;
  padding: 6px;
  clear: both;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #212529;

  &:hover {
    background-color: transparent;
  }
}

.header-icon {
  padding-right: 16px;

  i {
    display: block;
    width: 36px;
    height: 36px;
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;

    &.h-ico-user {
      background-image: url(../img/header-icon-user.png);
    }

    &.h-ico-out {
      background-image: url(../img/header-icon-out.png);
    }
  }
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  z-index: 999;
  display:none;

  ul {
    background-color: #2a364a;

    &::after {
      display: block;
      clear: both;
      content: '';
    }

    > li {
      float: left;
      width: 20%;

      a {
        display: block;
        height: 60px;
        padding: 8px 0;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        color: #bcbcbc;
      }

      em {
        display: block;
        padding-top: 24px;
        background-repeat: no-repeat;
        background-position: 50% 0;
        -webkit-background-size: 24px 24px;
        background-size: 24px 24px;
      }

      &.item1 em {
        background-image: url(../img/mobile_menu1@2x.png);
      }

      &.item2 em {
        background-image: url(../img/mobile_menu2@2x.png);
      }

      &.item3 em {
        background-image: url(../img/mobile_menu3@2x.png);
      }

      &.item4 em {
        background-image: url(../img/mobile_menu4@2x.png);
      }

      &.item5 em {
        background-image: url(../img/mobile_menu5@2x.png);
      }

      &.on {
        &.item1 em {
          background-image: url(../img/mobile_menu1_on@2x.png);
        }

        &.item2 em {
          background-image: url(../img/mobile_menu2_on@2x.png);
        }

        &.item3 em {
          background-image: url(../img/mobile_menu3_on@2x.png);
        }

        &.item4 em {
          background-image: url(../img/mobile_menu4_on@2x.png);
        }

        &.item5 em {
          background-image: url(../img/mobile_menu5_on@2x.png);
        }

        a {
          background-color: var(--btn-point-color);
          color: #fff;
        }
      }
    }
  }
}


#profile-wrapper {
  padding: 0 20px;
}

.iframe {
  min-width: 320px;
  background: #fff;
}

:is([data-sidebar-size=sm],[data-sidebar-size=sm-hover]) #page-topbar {
  left: -1px;
}

#container {
  padding: var(--bs-gutter-y) var(--bs-gutter-x) calc(var(--bs-gutter-y) - 4px) var(--bs-gutter-x);
  flex:1;
  height:100%;
  overflow:hidden;
  transition: all .1s ease-out;
  display:flex;
  flex-direction: column;

  .col-group {
    height:calc(100% + var(--bs-gutter-y));
  }

  .card + .card {
    margin-top: 24px;
  }

  &.container-full {
    padding: 0 24px 80px;

    .card {
      min-height: calc(100vh - 44px - 80px);
    }
  }
}
.flex-box-contents {
  display: flex;
  flex-wrap: wrap;
  margin-left:calc(var(--bs-gutter-x)* -.5);
  margin-right:calc(var(--bs-gutter-x)* -.5);
  overflow:hidden;
  flex-direction: column;
  height:100%;
}
.flex-box-apply {
  display: flex;
  flex-wrap: wrap;
  flex:1;
  overflow:hidden;
  margin-left:calc(var(--bs-gutter-x)* -.5);
  margin-right:calc(var(--bs-gutter-x)* -.5);
  [class^=col-group-] {
    flex: 0 0 auto;
    width: 50%;
    height:100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    display:flex;
    flex-direction: column;
  }
}



@include breakpoint(xxl) {
  
}
@include breakpoint(xl) {
  :root {
    --bs-gutter-x: 16px;
    --bs-gutter-y: 16px;
  }
  #container {
    height: auto;
    overflow: unset;
    padding: var(--bs-gutter-y) 0 80px 0;

  }
  .page-location {
    padding:0 var(--bs-gutter-x); 
  }
  .flex-box-apply {
    flex-direction: column;
    flex-wrap: nowrap;
    [class^=col-group-] {
      width:100%;
      flex:1;
    }
    .cont-detail-list { max-height:400px; }
    .card-list-simple { max-height:300px; }
  } 
  .card { 
    border-radius:0; 
    border-left:0;
    border-right:0;
  }
}
@include breakpoint(lg) {

}
@include breakpoint(md) {
  .header-nav { display:none; }
  .mobile-menu { display:block; }
}
@include breakpoint(sm) {}
@include breakpoint(xs) {}