.dashboard .card-body {
    &:has(.col-group-left) {
        flex-direction: row;
        gap:var(--bs-gutter-x);
        .col-group-left { width:60% }
        .col-group-right { width:40% }
    }
    .col-group-right {
        .board-group { 
            ~ .board-group { margin-top:12px; }
        }

        h3 {
            font-size : 15px;
            margin-bottom:4px;
            font-weight:bold;
        }
        .list-group {
            .list-group-item {
                padding:4px 16px;
                display:flex;
                align-items:center;
                justify-content: space-between;
                gap:8px;
                a {
                    width:100%;
                    display:block;
                    flex:1;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    &:hover {
                        text-decoration:underline;
                    }
                }
                time {
                    font-size:12px;
                    color:#777;
                }
            }
        }
        &.class-board-wrap {
            max-height:412px;
            overflow-y:auto;
        }
    }
}
.card:has(.card-head).class-detail {
    padding:4px 0 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 4px 0 0 #f93bfd;
    .card-head {
        .btn-sm {
            display:flex;
            align-items:center;
            padding:0;
            .material-symbols-outlined {
                margin-left:4px;
            }
        }
    }
}
.class-list-wrap {
    padding:var(--bs-gutter-y) var(--bs-gutter-x);
    overflow:hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 4px 0 0 #fdde3b;

    > strong {
        font-size:18px;
        display:block;
        margin-bottom:8px;
        b {
            color:var(--first-color);
            
        }
    }
}
.my-class-list {
    overflow-y:auto;
    height:162px;
    li {
        border:$border-light;
        padding:8px 12px 8px 24px;
        margin:4px;
        line-height:1.4;
        overflow:hidden;
        text-overflow: ellipsis;
        position:relative;

        .cont-info {
            &:before {
                content:'';
                position:absolute;
                top:0;
                left:0;
                height:100%;
                width:4px;
                border-radius:2px;
            }

            &.event-regit:before { background:var(--regit); }
            &.event-standby:before { background:var(--standby); }
            &.event-finish:before { background:var(--finish); }
            &.event-refund:before { background:var(--refund); }
        }
        .cont-info {
            flex-wrap: wrap;
        }
        .title { 
            font-weight:600; 
            color:#000;
        }
    }
}

.nav {
    margin-bottom:calc(var(--bs-gutter-y)/2);
}