@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --min-width: 0;
    --font-family: 'Pretendard', sans-serif;
    --font-size: 14px;
    --font-weight: 400;
    --line-height: 1.25;
    --text-align: left;
    --body-color: #212529;
    --body-bg: #f9fafb;
    --border-bg: #fff;
    --border-color: #ced4da;
    --border-color-light: #e9ebec;
    --border-width: 1px;
    --border-radius: 8px;
    --card-title-color: #212529;
    --card-head-padding-y: 16px;
    --card-head-padding-x: 24px;
    --card-body-padding-y: 24px;
    --card-body-padding-x: 16px;
    --card-filter-padding-y: 8px;
    --card-filter-padding-x: 24px;
    --form-padding-y: 5px;
    --form-padding-x: 12px;
    --form-padding-ico: 30px;
    --btn-padding-y: 5px;
    --btn-padding-x: 16px;
    --btn-font-size: 14px;
    --btn-line-height: 20px;
    --placeholder-color: #c0c2c3;    
    --btn-point-color: #3ba4fd;
    --btn-point-color-h: #1680d9;
    --btn-deep-color: #405189;
    --btn-deep-color-h: #364574;
    --form-control-height: 32px;
    --first-color: #3ba4fd;
    --second-color: #ff710a;
    --third-color: #00b031;
    --dark-color:#2a364a;

    --regit:var(--first-color);
    --standby:var(--second-color);
    --finish:var(--third-color);
    --refund:var(--btn-deep-color);
    --regit-bg:#3ba4fd11;
    --standby-bg:#ff710a11;
    --finish-bg:#00b03111;
    --refund-bg:#40518911;

    --bs-gutter-x: 24px;
    --bs-gutter-y: 24px;

    /* --fc : fullCalendar js */
    --color-ye:#ffa133;
    --color-or:#ff710a;
    --color-rd:#ff3366;
    --color-pk:#ff65d4;
    --color-nv:#405189;
    --color-sk:#3ba4fd;
    --color-bl:#076aff;
    --color-gn:#00b031;
    --color-vi:#845ae0;
    --color-gr:#ced4da;
    --color-gr-h:#9a9a9a;

    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: #fff;
    --fc-neutral-text-color: #808080;
    --fc-border-color: var(--border-color-light);
    --fc-button-text-color: #fff;
    --fc-button-bg-color: var(--btn-point-color-h);
    --fc-button-border-color: #fff;
    --fc-button-hover-bg-color: #ffffff33;
    --fc-button-hover-border-color: #fff;
    --fc-button-active-bg-color: #fff;
    --fc-button-active-border-color: #fff;
    --fc-event-bg-color: #fff;
    --fc-event-border-color: #fff;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0);
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;
}
$bg-light-primary :#F3FEFF;
$border: 1px solid var(--border-color);
$border-light:1px solid var(--border-color-light);

*::-webkit-scrollbar {
    width: 12px;
    height:12px;
}
*::-webkit-scrollbar-thumb {
    background:rgba(0,0,0,.1);
    border-radius:0;
    border-left:6px solid #fff;
}
*::-webkit-scrollbar-track {
    background:transparant;
}
html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* { word-break:break-all; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, fieldset, legend, label, button, input, textarea, select, optgroup, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article, aside, footer, header, nav,
section, figcaption, figure, main, details, menu {
    display: block;
}
blockquote,
q {
    quotes: none;
}
blockquote {
    &::before,
    &::after {
        content: '';
        content: none;
    }
}
q {
    &::before,
    &::after {
        content: '';
        content: none;
    }
}
label {
    font-weight: 500;
    margin-bottom: .5rem;
}b, strong {
    font-weight: 700;
}abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
template,
[hidden] {
    display: none;
}
summary {
    display: list-item;
}
pre {
    font: inherit;
    color: inherit;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-break: break-all;
}
ol,
ul {
    list-style: none;
}
dt,
dd {
    display: block;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;

    th,
    td {
        vertical-align: middle;
    }
}
caption,
legend {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
audio,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
svg:not(:root) {
    overflow: hidden;
}
canvas {
    display: inline-block;
}
img {
    max-width: 100%;
    border-style: none;
    vertical-align: top;
}
fieldset,
img {
    border: none;
}
select {
    padding: 4px 12px;
    font-size: var(--btn-font-size);
    height:32px;
    color: var(--bs-dark);
    border-radius: var(--border-radius);
    border-color: var(--border-color);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 0
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 0
}
.blockquote {
    padding: 10px 20px;
    border-left: 4px solid var(--border-color-light);
}
.blockquote-reverse {
    border-left: 0;
    border-right: 4px solid var(--border-color-light);
    text-align: right;
}
.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}
a,
button {
    outline: 0 !important;
    position: relative;
    text-decoration: none;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
}
address,
em,
i {
    font-style: normal;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-height);
    border-radius: var(--border-radius);

    .ico {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 4px;
        margin-top: -2px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}
.btn-link {
    position: relative;
    display: block;
}
.assign-box {
    padding: 12px;
    border-radius: 8px;
    background-color: var(--border-color-light);

    .table-title {
        margin-bottom: 8px;
    }
}
.btn {
    &:hover,
    &:focus-visible {}
}
.btn-group-lg>.btn,
.btn-lg {
    padding: 8px 36px;
    font-size: 16px;
    line-height: 1.5;
}
.btn-group-sm>.btn,
.btn-sm {
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
}
.btn-group-xs>.btn,
.btn-xs {
    padding: 3px 6px;
    font-size: 12px;
    line-height: 14px;
}
.btn-group-xs {
    position: relative;
    margin-top: -4px;
    font-size: 0;

    >.btn {
        display: inline-block;
        margin: 4px 4px 0 0;
    }
}
.btn-point {
    color: #fff;
    background-color: var(--btn-point-color);
    border-color: var(--btn-point-color);

    &:hover,
    &:focus-visible {
        color: #fff;
        background-color: var(--btn-point-color-h);
        border-color: var(--btn-point-color-h);
    }
}
.btn-point-deep {
    color: #fff;
    background-color: var(--btn-deep-color);
    border-color: var(--btn-deep-color);

    &:hover,
    &:focus-visible {
        color: #fff;
        background-color: var(--btn-deep-color-h);
        border-color: var(--btn-deep-color-h);
    }
}
.btn-point2 {
    color: #fff;
    background-color: var(--second-color);
    border-color: var(--second-color);
}
.btn-primary {
    color: #fff;
    background-color: var(--btn-point-color);
    border-color: var(--btn-point-color);

    &:hover,
    &:focus-visible {
        color: #fff;
        background-color: var(--btn-point-color-h);
        border-color: var(--btn-point-color-h);
    }
}
.btn-success {
    color: #fff;
    background-color: var(--btn-deep-color);
    border-color: var(--btn-deep-color);

    &:hover,
    &:focus-visible {
        color: #fff;
        background-color: var(--btn-deep-color-h);
        border-color: var(--btn-deep-color-h);
    }
}
.btn-warning {
    color: #fff;
    background-color: #ffa133;
    border-color: #ffa133;

    &:hover,
    &:focus-visible {
        color: #fff;
        background-color: #eb8d1f;
        border-color: #eb8d1f;
    }
}
.btn-disable {
    color: #fff;
    background-color: #ebebeb;
    border-color: #ebebeb;

    &:hover,
    &:focus-visible {
        color: #fff;
        background-color: #cdcdcd;
        border-color: #cdcdcd;
    }
}
.btn-danger {
    color: #fff;
    background-color: #ff3366;
    border-color: #ff3366;

    &:hover,
    &:focus-visible {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
}
.btn-outline-active {
    color: var(--btn-point-color);
    background-color: #fff;
    border-color: var(--btn-point-color);

    &:hover,
    &:focus-visible,
    &.active {
        color: #fff;
        background-color: var(--btn-point-color);
        border-color: var(--btn-point-color);
    }
}
.btn-outline-primary {
    color: var(--btn-point-color);
    background-color: #fff;
    border-color: var(--btn-point-color);

    &:hover,
    &:focus-visible {
        color: #fff;
        background-color: var(--btn-point-color);
        border-color: var(--btn-point-color);
    }
}
.btn-outline-cancel {
    color: #495057;
    background-color: #fff;
    border-color: #e6e6e6;
    white-space: nowrap;

    &:hover,
    &:focus-visible {
        color: #495057;
        background-color: #fff;
        border-color: #495057;
    }
}
.btn-round {
    border-radius: 32px;
}
.btn-check {
    +label {
        color: #212529;
        background-color: #fff;
        border-color: var(--border-color-light);
    }
    &:checked+label {
        color: #212529;
        background-color: var(--border-color-light);
        border-color: var(--border-color-light);
    }
}
.bg-primary{background-color:var(--btn-point-color) !important; color: #fff;}
.bg-secondary{background-color:var(--second-color) !important;}
.bg-warning{background-color:#ffa133 !important;}
.bg-danger{background-color:#ff3366 !important;}
.bg-light{background-color:#f8f9fa !important;}
.bg-success{background-color:var(--btn-deep-color) !important;}
.btn-link{text-decoration:underline;color:#076aff;}
.btn-underline{text-decoration:underline !important;color:inherit;}
.btn-underline:hover{color:inherit;}

.txt-primary{color:var(--btn-point-color) !important;}
.txt-secondary{color:var(--second-color) !important;}
.txt-warning{color:#ffa133 !important;}
.txt-danger{color:#ff3366 !important;}
.txt-light{color:#ff65d4 !important;}
.txt-success{color:var(--btn-deep-color) !important;}

.color-primary{color:#076aff !important;}
.color-secondary{color:var(--second-color) !important;}
.color-warning{color:#ffa133 !important;}
.color-danger{color:#ff3366 !important;}
.color-light{color:#ff65d4 !important;}
.color-success{color:var(--btn-deep-color) !important;}

.color-first {color:var(--first-color);}
.color-second {color:var(--second-color);}
.color-third {color:var(--third-color);}

.btn-ico i {
    text-indent: -9999px;
    font-size: 0;
}
.ico-delete {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    background: url(../img/ico-form-delete.png) no-repeat 50% 50% / 16px 16px;
}
.ico-upload {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: url(../img/ico-file-arrow-up.png) no-repeat 50% 50% / 20px 20px;
}
.ico-drag {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    background: url(../img/ico-file-arrow-down.png) no-repeat 50% 50% / 48px 48px;
}
.btn {

    &.disabled,
    &:disabled {
        opacity: 0.3;
    }
}
fieldset:disabled .btn {
    opacity: 0.3;
}
:is(.btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active) {
    /* border-color:transparent */
}
.text-req {
    color: var(--second-color);
}
.form-select,
.form-control,
.form-btn {
    padding: var(--form-padding-y) var(--form-padding-x);
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-height);
    border-radius: var(--border-radius);
    border-color: var(--border-color);
}
.form-control {

    &:disabled,
    &[readonly] {
        background-color: #f2f2f2;
    }
    +.form-unit {
        padding-left: 4px;
    }
}
.form-unit {
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #212529;
}
.form-link {
    padding-right: var(--form-padding-ico);
    background: url(../img/form-link-ico@2x.png) no-repeat right 12px (center / 16px) 16px;
}
.form-date,
.form-datepicker {
    padding-right: var(--form-padding-ico);
    background: url(../img/form-date-ico@2x.png) no-repeat right 12px (center / 16px) 16px;

    /* pointer-events:none;*/
}
.form-select {
    padding-right: var(--form-padding-ico);
    background: url(../img/form-select-ico@2x.png) no-repeat right 12px (center / 12px) 12px;
}
.form-control {
    &[type=file] {
        padding-right: 12px;
        padding-left: 12px;
    }
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder,
    &::placeholder {
        color: var(--placeholder-color);
    }
}
.form-control-sm {
    min-height: 28px;
    padding-top: calc(var(--form-padding-y) - 2px);
    padding-bottom: calc(var(--form-padding-y) - 2px);
}
.form-warning {
    display: none;
    margin-top: 8px;
    padding-left: 18px;
    background: url(../img/ico-form-warning.png) no-repeat 0 2px / 16px 16px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #ff710a;
}
.warning {
    .form-warning {
        display: flex;
    }
    .form-control {
        border-color: #ff710a;
    }
}
.form-cover {
    position: relative;

    .btn {
        position: absolute;
        top: 50%;
        right: 12px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
.form-tip {}
.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card-form {
    .form-select,
    .form-control,
    .form-btn {
        height: 44px;
        padding: 12px;
    }
}
.form-check {
    position: relative;
    text-align: left;
    min-height: 20px;
    margin: 0;
    padding-left: 24px;

    .form-check-input {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    &.empty {
        width: 18px;
        min-height: 18px;
        line-height: 18px;
        padding: 0;
        margin: 0 auto;
        text-align: center;

        .form-check-input {
            float: none;
            margin: 0;
            position: relative;
            left: auto;
            top: auto;
        }    }
    label {
        cursor: pointer;
    }
    .form-check-input {
        float: left;
        margin-left: 0;
    }
}
.form-check-input,
.form-check-label {
    line-height: 20px;
}
.form-check-input {
    width: 18px;
    height: 18px;
    margin-top: 1px;

    &[type=checkbox] {
        border-radius: 2px;
    }
    &:checked {
        background-color: var(--first-color);
        border-color: var(--first-color);

        +.form-check-label {}    }
}
.form-check-label {
    cursor: pointer;
    margin-bottom: 0;
    font-size: 14px;
}
.form-check-input+.form-check-label {
    margin: 0;
}
.form-label {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #aaa;

    &.disabled {
        opacity: 0;
    }
}
.form-inline {
    display: flex;
    align-items: center;
    height: var(--form-control-height);

    +.form-inline {
        margin-left: 10px;
    }
    >div {
        display: inline-block;

        +div {
            margin-left: 8px;
        }    }
    *:not(.form-check)+.form-check {
        margin-left: 30px;
    }
    .btn {
        margin-bottom: 0;
    }
    .btn-check {
        margin-left: 0;
    }
}
textarea.form-editor {
    height: 392px;
}
.row {
    --bs-gutter-x: 24px;
    --bs-gutter-y: 24px;
    &.row-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap !important;

        > {
            * {
                flex-grow: 1;
            }
            .col-dash {
                padding: 0 4px !important;
                flex-shrink: 0 !important;
            }    }
    }
}
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-grow-shrink {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div {
        &:first-child {
            flex-grow: 1 !important;
        }
        &:last-child {
            padding-left: 24px;
            flex-shrink: 0 !important;
        }    }
}
.flex-left{justify-content:flex-start !important;}
.flex-right{justify-content:flex-end !important;}
.flex-center{justify-content:center !important;}
.flex-between{justify-content:space-between !important;}
.flex-around{justify-content:space-around !important;}
.flex-evenly{justify-content:space-evenly !important;}
.flex-top{align-items:flex-start !important;}
.flex-bottom{align-items:flex-end !important;}
.flex-middle{align-items:center !important;}
.flex-baseline{align-items:baseline !important;}
.flex-stretch{align-items:stretch !important;}

.align-left{text-align:left !important;}
.align-center{text-align:center !important;}
.align-right{text-align:right !important;}

.overflow-x-scroll { overflow-x:auto; }
.overflow-y-scroll { overflow-y:auto; }
.overflow-scroll { overflow:auto; }

.absolute-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.mt-0{margin-top:0 !important;}
.p-4px,.px-4px{padding-left:4px !important;padding-right:4px !important;}
.p-4px,.py-4px{padding-top:4px !important;padding-bottom:4px !important;}
.p-6px,.px-6px{padding-left:6px !important;padding-right:6px !important;}
.p-6px,.py-6px{padding-top:6px !important;padding-bottom:6px !important;}
.p-8px,.px-8px{padding-left:8px !important;padding-right:8px !important;}
.p-8px,.py-8px{padding-top:8px !important;padding-bottom:8px !important;}
.p-10px,.px-10px{padding-left:10px !important;padding-right:10px !important;}
.p-10px,.py-10px{padding-top:10px !important;padding-bottom:10px !important;}
.p-12px,.px-12px{padding-left:12px !important;padding-right:12px !important;}
.p-12px,.py-12px{padding-top:12px !important;padding-bottom:12px !important;}
.p-16px,.px-16px{padding-left:16px !important;padding-right:16px !important;}
.p-16px,.py-16px{padding-top:16px !important;padding-bottom:16px !important;}
.p-20px,.px-20px{padding-left:20px !important;padding-right:20px !important;}
.p-20px,.py-20px{padding-top:20px !important;padding-bottom:20px !important;}
.p-24px,.px-24px{padding-left:24px !important;padding-right:24px !important;}
.p-24px,.py-24px{padding-top:24px !important;padding-bottom:24px !important;}
.p-28px,.px-28px{padding-left:28px !important;padding-right:28px !important;}
.p-28px,.py-28px{padding-top:28px !important;padding-bottom:28px !important;}
.p-30px,.px-30px{padding-left:30px !important;padding-right:30px !important;}
.p-30px,.py-30px{padding-top:30px !important;padding-bottom:30px !important;}
.p-32px,.px-32px{padding-left:32px !important;padding-right:32px !important;}
.p-32px,.py-32px{padding-top:32px !important;padding-bottom:32px !important;}
.p-36px,.px-36px{padding-left:36px !important;padding-right:36px !important;}
.p-36px,.py-36px{padding-top:36px !important;padding-bottom:36px !important;}
.p-40px,.px-40px{padding-left:40px !important;padding-right:40px !important;}
.p-40px,.py-40px{padding-top:40px !important;padding-bottom:40px !important;}

// .row{--bs-gutter-x:0;--bs-gutter-y:0px;}
// .row-0{--bs-gutter-x:0px !important;--bs-gutter-y:0px !important;}
// .row-x0{--bs-gutter-x:0px !important;}
// .row-x2{--bs-gutter-x:2px !important;}
// .row-x4{--bs-gutter-x:4px !important;}
// .row-x6{--bs-gutter-x:6px !important;}
// .row-x8{--bs-gutter-x:8px !important;}
// .row-x10{--bs-gutter-x:10px !important;}
// .row-x12{--bs-gutter-x:12px !important;}
// .row-x14{--bs-gutter-x:14px !important;}
// .row-x16{--bs-gutter-x:16px !important;}
// .row-x18{--bs-gutter-x:18px !important;}
// .row-x20{--bs-gutter-x:20px !important;}
// .row-x40{--bs-gutter-x:40px !important;}
// .row-x80{--bs-gutter-x:80px !important;}
// .row-y0{--bs-gutter-y:0px !important;}
// .row-y2{--bs-gutter-y:2px !important;}
// .row-y4{--bs-gutter-y:4px !important;}
// .row-y6{--bs-gutter-y:6px !important;}
// .row-y8{--bs-gutter-y:8px !important;}
// .row-y10{--bs-gutter-y:10px !important;}
// .row-y12{--bs-gutter-y:12px !important;}
// .row-y14{--bs-gutter-y:14px !important;}
// .row-y16{--bs-gutter-y:16px !important;}
// .row-y18{--bs-gutter-y:18px !important;}
// .row-y20{--bs-gutter-y:20px !important;}

// .g-0,.gx-0{--bs-gutter-x:0px !important;}
// .g-0,.gy-0{--bs-gutter-y:0px !important;}
// .g-4px,.gx-4px{--bs-gutter-x:4px !important;}
// .g-4px,.gy-4px{--bs-gutter-y:4px !important;}
// .g-6px,.gx-6px{--bs-gutter-x:6px !important;}
// .g-6px,.gy-6px{--bs-gutter-y:6px !important;}
// .g-8px,.gx-8px{--bs-gutter-x:8px !important;}
// .g-8px,.gy-8px{--bs-gutter-y:8px !important;}
// .g-10px,.gx-10px{--bs-gutter-x:10px !important;}
// .g-10px,.gy-10px{--bs-gutter-y:10px !important;}
// .g-12px,.gx-12px{--bs-gutter-x:12px !important;}
// .g-12px,.gy-12px{--bs-gutter-y:12px !important;}
// .g-16px,.gx-16px{--bs-gutter-x:16px !important;}
// .g-16px,.gy-16px{--bs-gutter-y:16px !important;}
// .g-20px,.gx-20px{--bs-gutter-x:20px !important;}
// .g-20px,.gy-20px{--bs-gutter-y:20px !important;}
// .g-24px,.gx-24px{--bs-gutter-x:24px !important;}
// .g-24px,.gy-24px{--bs-gutter-y:24px !important;}
// .g-28px,.gx-28px{--bs-gutter-x:28px !important;}
// .g-28px,.gy-28px{--bs-gutter-y:28px !important;}
// .g-30px,.gx-30px{--bs-gutter-x:30px !important;}
// .g-30px,.gy-30px{--bs-gutter-y:30px !important;}
// .g-32px,.gx-32px{--bs-gutter-x:32px !important;}
// .g-32px,.gy-32px{--bs-gutter-y:32px !important;}
// .g-36px,.gx-36px{--bs-gutter-x:36px !important;}
// .g-36px,.gy-36px{--bs-gutter-y:36px !important;}
// .g-40px,.gx-40px{--bs-gutter-x:40px !important;}
// .g-40px,.gy-40px{--bs-gutter-y:40px !important;}

.gap-1px{gap:1px;}
.gap-2px{gap:2px;}
.gap-3px{gap:3px;}
.gap-4px{gap:4px;}
.gap-5px{gap:5px;}
.gap-6px{gap:6px;}
.gap-7px{gap:7px;}
.gap-8px{gap:8px;}
.gap-9px{gap:9px;}
.gap-10px{gap:10px;}
.gap-12px{gap:12px;}
.gap-16px{gap:16px;}
.gap-20px{gap:20px;}
.gap-24px{gap:24px;}
.gap-28px{gap:28px;}
.gap-30px{gap:30px;}
.gap-32px{gap:32px;}
.gap-36px{gap:36px;}
.gap-40px{gap:40px;}

.row>* {
    position: relative;
}
.flex-row {
    --bs-gutter-x: 0px;
    --bs-gutter-y: 0px;

    >* {
        padding: 0;
    }
}
.float-wrap::after {
    display: block;
    clear: both;
    content: '';
}
.float-left{float:left;}
.float-right{float:right;}
.col-title {
    padding-right: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: #aaa;
}
*+.col-text {
    padding-left: 8px;
}
.col-5p{flex:0 0 auto;width:5%;}
.col-10p{flex:0 0 auto;width:10%;}
.col-15p{flex:0 0 auto;width:15%;}
.col-20p{flex:0 0 auto;width:20%;}
.col-25p{flex:0 0 auto;width:25%;}
.col-30p{flex:0 0 auto;width:30%;}
.col-35p{flex:0 0 auto;width:35%;}
.col-40p{flex:0 0 auto;width:40%;}
.col-45p{flex:0 0 auto;width:45%;}
.col-50p{flex:0 0 auto;width:50%;}
.col-55p{flex:0 0 auto;width:55%;}
.col-60p{flex:0 0 auto;width:60%;}
.col-65p{flex:0 0 auto;width:65%;}
.col-70p{flex:0 0 auto;width:70%;}
.col-75p{flex:0 0 auto;width:75%;}
.col-80p{flex:0 0 auto;width:80%;}
.col-85p{flex:0 0 auto;width:85%;}
.col-90p{flex:0 0 auto;width:90%;}
.col-95p{flex:0 0 auto;width:95%;}


.table td.row {
    display: table-cell !important;
    --bs-gutter-x: 0px !important;
    --bs-gutter-y: 0px !important;
    margin: 0 !important;
}
.col-64px{width:100%;max-width:calc(var(--bs-gutter-x) + 64px);}
.col-90px{width:100%;max-width:calc(var(--bs-gutter-x) + 90px);}
.col-100px{width:100%;max-width:calc(var(--bs-gutter-x) + 100px);}
.col-120px{width:100%;max-width:calc(var(--bs-gutter-x) + 120px);}
.col-180px{width:100%;max-width:calc(var(--bs-gutter-x) + 180px);}
.col-200px{width:100%;max-width:calc(var(--bs-gutter-x) + 200px);}
.col-320px{width:100%;max-width:calc(var(--bs-gutter-x) + 320px);}
.col-340px{width:100%;max-width:calc(var(--bs-gutter-x) + 340px);}
.w-180px {
    width: 180px;
}
.w-180px{width:180px;}
.col-120-m{width:100%;max-width:calc(100% - var(--bs-gutter-x) - 120px);}
.col-120x2-m{width:100%;max-width:calc(100% - ((var(--bs-gutter-x) + 120px) * 2));}

.offset-5p{margin-left:5%;}
.offset-10p{margin-left:10%;}
.offset-15p{margin-left:15%;}
.offset-20p{margin-left:20%;}
.offset-25p{margin-left:25%;}
.offset-30p{margin-left:30%;}
.offset-35p{margin-left:35%;}
.offset-40p{margin-left:40%;}
.offset-45p{margin-left:45%;}
.offset-50p{margin-left:50%;}
.offset-55p{margin-left:55%;}
.offset-60p{margin-left:60%;}
.offset-65p{margin-left:65%;}
.offset-70p{margin-left:70%;}
.offset-75p{margin-left:75%;}
.offset-80p{margin-left:80%;}
.offset-85p{margin-left:85%;}
.offset-90p{margin-left:90%;}
.offset-95p{margin-left:95%;}

.offset-right-5p{margin-right:5%;}
.offset-right-10p{margin-right:10%;}
.offset-right-15p{margin-right:15%;}
.offset-right-20p{margin-right:20%;}
.offset-right-25p{margin-right:25%;}
.offset-right-30p{margin-right:30%;}
.offset-right-35p{margin-right:35%;}
.offset-right-40p{margin-right:40%;}
.offset-right-45p{margin-right:45%;}
.offset-right-50p{margin-right:50%;}
.offset-right-55p{margin-right:55%;}
.offset-right-60p{margin-right:60%;}
.offset-right-65p{margin-right:65%;}
.offset-right-70p{margin-right:70%;}
.offset-right-75p{margin-right:75%;}
.offset-right-80p{margin-right:80%;}
.offset-right-85p{margin-right:85%;}
.offset-right-90p{margin-right:90%;}
.offset-right-95p{margin-right:95%;}

.offset-right-12{margin-right: 100%;}
.offset-right-11{margin-right: 91.66666667%;}
.offset-right-10{margin-right: 83.33333333%;}
.offset-right-9{margin-right: 75%;}
.offset-right-8{margin-right: 66.66666667%;}
.offset-right-7{margin-right: 58.33333333%;}
.offset-right-6{margin-right: 50%;}
.offset-right-5{margin-right: 41.66666667%;}
.offset-right-4{margin-right: 33.33333333%;}
.offset-right-3{margin-right: 25%;}
.offset-right-2{margin-right: 16.66666667%;}
.offset-right-1{margin-right: 8.33333333%;}
.offset-right-0{margin-right: 0;}

.fs-12px{font-size:12px;}
.fs-13px{font-size:13px;}
.fs-14px{font-size:14px;}
.fs-15px{font-size:15px;}
.fs-16px{font-size:16px;}
.fs-17px{font-size:17px;}
.fs-18px{font-size:18px;}
.fs-19px{font-size:19px;}
.fs-20px{font-size:20px;}
.fs-21px{font-size:21px;}
.fs-22px{font-size:22px;}
.fs-23px{font-size:23px;}
.fs-24px{font-size:24px;}

.fw-100{font-weight:100;}
.fw-200{font-weight:200;}
.fw-300{font-weight:300;}
.fw-400{font-weight:400;}
.fw-500{font-weight:500;}
.fw-600{font-weight:600;}
.fw-700{font-weight:700;}
.fw-800{font-weight:800;}
.fw-900{font-weight:900;}

@-webkit-keyframes move-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes move-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes fade-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    75% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }
}
@keyframes fade-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    75% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes DropDownSlide {
    100% {
        margin-top: -1px;
    }
    0% {
        margin-top: 8px;
    }
}
@keyframes DropDownSlide {
    100% {
        margin-top: -1px;
    }
    0% {
        margin-top: 8px;
    }
}
@-webkit-keyframes DropDownSlideDown {
    100% {
        margin-bottom: 0;
    }
    0% {
        margin-bottom: 8px;
    }
}
@keyframes DropDownSlideDown {
    100% {
        margin-bottom: 0;
    }
    0% {
        margin-bottom: 8px;
    }
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}
@keyframes animate-positive {
    0% {
        width: 0;
    }
}

$breakpoint : (
    xs:480px,
    sm:575px,
    md:767px, //mo
    lg:991px,
    xl:1200px,
    xxl:1400px
);

@mixin breakpoint($breakpoint-name) {
    $value: map-get($breakpoint, $breakpoint-name);
    @if $value {
        @media (max-width: $value) {
            @content;
        }
    } @else {
        @warn "Breakpoint '#{$breakpoint-name}' not found in \$breakpoint map.";
    }
}

@include breakpoint(xxl) {
    :root {
        --min-width:100%;
    }
}
@include breakpoint(xl) {}
@include breakpoint(lg) {}
@include breakpoint(md) {}
@include breakpoint(sm) {}
@include breakpoint(xs) {}