/* 설문지 */
.survey-area,
.survey-list {
    display: flex;
    flex-direction: column;
    gap:12px;
}
.survey-list {
    h6 {
        display: block;
        margin-bottom:12px;
    }
}

/*커뮤니티*/
.event-list,
.event-v-list {
    display: grid;
    gap:24px;
    li {
        overflow: hidden;
        &.disabled {
            a {
                pointer-events:none;
            }
            .img-area {
                filter: grayscale(1);
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background: rgba(black, .4);
                    z-index: 1;
                }
            }
        }
    }
    a {
        display: flex;
        flex-direction: column;
        gap:16px;
        &:hover {
            .img-area {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
    .img-area {
        aspect-ratio: 4/1;
        overflow: hidden;
        border-radius: var(--border-radius);
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            transform: scale(1);
            transition: transform .3s;
        }
    }
    .txt-area {
        display: flex;
        flex-direction: column;
        gap:4px;
        small {
            font-size:12px;
        }
        p {
            font-weight: 500;
        }
    }
}
.event-list {
    grid-template-columns: repeat(3, 1fr);
    .img-area {
        aspect-ratio: 4/1;
    }
}
.event-v-list {
    grid-template-columns: repeat(6, 1fr);
    .img-area {
        aspect-ratio: 1/1.47;
    }
}
.job-list {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:24px;
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:16px;
        height:100%;
        border:1px solid var(--border-color-light);
        padding:40px 24px;
        border-radius: var(--border-radius);
    }
    .img-area {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100%;
        aspect-ratio: 12/3;
        img {
            object-fit: contain;
            display: block;
            margin:0 auto;
            height:100%;
        }
    }
    .txt-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:4px;
        > * {
            font-style: normal;
        }
        em {
            color:var(--first-color);
            font-weight: 700;
        }
        cite {
            font-size:18px;
        }
    }
}
.job-view {
    margin:0 auto;
    max-width: 480px;
    text-align: center;
    
    .job-view-cont {
        display: flex;
        flex-direction: column;
        gap:24px;
    }
    .company-logo {
        margin:0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 240px;
        padding:8px;
        border:1px solid var(--border-color);
        border-radius: var(--border-radius);
        overflow: hidden;
        width: 100%;
        aspect-ratio: 12/3;
        img {
            object-fit: contain;
            display: block;
            margin:0 auto;
            height:100%;
        }
    }
    .job-view-info-list {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        border-top: 1px solid var(--border-color-light);
        border-bottom: 1px solid var(--border-color-light);
        padding:16px;
        gap:8px;
        li {
            display: flex;
            text-align: left;
        }
        cite {
            font-style: normal;
            font-weight: 700;
            width: 80px;
           
            flex:none;
        }
        .txt-area {
            flex:1;
        }
    }
    .job-view-txt {
        text-align: left;
    }
    .job-view-etc {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:4px;
        border-top: 1px solid var(--border-color-light);
        padding-top:24px;
        ul {
            display: flex;
            margin:0 auto;
            gap:4px 16px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .etc-logo {
            margin-top:8px;
            height: 48px;
            img {
                height:100%;
            }
        }
    }
}

/* 학원정보 */
.label-room{
    display: inline-flex;
    border:1px solid var(--border-color);
    padding:4px;
    font-size:12px;
}
.table-room-area {
    overflow: auto;
    position: relative;
    overflow: auto;
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    font-size:12px;
    table {
        border-collapse: separate;
        th,
        td {
            border-right:1px solid var(--border-color);
            border-bottom:1px solid var(--border-color);
            box-sizing: border-box;
            padding:4px 16px;
            text-align: center;
            min-width:80px;
        }
        td {
           background-color:var(--btn-deep-color); 
           &.blank {
            background-color: #fff;
           }
        }
    }
    thead {
        position: sticky;
        top:-1px;
        background-color: $bg-light-primary;
        z-index: 1;
        th {
            border-top: none;
        }
    }
    tbody {
        position: relative;
        th {
            position: sticky;
            left:0;
            border-left: none;
        }
    }
    tbody th,
    .sticky-col {
        position: sticky;
        left:-1px;
        background-color:$bg-light-primary;
        border-left: none;
    }
}

/* 교육과정 */
.curriculum {
    max-width:1280px; margin:0 auto; position:relative;
    .TxtBlueBold{color: #0070f0; font-weight: 900;text-transform:uppercase }

    .page-header { display:block; position:relative; margin:20px 0 40px;}
    .page-header h3{font-size:32px; font-weight:200; margin-bottom:12px;}
    .page-header h3 span{display:block; font-weight:900;}
    .page-header h3 span em{font-weight:300; font-style:normal;}

    .curriculum-wr{display:block; width:100%; padding:80px; z-index:1; position:relative;color:#fff;border-radius:20px; overflow:hidden; background:#03080b; margin-bottom: 60px;}
    .curriculum-cont{z-index:1; }
    .curriculum-wr:after{width:100%; height:100%; background: url('https://koreaitacademy.com/2023/img/curriculum-bg.jpg') 50% no-repeat; background-size:cover; display:block; content:""; position:absolute; top:0px; left:0px;z-index:-1; opacity:0.7;}
    .curriculum-cont-tit{margin-bottom:40px;}
    .curriculum-cont-tit h3{font-size:40px; font-weight:900; margin-bottom:20px;}
    .curriculum-cont-tit span{font-size:17px; width:68%; display:block; font-weight:200; line-height:1.6}
    .count-Texts{display:flex;}
    .count-Texts>div{width:33.333333%; text-align:center;}
    .count-Texts>div h3{font-size:80px;}
    .curriculum-list + div{margin-top:60px;}
    .curriculum-list {display:block; width:100%;}
    .curriculum-list .dep03 {
        display: grid;
        margin-top:10px;
        grid-template-columns: repeat(4, 1fr);
        gap:20px;
    }
    .curriculum-list .dep03 li dl dd{display:none;}
    .curri-4step ul:after, .curri-box-txt dl:after, .lnb-ul:after, .curriculum-list .dep03:after {display:block; content:""; clear:both;}
    .curriculum-list .dep03 li {margin-top:0}
    .curriculum-list .dep03 li a{display:flex; width:100%; height:60px; border-radius:12px; border:1px solid #ddd; padding-left:20px; font-weight:700; font-size:15px;    align-items: center;transition: .17s linear;justify-content: space-between;}
    .curriculum-list .dep03 li a:after {content:""; display:block; width:22px; height:22px; position:relative; background: url('https://koreaitacademy.com/2023/img/icon-ar-right-bk.png') left center no-repeat; background-size:cover;  margin-right:20px;}
    .curriculum-list .dep03 li a:hover{text-decoration:none; background:#0070f0; color:#fff !important; }
    .curriculum-list  .dep03 li a:hover:after{background: url('https://koreaitacademy.com/2023/img/icon-ar-right-wh.png') left center no-repeat;background-size:cover; }
}
/*따즈아*/
.csIntro {width:100%; line-height:1.6;max-width:1060px; margin:0 auto; position:relative;}
.csIntro * { line-height:1.6 }
.csIntro:after {content:""; display:table; clear:both;}
.csIntro img {display:block; max-width:100%; margin:0 auto;}
.csIntro h3 {font-family:"Rajdhani", sans-serif; font-size:16pt; color:#202020; font-weight:700; text-align:center; text-transform:uppercase;}
.csIntro01 {background:url("http://old.ddazua.com/img/course/intro01_bg.jpg")no-repeat center center; background-size:auto 100%;}
.csIntro02 {padding-top:60px; padding-bottom:60px;}
.csiSlider {margin:0 -10px;}
.csiCont {padding:40px 10px 0 10px;}
.csiCont em {display:block; padding-bottom:58%;}
.csiCont h5 {letter-spacing:-0.075em; color:#333333; font-weight:500; font-size:14pt; margin-top:15px;}
.csiCont p {letter-spacing:-0.075em; color:#666666; font-size:11pt;}
.csipSlider {margin:0 -10px;}
.csipSlider .slick-slide {padding:40px 10px 0 10px;}
.csipSlider .slick-slide em {display:block; padding-bottom:58%;}
.csIntro03 {background:#fafafa; padding-top:60px; padding-bottom:60px; text-align:center;}
.csIntro03 h4 {font-size:18pt; color:#202020; margin-top:50px; font-weight:700;}
.csIntro03 p {font-size:11pt; color:#202020;}
.csIntro03 h5 {margin-top:30px; font-size:18pt; color:#202020; font-weight:700; position:relative; padding-bottom:100px;}
.csIntro03 h5:after {content:""; display:block; width:1px; height:70px; background:#000; position:absolute; left:50%; bottom:0;}
.csIntro03 h5 span {font-weight:300;}
.csIntro03 dl {}
.csIntro03 dl dt {margin-top:20px; font-size:18pt; color:#202020; font-weight:700;}
.csIntro03 dl dt span {color:#ed1c24;}
.csIntro03 dl dd {font-size:11pt; color:#666666;}
.csIntro04 {background:url("http://old.ddazua.com/img/course/intro04_bg.jpg")no-repeat center center; text-align:center; padding:60px 0;}
.csIntro04 h3 {font-weight:300; color:#fff; font-size:24pt; letter-spacing:-0.075em;}
.csIntro04 h3 span {font-weight:700;}
.csIntro04 ul {display:inline-block; white-space:nowrap; text-align:left; margin-top:10px;}
.csIntro04 ul li {color:#fff; font-weight:300; padding:2px 0; font-size:11pt; padding-left:25px; background:url("http://old.ddazua.com/img/course/intro04_chk.png")no-repeat left center;}
.csIntro05 {text-align:center; padding:60px 0; color:#202020;}
.csIntro05 h3 {font-size:20pt; font-weight:700; line-height:1.0em;}
.csIntro05 h3 em {font-style:normal; display:block; font-weight:300; font-size:11pt;}
.csIntro05 h4 {font-size:11pt; font-weight:300; line-height:1.3em; margin-top:20px; padding-bottom:85px; position:relative; margin-bottom:10px;}
.csIntro05 h4:after {content:""; display:block; width:1px; height:70px; background:#000; position:absolute; left:50%; bottom:0;}
.csIntro05 h4 span {display:block;}
.csIntro05 h5 {font-size:24pt; font-weight:300;}
.csIntro05 h5 b {font-weight:700;}
.csIntro05 h5 span {display:inline-block; position:relative;}
.csIntro05 h5 span:after {content:""; display:block; position:absolute; left:-2px; right:-8px; bottom:-3px;; height:20px; background:url("http://old.ddazua.com/img/course/intro05_underline.png")no-repeat center bottom; background-size:100% auto;}
.csIntro05 ul {padding-top:50px;}
.csIntro05 ul li {display:inline-block; white-space:nowrap; width:230px;}
.csIntro05 ul li em {display:block; margin:0 auto; width:110px; height:110px; border-radius: 110px 110px 110px 110px; -moz-border-radius: 110px 110px 110px 110px; -webkit-border-radius: 110px 110px 110px 110px;}
.csIntro05 ul li p {margin-top:15px; line-height:1.2em;}
.csIntro06 {background:url("http://old.ddazua.com/img/course/intro06_bg.jpg")no-repeat center center; text-align:center; padding:60px 0;}
.csIntro06 h3 {color:#fff; padding-top:380px; padding-bottom:30px; letter-spacing:-0.075em; line-height:1.3em; font-weight:300; font-size:20pt; background:url("http://old.ddazua.com/img/course/intro06_logo.png")no-repeat center top;}
.csIntro06 h3 span {display:block;}
.csIntro06 h3 span b {font-weight:700;}
.csIntro06 a {display:inline-block; padding:10px 50px; background:#fff; color:#333; font-weight:300; font-size:12pt;}
.csIntro06 a span {font-weight:500;}

//pc wide 1400
@include breakpointMax(xxl) {

}

//pc 1200
@include breakpointMax(xl) {
    .job-list,
    .event-v-list{
        grid-template-columns: repeat(4, 1fr);
        gap:16px;
    }
    .event-list {
        grid-template-columns: repeat(2, 1fr);
        gap:16px;
    }
}
@include breakpointMin(lg) {
    /*따즈아 */
    .csiCont {width:33.3333% !important;}
	.csipSlider .slick-slide {width:33.3333% !important;}
}
//ta 992
@include breakpointMax(lg) {
    /*따즈아 */
    .csIntro {padding-left:15px; padding-right:15px;}
	.csiSlider {margin:0; padding:20px 0 0;}
	.csiCont {padding:0;}
	.csiCont em {background-size:cover !important;}
	.csiCont h5 {font-size:12pt; margin-top:10px; text-align:center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
	.csiCont p {font-size:10pt; text-align:center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
	.csiSlider .slick-dots {text-align:center; margin-top:10px;}
	.csiSlider .slick-dots li {display:inline-block; width:10px; height:10px; background:#ddd; margin:0 2px; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;}
	.csiSlider .slick-dots li.slick-active {background:#ed1c24 ;}
	.csiSlider .slick-dots button {display:none;}
	.csipSlider {margin:0; padding:20px 0 0;}
	.csipSlider .slick-slide {padding:0;}
	.csipSlider .slick-slide em {background-size:cover !important;}
	.csipSlider .slick-dots {text-align:center; margin-top:10px;}
	.csipSlider .slick-dots li {display:inline-block; width:10px; height:10px; background:#ddd; margin:0 2px; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;}
	.csipSlider .slick-dots li.slick-active {background:#ed1c24 ;}
	.csipSlider .slick-dots button {display:none;}
	.csIntro03 {background:#fafafa; padding-top:60px; padding-bottom:60px; text-align:center;}
	.csIntro03 h4 {font-size:14pt; margin-top:30px;}
	.csIntro03 p {font-size:10pt;}
	.csIntro03 h5 {margin-top:15px; font-size:14pt; padding-bottom:60px;}
	.csIntro03 h5:after {height:40px;}
	.csIntro03 dl dt {margin-top:20px; font-size:12pt;}
	.csIntro03 dl dd {font-size:10pt;}
	.csIntro03 dl dd span {display:block;}
	.csIntro04 {background-size:cover;}
	.csIntro04 h3 {font-size:18pt;}
	.csIntro04 ul li {font-size:10pt; padding-left:15px; background-size:10px auto;}
	.csIntro05 h3 {font-size:18pt; line-height:1.3em;}
	.csIntro05 h3 span {display:block;}
	.csIntro05 h3 em {font-size:9pt;}
	.csIntro05 h4 {font-size:10pt; margin-top:15px; padding-bottom:60px; margin-bottom:10px; line-height:1.4em;}
	.csIntro05 h4:after {height:40px;}
	.csIntro05 h4 span {display:inline;}
	.csIntro05 h5 {font-size:18pt;}
	.csIntro05 ul {padding-top:30px;}
	.csIntro05 ul:after {content:""; display:table; clear:both;}
	.csIntro05 ul li {display:block; width:33.3333%; float:left;}
	.csIntro05 ul li em {width:60px; height:60px; background-size:50% auto !important;}
	.csIntro05 ul li p {margin-top:10px; font-size:8pt; line-height:1.4em;}
	.csIntro06 {background-size:cover;}
	.csIntro06 h3 {padding-top:190px; padding-bottom:15px;font-size:14pt; background-size:170px auto;}
	.csIntro06 h3 span {display:block;}
	.csIntro06 h3 span b {font-weight:700;}
	.csIntro06 a {display:inline-block; padding:10px 50px; background:#fff; color:#333; font-weight:300; font-size:12pt;}
	.csIntro06 a span {font-weight:500;}
}

//ta 768
@include breakpointMax(md){
    .job-list,
    .event-v-list {
        grid-template-columns: repeat(2, 1fr);
        gap:8px;
    }
    .event-list {
        grid-template-columns: repeat(1, 1fr);
        gap:16px;
    }
    .event-v-list  {
        gap:24px 8px;
    }
    .job-view {
        .job-view-info-list {
            padding-left:0;
            padding-right:0;
            grid-template-columns: auto;
        }
    }
    .curriculum {
        .page-header {
            margin:0 0 20px;
        }
        .page-header h3{font-size:21px; font-weight:200; margin-bottom:12px;}
        .page-header h3 span em {font-weight:300; font-style:normal;}
    
        .curriculum-wr{padding:20px; border-radius:20px;}
        .curriculum-cont-tit{margin-bottom:40px;}
        .curriculum-cont-tit h3{font-size:21px; margin-bottom:20px;}
        .curriculum-cont-tit span{font-size:15px; width:100%; display:block; font-weight:200; line-height:1.6}
        .count-Texts{display:flex;flex-direction: column;}
        .count-Texts>div{width:100%; text-align:center;}
        .count-Texts>div h3{font-size:80px;}
        .curriculum-list .dep03 li dl dd{display:none;}
        .curriculum-list .dep03 { grid-template-columns: repeat(2, 1fr); gap:10px;}
        .curriculum-list .dep03 li {margin-top:0}
        .curriculum-list .dep03 li a{display:flex; width:100%; height:48px; border-radius:12px; border:1px solid #ddd; padding-left:20px; font-weight:700; font-size:15px;    align-items: center;transition: .17s linear;justify-content: space-between;}
        .curriculum-list .dep03 li a:after {content:""; display:block; width:22px; height:22px; position:relative; background: url('https://koreaitacademy.com/2023/img/icon-ar-right-bk.png') left center no-repeat; background-size:cover;  margin-right:20px;}
        .curriculum-list .dep03 li a:hover{text-decoration:none; background:#0070f0; color:#fff !important; }
        .curriculum-list .dep03 li a:hover:after{background: url('https://koreaitacademy.com/2023/img/icon-ar-right-wh.png') left center no-repeat;background-size:cover; }
    }   
}

//mo 576
@include breakpointMax(sm) {

}

//mo 480
@include breakpointMax(xs) {

}