.table-body .table th{height:49px;}

.form-list{padding-left:20px;position: relative;}
.form-list:before{content: '';position:absolute;left:0;width:10px;height:10px;left:0;top:10px;border:1px solid var(--bs-gray-200) ;border-radius:100%;}

.modal-survey-list.overflow-y-scroll {padding-right: 5px;max-height: calc((100vh - 60vh));}

.d-flex-wrap{display: flex !important;flex-wrap: wrap;}
.d-flex-wrap > div {margin-right:10px;}