.table-body .table th{height:49px;}

.form-list{padding-left:20px;position: relative;}
.form-list:before{content: '';position:absolute;left:0;width:10px;height:10px;left:0;top:10px;border:1px solid #ced4da ;border-radius:100%;}

.modal-survey-list.overflow-y-scroll {padding-right: 5px;max-height: calc((100vh - 60vh));}

.table-text-end{font-size:14px;}
.table-write.text-center th, .table-write.text-center td{text-align:center;}
.table-x-scroll{overflow-x: scroll;}
.table-x-scroll table{white-space: nowrap;}
.ft-14{font-size: 14px;}