
.card-header.card-search .row>div {
  align-items: flex-start;
}
.table-scroll-y {
  position: relative;
  overflow-y: auto;
  width: 100%;
  z-index: 0;
  &::before {
    display: block;
    clear: both;
    content: '';
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 3;
    background: #5a66ff;
  }
  thead,
  .sticky-y {
    position: sticky;
    top:0;
    z-index: 2;
  }
}
.fnc-area,
.flex-area {
  display: flex;
  gap:1rem;
  justify-content: space-between;
  align-items: flex-end;
  .l-area,
  .r-area {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: center;
    flex: 0 0 auto;
    width: auto;
    > * {
      display: inline-block;
    }
    .choices {
      margin-bottom: 0;
    }
  }
  .r-area {
    justify-content: flex-end;
    margin-left:auto;
  }

}
.fnc-area {
  margin-bottom: .5rem;
}
.btn {
  text-wrap: nowrap;
}
