.tit-area-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    background-color: var(--body-bg);
    margin-bottom: .4rem;
    & > .tit {
        font-size: 15px;
        font-weight: 600;
        color: var(--card-title-color);
    }
}

.btn-tooltip-info {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../libs/feather-icons/icons/info.svg) no-repeat center / cover;
    text-indent: -9999px;
    font-size: 0;
    border: 0;
    vertical-align: middle;
}
