:root {
    /* Color Pallete */
    --first-color:#3BA4FD;
    --first-color-h:#0094FF;
    --second-color:#FF710A;
    --second-color-h:#FF5033;
    --deep-color:#2A364A;
    --deep-color-h:#222;
    --gray-color: #e9ebec;
    --gray-light-color: #f3f6f9;
}
.navbar-menu { 
  .navbar-nav {
    .nav-link {
      i {
        @for $i from 1 through 9 {
          &.ico#{$i} {
            background-image: url(../img/app-menu-ico#{$i}@2x.png);
          }
        }
      }
    }
  }
}
