/* animation */
@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media (min-width:1600px){
    .col-xxxl-13{
        -webkit-box-flex:0;
        -ms-flex:0 0 auto;
        flex:0 0 auto;
        width:20%
    }
}
@-webkit-keyframes move-up{
    0%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    100%{
        -webkit-transform:translateY(-15px);
        transform:translateY(-15px);
    }
}
@keyframes move-up{
    0%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    100%{
        -webkit-transform:translateY(-15px);
        transform:translateY(-15px);
    }
}
@-webkit-keyframes fade-up{
    0%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity:1
    }
    75%{
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
        opacity:0
    }
}
@keyframes fade-up{
    0%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity:1
    }
    75%{
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
        opacity:0
    }
}
@-webkit-keyframes spin{
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes spin{
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes DropDownSlide{
    100%{
        margin-top:-1px
    }
    0%{
        margin-top:8px
    }
}
@keyframes DropDownSlide{
    100%{
        margin-top:-1px
    }
    0%{
        margin-top:8px
    }
}
@-webkit-keyframes DropDownSlideDown{
    100%{
        margin-bottom:0
    }
    0%{
        margin-bottom:8px
    }
}
@keyframes DropDownSlideDown{
    100%{
        margin-bottom:0
    }
    0%{
        margin-bottom:8px
    }
}
@-webkit-keyframes fadeInLeft{
    0%{
        opacity:0;
        -webkit-transform:translate3d(-30%,0,0);
        transform:translate3d(-30%,0,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@keyframes fadeInLeft{
    0%{
        opacity:0;
        -webkit-transform:translate3d(-30%,0,0);
        transform:translate3d(-30%,0,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@-webkit-keyframes fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,30%,0);
        transform:translate3d(0,30%,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@keyframes fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,30%,0);
        transform:translate3d(0,30%,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@-webkit-keyframes zoomIn{
    0%{
        opacity:0;
        -webkit-transform:scale3d(.3,.3,.3);
        transform:scale3d(.3,.3,.3)
    }
    50%{
        opacity:1
    }
}
@keyframes zoomIn{
    0%{
        opacity:0;
        -webkit-transform:scale3d(.3,.3,.3);
        transform:scale3d(.3,.3,.3)
    }
    50%{
        opacity:1
    }
}
@-webkit-keyframes animate-positive{
    0%{
        width:0
    }
}
@keyframes animate-positive{
    0%{
        width:0
    }
}
