@font-face {
    font-family: 'NanumSquare Neo';
    src: url('font/NanumSquareNeo-aLt.woff2') format('woff2'),
        url('font/NanumSquareNeo-aLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare Neo';
    src: url('font/NanumSquareNeo-bRg.woff2') format('woff2'),
        url('font/NanumSquareNeo-bRg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare Neo';
    src: url('font/NanumSquareNeo-cBd.woff2') format('woff2'),
        url('font/NanumSquareNeo-cBd.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare Neo';
    src: url('font/NanumSquareNeo-dEb.woff2') format('woff2'),
        url('font/NanumSquareNeo-dEb.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare Neo';
    src: url('font/NanumSquareNeo-eHv.woff2') format('woff2'),
        url('font/NanumSquareNeo-eHv.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
