 @charset "UTF-8";
/*
	Author	: Somi Park, hyojeong yang
	Date	: 2023-03-20
	Project	: EPA
*/
@font-face {
	font-family: 'SourceHanSerifKR';
	font-style: normal;
	font-weight: 900;
	src: url('font/SourceHanSerifKR-Heavy_subset.woff2') format('woff2'), url('font/SourceHanSerifKR-Heavy_subset.woff') format('woff');
  }
  @font-face {
	font-family: 'SourceHanSerifKR';
	font-style: normal;
	font-weight: 600;
	src: url('font/SourceHanSerifKR-Bold_subset.woff2') format('woff2'), url('font/SourceHanSerifKR-Bold_subset.woff');
  }
  @font-face {
	font-family: 'SourceHanSerifKR';
	font-weight: 500;
	src: url('font/SourceHanSerifKR-Heavy_subset_subset.woff2') format('woff2'), url('font/SourceHanSerifKR-SemiBold_subset.woff') format('woff');
  }
  @font-face {
	font-family: 'SourceHanSerifKR';
	font-weight: 400;
	src: url('font/SourceHanSerifKR-SemiBold_subset_subset.woff2') format('woff2'), url('font/SourceHanSerifKR-SemiBold_subset.woff') format('woff');
  }
  @font-face {
	font-family: 'SourceHanSerifKR';
	font-weight: 300;
	src: url('font/SourceHanSerifKR-Medium_subset.woff2') format('woff2'), url('font/SourceHanSerifKR-Medium_subset.woff') format('woff');
  }
  @font-face {
	font-family: 'SourceHanSerifKR';
	font-weight: 200;
	src: url('font/SourceHanSerifKR-Light_subset.woff2') format('woff2'), url('font/SourceHanSerifKR-Light_subset.woff') format('woff');
  }
  @font-face {
	font-family: 'SourceHanSerifKR';
	font-weight: 100;
	src: local('SourceHanSerifKR-ExtraLight_subset'), url('font/SourceHanSerifKR-ExtraLight_subset.woff2') format('woff2'), url('font/SourceHanSerifKR-ExtraLight_subset.woff') format('woff');
  }
html, body {
	height: 100%;
	-webkit-print-color-adjust:exact; 
}
html {
	border: 0;
	outline: 0;
	font-size: 62.5%;
}
body {
	/* font-size: 16pt;
	line-height: 1.5;
	font-family: 'SourceHanSerifKR', 'Calibri', "맑은 고딕", "Malgun Gothic", "Apple Gothic", "돋움", Dotum, "굴림", Gulim, sans-serif;
	background-color: transparent;
	color: #222;
	font-weight: 400;
	letter-spacing: -0.025em;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
	width: 100%; */
	margin: 0;
    padding: 0;
    font-family: "SourceHanSerifKR", "Spoqa Han Sans JP", "Sans-serif";
    font-size: 14px;
}
body.noscroll {
	overflow: hidden;
}
::selection {
	color: #fff;
	background-color: #273640;
}
::-moz-selection {
	color: #fff;
	background-color: #273640;
}
table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
table caption {
	height: 0;
	font-size: 0.1em;
	color: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
}
html, body, nav, section, article, figure, figcaption,
h1, h2, h3, h4, h5, h6,
menu, ul, ol, dl, li, dt, dd,
p, form {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1em;
}
img {
	margin: 0;
	border: none;
}
ul, ol, dl, li {
	list-style: none;
}
cite, em, address {
	font-style: normal;
}
em {
}
b, strong {
	font-weight: 700;
}
iframe {
	border: none;
	outline: 0;
}
a > span {
	cursor: pointer;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover,
a:focus {
	text-decoration: none;
}
*:focus,
a:focus,
textarea:focus, input:focus {
	/*outline: 0;*/
}
a:before {
	content: ' ';
	position: absolute;
	font-size: 0
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
}
fieldset legend {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}
fieldset label {
	margin-right: 17px;
	font-size:16px;
}
input[type=text],
input[type=password],
input[type=number] {
	font-size: 16px;
	vertical-align: top;
	padding: 0 15px;
	height: 36px;
	border: 1px solid #c5cfde;
	width: 260px;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
input[type=number] {
	padding: 0;
	text-align: center;
}
input[type="file"],
input[type="file"]:hover {
	padding: 0;
	border: none;
}
td input {
	vertical-align: top;
}
textarea {
	border: 1px solid #c5cfde;
}
input:hover,
textarea:hover {
	border: 1px solid #c5cfde;
}
input[type="file"]:hover {
	border: none;
}
input:focus,
textarea:focus {
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}
textarea[disabled="disabled"] {
	border: none;
}
textarea:focus[disabled="disabled"] {
	box-shadow: none;
}
input[type="radio"],
input[type="checkbox"] {
	border: 0;
	height: auto;
	box-shadow: none;
	cursor: pointer;
	vertical-align:middle;
}
input[type="checkbox"] {
	width: 20px;
	height: 20px;
	background: none;
}
input[readonly]:not(.datepicker), input[readonly]:not(.datepicker):hover, input[readonly]:not(.datepicker):focus,
input[disabled]:not(.datepicker), input[disabled]:not(.datepicker):hover, input[disabled]:not(.datepicker):focus {
	background: #f9f9f9;
	border: 1px solid #ccc;
	font-weight: 300;
	box-shadow: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ac {
    text-align: center;
}
.print-certificate {
	position: relative;
	overflow-x: auto;
	width: 735px;
	min-width: 735px;
	margin: 0 auto;
  }
  .certificate {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding-top: 141.27516779%;
  }
  .certificate h1,
  .certificate p,
  .certificate li {
	font-style: normal;
	font-weight: 500;
  }
  .certificate .certificate-bg {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  }
  .certificate-cont {
	position: absolute;
	width: 100%;
	background: none;
	z-index: 2;
	height: 100%;
	top: 0;
	padding: 7.3% 11.5%;
	font-family: 'SourceHanSerifKR', 'Calibri', "맑은 고딕", "Malgun Gothic", "Apple Gothic", "돋움", Dotum, "굴림", Gulim, sans-serif;
  }
  .certificate-cont .num {
	font-size: 17px;
	letter-spacing: -0.15px;
	margin-bottom: 10%;
  }
  .certificate-cont h1 {
	font-weight: 900;
	font-size: 62px;
	padding-bottom: 13%;
	text-align: center;
	letter-spacing: .5em;
	text-indent: .25em;
  }
  .certificate-cont h1 span {
	padding: 0px 30px;
  }
  .certificate-cont .info {
	margin-bottom: 12%;
  }
  .certificate-cont .info li {
	font-size: 22px;
	margin-bottom: 24px;
	position: relative;
	padding-left: 30%;
  }
  .certificate-cont .info cite {
	position: absolute;
	left: 0;
	top: 0;
	width: 26%;
	padding-right:6%;
	display: flex;
	justify-content: space-between;
  }
  .certificate-cont .info i {
	position: absolute;
	right:0;
	font-style: normal;
  }
  .certificate-cont .info > i {
	display: inline-block;
	padding-right:.5%;
  }
  .certificate-cont .info li:last-child {
	margin-bottom: 0 !important;
  }
  .certificate-cont .text {
	font-size: 29px;
	line-height: 2.1em;
	margin-bottom: 9%;
  }
  .certificate-cont .date {
	font-size: 22px;
  }
  .certificate-cont .position-relative {
	margin: 0 auto;
  }
  .certificate-cont .position-relative img {
	position: absolute;
	right: 0;
	top: 0;
  }
  .certificate.ewha-certificate > div {
	padding: 8.3% 12%;
  }
  .certificate.ewha-certificate > div .num {
	margin-bottom: 7%;
  }
  .certificate.ewha-certificate > div h1 {
	padding-bottom: 8.4%;
  }
  .certificate.ewha-certificate > div .info {
	margin-bottom: 14%;
  }
  .certificate.ewha-certificate > div .info li {
	margin-bottom: 34px;
	font-size: 18px;
	padding-left: 25%;
	letter-spacing: -0.3px;
  }
  .certificate.ewha-certificate > div .info li span {
	width: 22%;
  }
  .certificate.ewha-certificate > div .text {
	font-size: 23px;
	font-weight: bold;
	line-height: 1.78;
	letter-spacing: 0.31px;
	margin-bottom: 9%;
  }
  .certificate.ewha-certificate > div .date {
	font-size: 20px;
  }
  .btn-print-cont {
	position: absolute;
	right: 50px;
	top: 50px;
	z-index: 3;
  }
  .btn-print-cont .btn {
	width: auto;
    height: 40px;
    line-height: 38px;
    min-width: 72px;
    padding: 0 8px;
	background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
	z-index: 100;
	border-radius: 4px;
  }
  .btn-print-cont .btn:hover, 	
  .btn-print-cont .btn:focus{ 
	cursor: pointer;
	background: #efefef;
  }

  @media print {
	@page {
		margin: 0;
		padding:0;
		size: A4;
	}
	html, body {
		margin: 0 !important;
		padding: 0 !important;
		page-break-after: avoid;
    	page-break-before: avoid;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.print-none {
		display: none;
	}
 }