@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{margin:0;font-family:var(--font-family);font-size:var(--font-size);font-weight:var(--font-weight);line-height:var(--line-height);color:var(--body-color);text-align:var(--text-align);background-color:var(--body-bg);}
#layout-wrapper{min-width:var(--min-width);}
#profile-wrapper{padding:0 20px;}
.iframe{min-width:320px;background:#fff;}
#page-topbar{position:fixed;top:0;left:169px;z-index:calc(1002 + 1);-webkit-transition:all .1s ease-out;transition:all .1s ease-out;background:#fff;}
:is([data-sidebar-size=sm],[data-sidebar-size=sm-hover]) #page-topbar{left:-1px}
.app-content{margin-left:var(--appmenu-width);overflow:hidden}
.app-content .content{padding:0 15px 10px 15px;margin-top:70px}
.navbar-hamburger{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:0 auto;height:59px;padding:0;}
.navbar-hamburger .topnav-hamburger{width:70px;height:60px;text-align:center;display:flex;justify-content:center;align-items:center;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background-color:transparent;border:none;}
.hamburger-icon{width:20px;height:14px;position:relative;cursor:pointer;display:inline-block}
.hamburger-icon span{background-color:#6d7080;position:absolute;border-radius:2px;-webkit-transition:.3s cubic-bezier(.8,.5,.2,1.4);transition:.3s cubic-bezier(.8,.5,.2,1.4);width:100%;height:2px;display:block;left:0}
.hamburger-icon span:nth-child(1){top:0;width:80%}
.hamburger-icon span:nth-child(2){top:6px}
.hamburger-icon span:nth-child(3){bottom:0;width:60%}
.hamburger-icon.open{-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
.hamburger-icon.open span:nth-child(1){left:1px;top:5px;width:20px;-webkit-transform:rotate(90deg);transform:rotate(90deg);-webkit-transition-delay:150ms;transition-delay:150ms}
.hamburger-icon.open span:nth-child(2){left:3px;top:13px;width:10px;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition-delay:50ms;transition-delay:50ms}
.hamburger-icon.open span:nth-child(3){left:9px;top:13px;width:10px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transition-delay:.1s;transition-delay:.1s}
.navbar-header .topbar-head-dropdown .notification-actions{display:none;position:absolute;background-color:#fff;left:0;right:0;bottom:0;padding:7px;border-top:1px solid #e9ebec}
#profile-wrapper .navbar-menu{display:none;}
.navbar-menu{width:var(--appmenu-width);z-index:1002;background:#fff;bottom:0;margin-top:0;position:fixed;top:0;-webkit-box-shadow:4px 0 12px 0 rgba(0, 0, 0, 0.03), inset -1px 0 0 0 #e9ebec;box-shadow:4px 0 12px 0 rgba(0, 0, 0, 0.03), inset -1px 0 0 0 #e9ebec;padding:0 0 60px;-webkit-transition:all .1s ease-out;transition:all .1s ease-out}
.navbar-menu .navbar-nav{padding:12px 0;}
.navbar-menu .navbar-nav .nav-link{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:12px 24px;color:#6d7080;font-size:14px;line-height:20px;font-weight:600;}
.navbar-menu .navbar-nav .nav-link.active{color:#6571ff}
.navbar-menu .navbar-nav .nav-link:hover{color:#6571ff}
.navbar-menu .navbar-nav .nav-link i{display:inline-block;width:16px;height:20px;margin-right:12px;background-repeat:no-repeat;background-position:50% 50%;background-size:16px 16px;}
.navbar-menu .navbar-nav .nav-link i.ico1{background-image:url(../img/app-menu-ico1@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico2{background-image:url(../img/app-menu-ico2@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico3{background-image:url(../img/app-menu-ico3@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico4{background-image:url(../img/app-menu-ico4@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico5{background-image:url(../img/app-menu-ico5@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico6{background-image:url(../img/app-menu-ico6@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico7{background-image:url(../img/app-menu-ico7@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico8{background-image:url(../img/app-menu-ico8@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico9{background-image:url(../img/app-menu-ico9@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico10{background-image:url(../img/app-menu-ico10@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico11{background-image:url(../img/app-menu-ico11@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico12{background-image:url(../img/app-menu-ico12@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico13{background-image:url(../img/app-menu-ico13@2x.png);}
.navbar-menu .navbar-nav .nav-link i.ico14{background-image:url(../img/app-menu-ico14@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico1,.navbar-menu .navbar-nav .nav-link:hover i.ico1{background-image:url(../img/app-menu-ico1-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico2,.navbar-menu .navbar-nav .nav-link:hover i.ico2{background-image:url(../img/app-menu-ico2-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico3,.navbar-menu .navbar-nav .nav-link:hover i.ico3{background-image:url(../img/app-menu-ico3-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico4,.navbar-menu .navbar-nav .nav-link:hover i.ico4{background-image:url(../img/app-menu-ico4-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico5,.navbar-menu .navbar-nav .nav-link:hover i.ico5{background-image:url(../img/app-menu-ico5-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico6,.navbar-menu .navbar-nav .nav-link:hover i.ico6{background-image:url(../img/app-menu-ico6-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico7,.navbar-menu .navbar-nav .nav-link:hover i.ico7{background-image:url(../img/app-menu-ico7-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico8,.navbar-menu .navbar-nav .nav-link:hover i.ico8{background-image:url(../img/app-menu-ico8-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico9,.navbar-menu .navbar-nav .nav-link:hover i.ico9{background-image:url(../img/app-menu-ico9-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico10,.navbar-menu .navbar-nav .nav-link:hover i.ico10{background-image:url(../img/app-menu-ico10-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico11,.navbar-menu .navbar-nav .nav-link:hover i.ico11{background-image:url(../img/app-menu-ico11-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico12,.navbar-menu .navbar-nav .nav-link:hover i.ico12{background-image:url(../img/app-menu-ico12-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico13,.navbar-menu .navbar-nav .nav-link:hover i.ico13{background-image:url(../img/app-menu-ico13-on@2x.png);}
.navbar-menu .navbar-nav .nav-link.active  i.ico14,.navbar-menu .navbar-nav .nav-link:hover i.ico14{background-image:url(../img/app-menu-ico14-on@2x.png);}

.navbar-type2 .navbar-nav .nav-link i.ico1{background-image:url(../img/nav-menu-ico1@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico2{background-image:url(../img/nav-menu-ico2@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico3{background-image:url(../img/nav-menu-ico3@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico4{background-image:url(../img/nav-menu-ico4@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico5{background-image:url(../img/nav-menu-ico5@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico6{background-image:url(../img/nav-menu-ico6@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico7{background-image:url(../img/nav-menu-ico7@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico8{background-image:url(../img/nav-menu-ico8@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico9{background-image:url(../img/nav-menu-ico9@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico10{background-image:url(../img/nav-menu-ico10@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico11{background-image:url(../img/nav-menu-ico11@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico12{background-image:url(../img/nav-menu-ico12@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico13{background-image:url(../img/nav-menu-ico13@2x.png);}
.navbar-type2 .navbar-nav .nav-link i.ico14{background-image:url(../img/nav-menu-ico14@2x.png);}
.navbar-type2 .navbar-nav .nav-link.active  i.ico1,.navbar-type2 .navbar-nav .nav-link:hover i.ico1,.navbar-type2 .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true] i.ico1{background-image:url(../img/nav-menu-ico1-on@2x.png);}
.navbar-type2 .navbar-nav .nav-link.active  i.ico2,.navbar-type2 .navbar-nav .nav-link:hover i.ico2,.navbar-type2 .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true] i.ico2{background-image:url(../img/nav-menu-ico2-on@2x.png);}
.navbar-type2 .navbar-nav .nav-link.active  i.ico3,.navbar-type2 .navbar-nav .nav-link:hover i.ico3,.navbar-type2 .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true] i.ico3{background-image:url(../img/nav-menu-ico3-on@2x.png);}
.navbar-type2 .navbar-nav .nav-link.active  i.ico4,.navbar-type2 .navbar-nav .nav-link:hover i.ico4,.navbar-type2 .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true] i.ico4{background-image:url(../img/nav-menu-ico4-on@2x.png);}
.navbar-type2 .navbar-nav .nav-link.active  i.ico5,.navbar-type2 .navbar-nav .nav-link:hover i.ico5,.navbar-type2 .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true] i.ico5{background-image:url(../img/nav-menu-ico5-on@2x.png);}
.navbar-type2 .navbar-nav .nav-link.active  i.ico6,.navbar-type2 .navbar-nav .nav-link:hover i.ico6,.navbar-type2 .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true] i.ico6{background-image:url(../img/nav-menu-ico6-on@2x.png);}
.navbar-type2 .navbar-nav .nav-link.active  i.ico7,.navbar-type2 .navbar-nav .nav-link:hover i.ico7,.navbar-type2 .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true] i.ico7{background-image:url(../img/nav-menu-ico7-on@2x.png);}
.navbar-type2 .navbar-nav .nav-link.active  i.ico8,.navbar-type2 .navbar-nav .nav-link:hover i.ico8,.navbar-type2 .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true] i.ico8{background-image:url(../img/nav-menu-ico8-on@2x.png);}
.navbar-type2 .navbar-nav .nav-link.active  i.ico9,.navbar-type2 .navbar-nav .nav-link:hover i.ico9,.navbar-type2 .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true] i.ico9{background-image:url(../img/nav-menu-ico9-on@2x.png);}
.navbar-type2 .navbar-nav .nav-link.active  i.ico10,.navbar-type2 .navbar-nav .nav-link:hover i.ico10,.navbar-type2 .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true] i.ico10{background-image:url(../img/nav-menu-ico10-on@2x.png);}
.navbar-type2 .navbar-nav .nav-link.active  i.ico11,.navbar-type2 .navbar-nav .nav-link:hover i.ico11,.navbar-type2 .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true] i.ico11{background-image:url(../img/nav-menu-ico11-on@2x.png);}
.navbar-type2 .navbar-nav .nav-link.active  i.ico12,.navbar-type2 .navbar-nav .nav-link:hover i.ico12,.navbar-type2 .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true] i.ico12{background-image:url(../img/nav-menu-ico12-on@2x.png);}

.navbar-menu .navbar-nav .nav-link svg{width:18px;margin-right:.665rem;color:#6d7080}
.navbar-menu .navbar-nav .nav-link .badge{margin-left:auto;margin-right:-2px;z-index:1}
.navbar-menu .navbar-nav .nav-link:hover{color:#6571ff}
.navbar-menu .navbar-nav .nav-link[data-bs-toggle=collapse]:after{display:block;content:"\f0140";font-family:"Material Design Icons";margin-left:auto;-webkit-transition:-webkit-transform .2s;transition:-webkit-transform .2s;transition:transform .2s;transition:transform .2s,-webkit-transform .2s;font-size:1.05rem;position:absolute;right:18px;color:inherit;font-weight:400;}
.navbar-menu .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true]{color:#6571ff}
.navbar-menu .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true]:after{-webkit-transform:rotate(180deg);transform:rotate(180deg);color:#6571ff}
.navbar-menu .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true]:before{opacity:1;background-color:#6571ff}
.navbar-menu .navbar-nav .nav-link.collapsed.active::after{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.navbar-menu .navbar-nav .nav-sm{padding-left:24px;}
.navbar-menu .navbar-nav .nav-sm .nav-link{padding:7px 18px;color:#6d7080;position:relative;font-size:13px;font-weight:400;}
.navbar-menu .navbar-nav .nav-sm .nav-link:before{content:"";width:6px;height:1px;background-color:#aebac3;position:absolute;left:2px;top:15.5px;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out;opacity:1}
.navbar-menu .navbar-nav .nav-sm .nav-link:hover{color:#6571ff;}
.navbar-menu .navbar-nav .nav-sm .nav-link:hover:before{background-color:#6571ff !important;opacity:1}
.navbar-menu .navbar-nav .nav-sm .nav-link.active{color:#6571ff}
.navbar-menu .navbar-nav .nav-sm .nav-link.active:before{background-color:#6571ff}
.navbar-menu .navbar-nav .nav-sm .nav-sm{padding-left:12px}
.navbar-menu .navbar-nav .nav-sm .nav-sm .nav-link:before{height:5px;width:5px;left:5px;border-radius:50%;background-color:transparent;border:1px solid;top:13.5px}
.navbar-menu .btn-vertical-sm-hover{display:none}
.navbar-brand-box{height:60px;padding:0 24px;text-align:left;   border-bottom:1px solid var(--border-color);-webkit-transition:all .1s ease-out;transition:all .1s ease-out}
.logo{display:inline-block;padding:20px 0;}
.logo img{height:20px;}
.logo .logo-sm{display:none}
.logo-light{display:none}
.app-menu .row{margin:0}
.app-menu .row>*{width:100%;padding:0}
.navbar-menu .container-fluid{padding:0}
[data-sidebar-size=sm]{/*min-height:1400px*/min-height:100%;}
[data-sidebar-size=sm] .main-content{margin-left:var(--appmenu-width-sm)}
[data-sidebar-size=sm] #page-topbar{position:absolute;z-index:calc(1002 + 1)}
[data-sidebar-size=sm] .navbar-brand-box{position:absolute;padding:0;width:var(--appmenu-width-sm);z-index:1;top:0;}
[data-sidebar-size=sm] .navbar-brand-box .logo{display:none;}
[data-sidebar-size=sm] .navbar-menu{position:absolute;width:var(--appmenu-width-sm)!important;padding-top:60px}
[data-sidebar-size=sm] .search-area{display:none;}
[data-sidebar-size=sm] .navbar-menu .simplebar-content-wrapper,
[data-sidebar-size=sm] .navbar-menu .simplebar-mask{overflow:visible!important}
[data-sidebar-size=sm] .navbar-menu .simplebar-scrollbar,
[data-sidebar-size=sm] .navbar-menu .vertical-menu-btn{display:none!important}
[data-sidebar-size=sm] .navbar-menu .simplebar-offset{bottom:0!important}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .badge{display:none!important}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-link{padding:12px 20px;text-align:center;}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-link i{width:24px;margin-right:0;}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-link span{display:none}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-link:after,
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-link:before{display:none}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .menu-dropdown{display:none;height:auto!important}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-item{position:relative}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-item:hover>a.menu-link{position:relative;width:calc(200px + var(--appmenu-width-sm));-webkit-transition:none;transition:none;background:#fff;-webkit-box-shadow:0 2px 4px rgba(15,34,58,.12);box-shadow:0 2px 4px rgba(15,34,58,.12)}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-item:hover>a.menu-link span{display:inline-block;padding-left:48px;}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-item:hover>a.menu-link:after{display:block;-webkit-transform:rotate(0);transform:rotate(0);color:#000}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-item:hover .nav-link span{display:inline-block}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-item:hover>.menu-dropdown{display:block;left:var(--appmenu-width-sm);position:absolute;width:200px;background:#fff;height:auto!important;padding:.5rem 0;border-radius:0 0 3px 3px;-webkit-box-shadow:0 2px 4px rgba(15,34,58,.12);box-shadow:0 2px 4px rgba(15,34,58,.12)}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-sm{padding:0}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-sm .nav-item:hover>.nav-link{}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-sm .nav-item:hover>.nav-link:after{color:inherit}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-sm .nav-link:after{display:block!important;-webkit-transform:rotate(-90deg)!important;transform:rotate(-90deg)!important}
[data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-sm .menu-dropdown{left:100%!important;top:0;border-radius:3px!important}
[data-sidebar-size=sm] .page-footer{left:var(--appmenu-width-sm);}

.navbar-search{padding:14px 24px 0;}
.navbar-search + #scrollbar .navbar-nav{}

.vertical-overlay{position:fixed;top:0;left:0;width:100vw;height:100vh;background-color:rgba(33,37,41,.35);z-index:1003;display:none}
.vertical-sidebar-enable .vertical-overlay{display:block}
.vertical-sidebar-enable .app-menu{margin-left:0!important;z-index:1004}
.sidebar-background{position:absolute;z-index:-1;height:100%;width:100%;display:block;top:0;left:0;background-size:cover;background-position:50%;opacity:.07}
.container-fluid{padding:0;}
.main-content{margin-left:var(--appmenu-width);transition:all .1s ease-out}
.page-content{padding:0 24px 24px}
.page-content.page-content-full{padding:0 24px 80px}
.page-footer{bottom:0;position:fixed;right:0;left:var(--appmenu-width);height:56px;padding:12px 24px;box-shadow:inset 0 1px 0 0 #e9ebec;background-color:#fff;z-index:2;}
.page-footer-row{display:flex;	position:relative;justify-content:center;}
.page-footer-btn-left,.page-footer-btn-right{position:absolute;top:0;}
.page-footer-btn-left{left:0}
.page-footer-btn-right{right:0}
.alram-dropdown{width:300px;padding:16px;}
.alram-dropdown.show{position:fixed !important;top:4px !important;right:-24px !important;bottom:0px !important;margin-left:24px !important;}
.alram-dropdown .form-check-input:checked + .form-check-label{color:#b5b5b5;text-decoration:line-through;}

.alram-header{margin-bottom:8px;}
.alram-header,.alram-header h6{font-size:14px;font-weight:600;line-height:24px;}
.alram-header-bell{padding-left:30px;background:url(../img/alram-bell-ico@2x.png) no-repeat 0 50% / 24px auto;}
.alram-header-star{padding-left:30px;background:url(../img/alram-list-ico@2x.png) no-repeat 0 50% / 24px auto;}

.alram-item + .alram-header{margin-top:36px;}
.alram-item{padding:12px;background:#f9fafb;}
.alram-item ul{margin:0;padding:0;}
.alram-item ul li{padding:0 0 0 26px}
.alram-item ul > li + li{margin-top:16px;}
.page-header{display:flex;justify-content:space-between;align-items:center;height:44px;}
.page-header-left{display:flex;align-items:center;}
.page-header-name{margin-right:12px;font-size: 14px;font-weight: 600;line-height: 1.43;text-align: left;color: #212529;}
.breadcrumb{background-color:transparent;margin:0;padding:0;font-size:14px;line-height:20px;}
.breadcrumb-item.active{color:#6571ff;font-weight:600;}
.breadcrumb-item + .breadcrumb-item{margin-left:8px;padding:0;}
.breadcrumb-item + .breadcrumb-item::before{content:'';width:12px;height:20px;background:url(../img/breadcrumb-item-ico@2x.png) no-repeat 0 50% / 12px 12px;margin-right:8px;padding:0;}
.page-header-right{display:flex;align-items:center;}
.page-header .btn-topbar{width:36px;height:36px;-webkit-transition:all .5s ease;transition:all .5s ease;border:0 none;border-radius:50%;background-color:transparent;padding:0;}
.page-header .btn-topbar.active,.page-header .btn-topbar:active,.page-header .btn-topbar:focus,.page-header .btn-topbar:hover{background-color:rgba(53, 119, 241, 0.12);}
.page-header .btn-topbar i{display:block;width:36px;height:36px;background-position:50% 50%;background-size:20px 20px;background-repeat:no-repeat;}
.page-header .btn-topbar i.topbar-star{background-image:url(../img/topbar-star-ico@2x.png);}
.page-header .btn-topbar i.topbar-calendar{background-image:url(../img/topbar-calendar-ico@2x.png);}
.page-header .btn-topbar i.topbar-bell{background-image:url(../img/topbar-bell-ico@2x.png);}
.page-header .badge{position:absolute;right:-10px !important;top:0 !important;padding:2px 6px;background:#6571ff;font-size:12px;line-height:1.17;color:#fff;color:#fff;border-radius:16px;border:1px solid #fff;}

#scroll-top{display:block;position:fixed;bottom:100px;right:28px;width:37px;height:37px;padding:0;border-radius:2px;background:#ff2d5b url(../img/scroll-top-ico@2x.png) no-repeat 50% 50% / 12px auto;-webkit-transition:all .5s ease;transition:all .5s ease;z-index:1000}
#scroll-top.active{opacity:1;}

#backToTop{display:block;position:fixed;bottom:100px;right:28px;width:37px;height:37px;padding:0;border-radius:2px;background:#ff2d5b url(../img/scroll-top-ico@2x.png) no-repeat 50% 50% / 12px auto;text-indent:-9999px;font-size:0;-webkit-transition:all .5s ease;transition:all .5s ease;z-index:1000}

.choices{position:relative;margin-bottom:24px;font-size:16px}
.choices:focus{outline:0}
.choices:last-child{margin-bottom:0}
.choices.is-disabled .choices__inner,.choices.is-disabled .choices__input{background-color:rgba(var(--bs-light-rgb),.75);cursor:not-allowed;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.choices.is-disabled .choices__item{cursor:not-allowed}
.choices [hidden]{display:none!important}
.choices[data-type*=select-one]{cursor:pointer}
.choices[data-type*=select-one] .choices__button{background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);padding:0;background-size:8px;position:absolute;top:50%;right:0;left:auto;margin-top:-10px;margin-right:25px;margin-left:0;height:20px;width:20px;border-radius:10em;opacity:.5}
.choices[data-type*=select-one] .choices__button:focus,.choices[data-type*=select-one] .choices__button:hover{opacity:1}
.choices[data-type*=select-one] .choices__button:focus{-webkit-box-shadow:0 0 0 2px #00bcd4;box-shadow:0 0 0 2px #00bcd4}
.choices[data-type*=select-one] .choices__item[data-value=""] .choices__button{display:none}
.choices[data-type*=select-one]:after{content:"\f0140";position:absolute;border:0;border-color:#212529 transparent transparent;right:11.5px;left:auto;font-family:"Material Design Icons";width:auto;height:auto;margin-top:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);pointer-events:none}
.choices[data-type*=select-one].is-open:after{margin-top:0;-webkit-transform:translateY(-50%) rotate(-180deg);transform:translateY(-50%) rotate(-180deg)}
.choices[data-type*=select-multiple] .choices__inner,.choices[data-type*=text] .choices__inner{cursor:text;padding-right:.9rem}
.choices[data-type*=select-multiple] .choices__button,.choices[data-type*=text] .choices__button{position:relative;display:inline-block;margin-top:0;margin-right:-4px;margin-bottom:0;margin-left:8px;padding-left:16px;border-left:1px solid rgba(255,255,255,.5);border-right:0;background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);background-size:8px;width:8px;line-height:1;opacity:.75;border-radius:0}
.choices[data-type*=select-multiple] .choices__button:focus,.choices[data-type*=select-multiple] .choices__button:hover,.choices[data-type*=text] .choices__button:focus,.choices[data-type*=text] .choices__button:hover{opacity:1}
.choices[data-type*=select-multiple] .choices__list--dropdown,.choices[data-type*=text] .choices__list--dropdown{padding-bottom:10px}
.choices[data-type*=select-multiple] .choices__list--dropdown .choices__list,.choices[data-type*=text] .choices__list--dropdown .choices__list{margin-bottom:0}
.choices[data-type*=select-multiple] .choices__input{padding-top:3px}
.choices__inner{display:inline-block;vertical-align:middle;width:100%;padding:var(--btn-padding-y) var(--btn-padding-x);background-color:var(--border-bg);border:var(--border-width) solid var(--border-color);border-radius:var(--border-radius)!important;overflow:hidden;font-size:var(--btn-font-size);line-height:var(--btn-line-height);min-width:72px}
.choices__list{margin:0;padding-left:0;list-style:none}
.choices__list--single{display:inline-block;padding:0px 20px 0px 0;width:100%;}
.choices__list--single .choices__item{width:100%}
.choices__list--multiple{display:inline}
.choices__list--multiple .choices__item{display:inline-block;vertical-align:initial;border-radius:7px;padding:2px 7px;font-size:11px;font-weight:400;margin-right:3.75px;margin-bottom:3.75px;margin-top:2px;background-color:#405189;border:1px solid #405189;word-break:break-all;-webkit-box-sizing:border-box;box-sizing:border-box;color:#fff;-webkit-box-shadow:none;box-shadow:none}
.choices__list--multiple .choices__item[data-deletable]{padding-right:5px}
.choices__list--multiple .choices__item.is-highlighted{background-color:#405189;border:1px solid #405189}
.is-disabled .choices__list--multiple .choices__item{background-color:#6571ff;border:1px solid #6571ff}
.choices__list--dropdown{visibility:hidden;z-index:1;position:absolute;width:100%;background-color:var(--border-bg);border:1px solid var(--border-color);border-radius:var(--border-radius)!important;-webkit-box-shadow:0 5px 10px rgba(30,32,37,.12);box-shadow:0 5px 10px rgba(30,32,37,.12);top:100%;margin-top:0;padding:0;border-bottom-left-radius:2.5px;border-bottom-right-radius:2.5px;overflow:hidden;word-break:break-all;will-change:visibility;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-transform:translateY(1px);transform:translateY(1px);z-index:2;}
.choices__list--dropdown.is-active{visibility:visible;-webkit-animation-name:DropDownSlide;animation-name:DropDownSlide}
.choices__list--dropdown .choices__item--selectable.is-highlighted{background-color:#eff2f7}
.choices__list--dropdown .choices__list{margin:0}
.choices__list--dropdown .has-no-results{font-style:italic;font-weight:500}
.choices__list--dropdown .choices__item--selectable:after{display:none}
.is-open .choices__list--dropdown{border-color:var(--border-color)}
.is-flipped .choices__list--dropdown{top:auto;bottom:100%;margin-top:0;margin-bottom:-1px;border-radius:.25rem .25rem 0 0}
.is-flipped .choices__list--dropdown.is-active{-webkit-animation-name:DropDownSlideDown;animation-name:DropDownSlideDown;-webkit-transform:translateY(-1px);transform:translateY(-1px)}
.choices__list--dropdown .choices__list{position:relative;max-height:300px;overflow:auto;-webkit-overflow-scrolling:touch;will-change:scroll-position}
.choices__list--dropdown .choices__item{position:relative;font-size:.8125rem;padding:.35rem 1.2rem .35rem 16px}
.choices__list--dropdown .choices__item--selectable:after{content:attr(data-select-text);font-size:12px;opacity:0;position:absolute;right:10px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.choices__list--dropdown .choices__item--selectable.is-highlighted:after{opacity:.5}
.choices__item{cursor:default;white-space:nowrap;}
.choices__item--selectable{cursor:pointer}
.choices__item--disabled{cursor:not-allowed;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;opacity:.5}
.choices__heading{font-weight:600;font-size:12px;padding:10px 16px;border-bottom:1px solid var(--border-color);color:#878a99}
.choices__button{text-indent:-9999px;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0;background-color:transparent;background-repeat:no-repeat;background-position:center;cursor:pointer}
.choices__button:focus{outline:0}
.choices__input{display:inline-block;vertical-align:baseline;border:0;background-color:var(--border-bg);padding:var(--btn-padding-y) var(--btn-padding-x);font-size:var(--btn-font-size);line-height:var(--btn-line-height);border-radius:var(--border-radius);border-color:var(--border-color);margin-bottom:0;max-width:100%;}
.choices__input:focus{outline:0}
.choices__input::-webkit-input-placeholder{color:#878a99}
.choices__input::-moz-placeholder{color:#878a99}
.choices__input:-ms-input-placeholder{color:#878a99}
.choices__input::-ms-input-placeholder{color:#878a99}
.choices__input::placeholder{color:#878a99}
.choices__placeholder{color:#878a99;opacity:1}

[data-simplebar]{position:relative;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.simplebar-wrapper{overflow:hidden;width:inherit;height:inherit;max-width:inherit;max-height:inherit}
.simplebar-mask{direction:inherit;position:absolute;overflow:hidden;padding:0;margin:0;left:0;top:0;bottom:0;right:0;width:auto!important;height:auto!important;z-index:0}
.simplebar-offset{direction:inherit!important;-webkit-box-sizing:inherit!important;box-sizing:inherit!important;resize:none!important;position:absolute;top:0;left:0!important;bottom:0;right:0!important;padding:0;margin:0;-webkit-overflow-scrolling:touch}
.simplebar-content-wrapper{direction:inherit;-webkit-box-sizing:border-box!important;box-sizing:border-box!important;position:relative;display:block;height:100%;width:auto;visibility:visible;overflow:auto;max-width:100%;max-height:100%;scrollbar-width:none;padding:0!important}
.simplebar-content-wrapper::-webkit-scrollbar,.simplebar-hide-scrollbar::-webkit-scrollbar{display:none}
.simplebar-content:after,.simplebar-content:before{content:" ";display:table}
.simplebar-placeholder{max-height:100%;max-width:100%;width:100%;pointer-events:none}
.simplebar-height-auto-observer-wrapper{-webkit-box-sizing:inherit!important;box-sizing:inherit!important;height:100%;width:100%;max-width:1px;position:relative;float:left;max-height:1px;overflow:hidden;z-index:-1;padding:0;margin:0;pointer-events:none;-webkit-box-flex:inherit;-ms-flex-positive:inherit;flex-grow:inherit;-ms-flex-negative:0;flex-shrink:0;-ms-flex-preferred-size:0;flex-basis:0}
.simplebar-height-auto-observer{-webkit-box-sizing:inherit;box-sizing:inherit;display:block;opacity:0;position:absolute;top:0;left:0;height:1000%;width:1000%;min-height:1px;min-width:1px;overflow:hidden;pointer-events:none;z-index:-1}
.simplebar-track{z-index:1;position:absolute;right:4px;bottom:4px;pointer-events:none;overflow:hidden}
[data-simplebar].simplebar-dragging .simplebar-content{pointer-events:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-select:none}
[data-simplebar].simplebar-dragging .simplebar-track{pointer-events:all}
.simplebar-scrollbar{position:absolute;right:2px;width:6px;min-height:10px}
.simplebar-scrollbar:before{position:absolute;content:"";background:#a2adb7;border-radius:7px;left:0;right:0;opacity:0;-webkit-transition:opacity .2s linear;transition:opacity .2s linear}
.simplebar-scrollbar.simplebar-visible:before{opacity:.5;-webkit-transition:opacity 0s linear;transition:opacity 0s linear}
.simplebar-track.simplebar-vertical{top:4px;width:10px}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{top:2px;bottom:2px}
.simplebar-track.simplebar-horizontal{left:0;height:10px}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before{height:100%;left:2px;right:2px}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar{right:auto;left:0;top:2px;height:7px;min-height:0;min-width:10px;width:auto}
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical{right:auto;left:4px}
.hs-dummy-scrollbar-size{direction:rtl;position:fixed;opacity:0;visibility:hidden;height:500px;width:500px;overflow-y:hidden;overflow-x:scroll}
.simplebar-hide-scrollbar{position:fixed;left:0;visibility:hidden;overflow-y:scroll;scrollbar-width:none}
.custom-scroll{height:100%}

.datepicker-wrap{position:relative;}
.datepicker-box{display:none;position:absolute;top:36px;left:50%;z-index:100;width:312px;margin-left:-156px;background:#fff;border-radius:4px;box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.1);}
.datepicker-head{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;height:45px;padding:0 16px;border-radius:4px 4px 0 0;background-color:#405189;}
.datepicker-title, .datepicker-btn{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
.datepicker-title{padding:0 16px;font-size:16px;font-weight:600;color:#fff;}
.datepicker-btn{width:32px;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-repeat:no-repeat;background-position:50% 50%;background-size:16px auto;cursor:pointer;}
.datepicker-prev{background-image:url(../img/datepicker-prev-ico@2x.png)}
.datepicker-next{background-image:url(../img/datepicker-next-ico@2x.png)}
.datepicker-body{padding:16px 0;border:solid 1px #e9ebec;}
.datepicker-day,.datepicker-name{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.datepicker-cell{position:relative;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:14.28571%;height:38px;text-align:center;z-index:1;}
.datepicker-cell span{display:block;width:24px;height:24px;line-height:24px;border-radius:4px;text-align:center;}
.datepicker-cell.other span{color:rgba(109, 176, 255, 0.5)}
.datepicker-cell.active span{color:#fff;border:none;background:#2f76ec;}
.datepicker-day .datepicker-cell{font-size:15px;font-weight:500;color:#535353;cursor:pointer;}
.datepicker-name .datepicker-cell{-webkit-flex:1;-ms-flex:1;flex:1;font-size:15px;font-weight:500;color:#74a0ff;}


.calendar-box{background:#fff;}
.calendar-head{display:-webkit-flex;display:-ms-flexbox;display:flex;justify-content:center;align-items:center;height:44px;padding:0 16px;border-radius:4px 4px 0 0;}
.calendar-title, .calendar-btn{display:flex;justify-content:center;align-items:center;}
.calendar-title{padding:0;font-size: 14px;font-weight: 600;line-height: 1.43;text-align: center;color: #495057;}
.calendar-btn{width:32px;height:32px;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-repeat:no-repeat;background-position:50% 50%;background-size:12px auto;cursor:pointer;}
.calendar-prev{background-image:url(../img/calendar-prev-ico@2x.png)}
.calendar-next{background-image:url(../img/calendar-next-ico@2x.png)}


.calendar-body{padding:0;border:solid 1px #e9ebec;border-top:1px solid #5a66ff;}
.calendar-week,.calendar-name{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.calendar-cell{position:relative;display:-webkit-flex;display:-ms-flexbox;display:flex;width:14.28571%;height:38px;text-align:center;z-index:1;}
.calendar-cell + .calendar-cell{border-left:1px solid #e9ebec;}

.calendar-cell span{display:block;width:28px;height:28px;line-height:28px;border-radius:4px;text-align:center;}
.calendar-cell.event{background:#f3f6f9;}
.calendar-cell.active{background:#fefaef}
.calendar-cell.other span{color:#6db0ff;opacity:0.5;}
.calendar-cell.today span{color:#fff;border:none;background:#6571ff;border-radius:28px;}
.calendar-cell div{padding:4px 6px 0;font-size: 12px;line-height: 1.33;text-align: left;color: #212529;}

.calendar-name .calendar-cell{-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:38px;background:#f3f6f9; font-size: 14px;font-weight: 600;line-height: 1.43;text-align: center;color: #7987a1;}
.calendar-day .calendar-cell{flex-direction:column;height:108px;padding:2px 6px;border-top:1px solid #e9ebec;font-size: 14px;line-height: 1.43;text-align: left;color: #212529;}
