/* sub */
.sticky-area {
    
    display:flex;
    gap:$spacing-4xlg;
    >.sticky-cont {
        position: relative;
        flex:none;
        width: 16rem;
        .sticky {
            position: sticky;
            top:4rem;
        }
    }
    >.cont {
        flex:1;
    }
}
.location {
    li {
        display: inline-block;
        vertical-align: middle;
    }
    a {
        font-size: 1.0.5rem;
        color: #fff;
        &::before {
            content: " ";
            display: inline-block;
            margin: 0 0.8rem;
            width: 0.8rem;
            height: 0.8rem;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            box-sizing: border-box;
            transform: rotate(45deg);
            box-sizing: border-box;
            vertical-align: middle;
            opacity: .5;
        }
        &.home {
            display: inline-block;
            font-size:0;
            &::before  {
                display: none;
            }
            &::after {
                content: " ";
                display: inline-block;
                //@include ico($ico-xsm, home, wh);
                margin-top:-1rem;
                vertical-align: middle;
            }
        }
    }
}

.snb-area {
    text-align: right;
    .snb {
        display: grid;
        border-right:$border-primary;
        a {
            font-size: $fs-tit-md;
            display: flex;
            min-height: 4.8rem;
            align-items: center;
            justify-content: flex-end;
            padding:$spacing-md $spacing-md $spacing-md 0;
            word-break:break-all;
            border-right: $stroke-md solid transparent;
            &.is-current {
                border-color: $gr90;
                font-weight: 700;
                color:$fc-primary;
            }
        }
    }
}
.lnb {
   
}

.sub-tit {
    font-size: 0.4rem;
    font-family: NanumSquare;
    transform: rotate(-0.1deg);
    font-weight: 800;
    color: var(--color-bk);
    text-align: center;
    margin-bottom: 4rem;
}

.item-view-header {
    margin-bottom: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    gap:2rem 4rem;
    .item-tit {
        display: block;
        margin-bottom: 1.6rem;
        font-size:3.2rem;
    }
    .l-area {
        display: flex;
        flex-direction: column;
        flex:1
    }
    .r-area {
        display: flex;
        gap:0.8rem;
        align-items: center;
        .btn-lg {
            width: 12rem;
        }
    }
    .info-area {
        margin-top:2rem;
        display: flex;
        align-items: center;
        gap:2.4rem 1.2rem;
    }
}
.item-view-fnc {
   display: flex;
   justify-content:flex-end;
   gap:1rem;

}
.item-view-etc {
    margin-bottom: 8rem;
    margin-top:4rem;
    border:$border-primary;
    padding:2rem;
    border-radius: var(--radius-lg);
    .info-area {
        display: flex;
        flex-wrap: wrap;
        gap:0.4rem 2rem;
        padding:2rem;
        background-color: $bg;
    }
    .cont-area {
        padding:2rem 2rem 0;
    }
}
.star {
    position:relative;
    display:inline-block;
    width:8rem;
    height:1.6rem;
    background: url($url-img + 'common/btn_star.svg') top left repeat-x;
    background-size: auto 3.2rem;
    vertical-align:middle;
    span {
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        text-indent:-99999rem;
        background: url($url-img + 'common/btn_star.svg') 0 -1.6rem repeat-x;
        background-size: auto 3.2rem;
    }
}
.star-check button,
.star-check > *{
	display: inline-block;
	width: 3rem;
	height: 3rem;
	background: url($url-img + 'common/btn_star.svg') no-repeat;
	background-size:auto 6rem;
	background-position: top left;
	background-repeat: no-repeat;
	overflow:hidden;
}
.star-check button.is-active,
.star-check button.is-hover,
.star-check a.is-active,
.star-check a.is-hover{
	background-position:0 -3rem;
}
.review-list{
    border-top:2px solid $bk;
    li {
        padding: 1.2rem;
        border-bottom: $border-primary;
    }
    .star-info-area {
        display: flex;
        gap:0.4rem 1.2rem;
        flex-wrap:wrap;
        align-items: center
        strong {
            font-size: 2rem;
        };
    }
    .info-area {
        margin-top:0.4rem;
        margin-bottom:0.8rem;
        display: flex;
        flex-wrap: wrap;
        gap:0.4rem 1.2rem;
        span {
            font-size:var(--fs-sm);
            color:$gr70;
        }
    }
}
.video-area {
    background: $bk;
    .video-header {
        color:#fff;
        padding:2rem;
        .tit {
            margin-bottom: 0.8rem;
        }
        p {
            color:$gr30;
        }
    }
    // video {
    //     display: block;
    //     width: 100%;
    // }
    // .video-js {
    //     width: 100%;
    // }
    // .vjs-big-play-centered .vjs-big-play-button {
    //     top: 50% !important;
    // }
    
    // .player-dimensions {
    //     height: 0 !important;
    //     padding-bottom: 56.25% !important;
    // }
    // .player-dimensions.vjs-fluid {
    //     padding-top: 56.25%;
    // }
    .btn-cont {
        margin-top: 0;
        padding: 2rem 2rem;
        box-sizing: border-box;
        .btn-lg {
            padding: 0 2.8rem;
            height: 4.8rem;
            line-height: 4.8rem;
            font-size: 1.6rem; 
        }
    }
}
.video-box {
    video {
        display: block;
        width: 100%;
    }
    .video-js {
        width: 100%;
    }
    .vjs-big-play-centered .vjs-big-play-button {
        top: 50% !important;
    }
    .player-dimensions {
        height: 0 !important;
        padding-bottom: 56.25% !important;
    }
    .player-dimensions.vjs-fluid {
        padding-top: 56.25%;
    }
}
:root {
    --intro-gap-sm: 2.4rem;
    --intro-gap: 4rem;
}
.intro {
    word-break: keep-all;
    .intro-flex-cont {
        display: flex;
        gap:var(--intro-gap-sm);
        article {
            display: flex;
            flex-direction: column;
            flex:1;
            overflow: hidden;
            &:nth-child(even) {
                .top-area {
                    background-color: $accent;
                }
            }
        }
        .top-area {
            display: flex;
            background-color: $primary;
            height: 8rem;
            box-sizing: border-box;
            align-items: center;
            color:#fff;
            padding:0 var(--intro-gap);
            border-radius: var(--radius-lg) var(--radius-lg) 0 0;
            h4 {
                display: flex;
                align-items: center;
                gap:0.8rem;
                font-size:var(--fs-xlg);
                font-weight: 600;
            }
            i {
                flex:none;
                opacity: .5;
            }
        }
        .txt-area {
            padding:var(--intro-gap-sm) var(--intro-gap);
            flex:1;
            border:$border-secondary;
            border-radius: 0 0 var(--radius-lg) var(--radius-lg);
            > p {
                margin-bottom: var(--intro-gap-sm);
                font-size:var(--fs-lg);
            }
        }
    }
    .intro-list,
    .intro-step-list {
        li {
            background-color: $bg;
            padding-left:var(--intro-gap-sm);
            padding-right:var(--intro-gap-sm);
            border-radius: $radius-xsm;
        }
    }
    .intro-list {
        display: flex;
        flex-direction: column;
        gap:0.8rem;
        li {
            padding-top:var(--intro-gap-sm);
            padding-bottom: var(--intro-gap-sm);
        }
        cite {
            display: block;
            margin-bottom: 0.8rem;
            font-weight: 600;
            color:$gr60;
        }
    }
    .intro-step-list {
        display: flex;
        flex-direction: column;
        gap:3rem;
        li {
            position: relative;
            padding-top:1.6rem;
            padding-bottom: 1.6rem;
            text-align: center;
            &::after {
                content: " ";
                position: absolute;
                bottom: -2.8rem;
                left:50%;
                margin-left:-0.8rem;
                display: block;
                width: 1.6rem;
                height: 1.6rem;
                overflow: hidden;
                //@include ico($ico-md, arrow-down);
                opacity: .3;
            }
            &:last-of-type {
                &::after {
                    display: none;
                }
            }
        }
        cite {
            display: block;
            margin-bottom: 0.8rem;
            font-weight: 600;
            font-size: var(--fs-lg);
            color:$accent;
        }
    }
}
.summary-area {
    margin-bottom: 4rem;
    padding:var(--intro-gap);
    border: $border-secondary;
	border-radius: var(--radius-lg);
    display: flex;
    gap:var(--intro-gap);
    align-items: center;
    .img-area {
        // flex:none;

        img {
            display: block;
            width: 100%;
        }
    }
    .txt-area {
        display: flex;
        flex-direction: column;
        flex:1;
        gap:1.6rem;
        font-size:var(--fs-lg);
        cite {
            font-size:var(--fs-xlg);
            font-weight: 600;
            color:$primary;
        }
    }
}
.guide {
    display: flex;
    flex-direction: column;
    gap:4rem;
    .img-area {
        // border:$border-primary;
        // border-radius: var(--radius-lg);
        // overflow: hidden;
        img {
            display: block;
            width: 100%;
        }
    }
    .txt-area {
        display: flex;
        flex-direction: column;
        gap:2rem;
        border:$border-primary;
        padding:4rem;
        border-radius: var(--radius-lg);
        background-color: $bg;
        .txt {
            display: flex;
            flex-direction: column;
            gap:0.4rem;
        }
        cite {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-size:var(--fs-lg);
            font-weight: 700;
        }
        > ol,
        > ul {
            display: flex;
            flex-direction: column;
            gap:2.4rem;
        }
        > ol {
            counter-reset: item;
            cite {
                min-height: 3.2rem;
            }
            > li {
                display: flex;
                counter-incpxent:item;
                position: relative;
                gap:1.2rem;
                *:last-child {
                    margin-bottom: 0;
                }
                &::before {
                    display: flex;
                    margin-bottom: 0.4rem;
                    align-items: center;
                    justify-content: center;
                    content: counter(item);
                    font-weight: 700;
                    width:3.2rem;
                    height: 3.2rem;
                    border-radius: 50%;
                    background-color: $secondary;
                    color:#fff;
                    font-size:var(--fs-lg);
                    flex:none;
                }
            }
        }
    }
}
.theme-header {
    margin-bottom: 12rem;
    figure {
        position: relative;
        @include img-size;
        border-radius: $radius-lg;
        margin-bottom: $spacing-3xlg;
        overflow: hidden;
        aspect-ratio: 16/4;
        img {
            animation: theme 3s alternate;
        }
        &::before,
        &::after {
            @include before-full;
            background: $gradient-primary;
        }
        &::before {
            background: $gradient-primary;
            z-index: 2;
            animation: opacity 3s reverse forwards ease-in-out;
        }
        &::after {
            background: rgba($bk, $opacity-md);
            z-index: 1;
        }
        figcaption {
            position: absolute;
            top: 50%;
            left:50%;
            z-index: 3;
            @include typo('display');
            transform: translate(-50%, -50%);
            color:$fc-primary-wh;
            opacity: 0;
            animation: opacity 2s 1.5s forwards;
        }
    }
    @keyframes theme {
        0% {
            transform:scale(1.5);
            // opacity: .8;
        }
    
        100% {
            transform:scale(1);
        }
    }
    .txt-area {
        display: grid;
        grid-template-columns: 40rem 1fr;
        gap:$spacing-4xlg;
        .txt {
            @include typo('body-lg');
        }

    }
}

@include tablet {
    .lnb {
        display: none;
    }
    .item-view-header  {
        flex-direction: column;
        gap:1.2rem;
        .item-tit {
            font-size:2.8rem;
        }
        .info-area {
            margin-top:1.2rem;
        }
        .r-area {
            width: 100%;
            justify-content: flex-end;
            padding:1.2rem 2rem;
            box-sizing: border-box;
            border-radius: $radius-xsm;
            background-color: $bg;
        }
    }
    :root {
        --intro-gap-sm: 1.6rem;
        --intro-gap: 2.4rem;
    }
    .summary-area {
        padding:3.2rem 2.4rem;
        gap:2rem;
        .img-area {
            max-width: 20%;
        }
    }
}

@include mobile {
    .sub-top {
        height: 20rem;
        .wrap {
            gap:1.6rem;
        }
        h2 {
            font-size:2.8rem;
        }
    }
    .item-view-header  {
        .item-tit {
            font-size:2.2rem;
        }
        .info-area {
            margin-top:0.8rem;
        }
        .r-area {
            padding:1.2rem;
            a,
            button {
                flex:1;
            }
        }
    }
    .intro {
        .intro-flex-cont {
            flex-direction: column;
        }
    }
    .summary-area {
        padding-top:var(--intro-gap);
        padding-bottom:var(--intro-gap);
        flex-direction: column;
        .img-area {
            max-width: 10rem;
        }
    }
    .guide {
        gap:2rem;
        .txt-area {
            padding:2rem;
            .txt-area {
                gap:2rem;
            }
            >ol,
            >ul {
                gap:2rem;
            }
            > ol {
                cite {
                    min-height: 2.8rem;
                }
                 > li {
                    &::before {
                        width: 2.8rem;
                        height: 2.8rem;
                        font-size:1.6rem;
                    }
                 }
            }
        }
    }
}