.error-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding:100rem 0;
	figure {
		img {
			margin-bottom: 16rem;
		}
	}
	h2 {
		font-size: $fs-tit-xlg;
		font-weight: 400;
		color: $bl;
		margin-bottom: $spacing-2xlg;
	}
	p {
		color: $fc-secondary;
	}
	.btn-cont {
		margin-top:$spacing-2xlg;
		margin-bottom: 0;
	}
}