
[class^=ico-].back {
	margin-left:$spacing-xsm;
}

.ico-attendance {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    background: url(../images/attendance-ico@2x.png) no-repeat 50% 50% / 16px 16px;
}

/* -------------------------------------------------    
	- TABLET
------------------------------------------------- */
@include tablet {
}

/* -------------------------------------------------    
	- mobile
------------------------------------------------- */
@include mobile {

}