%item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap:1.6rem;
	overflow: hidden;
	a {
		display: block;		
	}
	.img-area {
		@include img-size;
		border-radius: $radius-sm;
	}
	.txt-area,
	.etc-area {
		display: flex;
		flex-direction: column;
		gap:  $spacing-xsm;
		p {
			@include typo('tit-md');
			@include ellipsis(2);
		}
	}
	.info-area {
		display: flex;
		flex-wrap: wrap;
		gap:$spacing-2xsm;
		@include typo('body-xsm');
		span {
			&::after {
				content: " ";
				margin-left:.4rem;
				display: inline-block;
				width: .2rem;
				height: .2rem;
				border-radius: 50%;
				background-color: $gr40;
				border-radius: $radius-full;
				vertical-align: middle;
			}	
			&:last-child {
				&::after {
					display: none;
				}
			}
		}
	}
}
.item-swiper {
	margin-left:-2rem;
	width: calc(100% + 4rem);
	box-sizing: border-box;
	padding:0 2rem;
	&::before,
	&::after {
		content: " ";
		position: absolute;
		width: 20em;
		top:0;
		left:0;
		background-color: #fff;
		height: 100%;
		z-index: 2;
	}
	&::after  {
		left: auto;
		right:0;
	}
}
.item {
	@extend %item;
}
.item-list {
	display: grid;
	grid-template-columns: none;
	gap:$spacing-md;
	.item {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap:$spacing-3xlg;
		padding-bottom: $spacing-md;
		border-bottom: $border-primary;
		.img-area,
		.etc-area {
			flex:none;
		}
		.img-area {
			width: 32rem;
		}
		.txt-area {
			flex:1;
		}
		.etc-area {
			flex-direction: row;
			gap:$spacing-3xlg;
			align-items: center;
		}
	}	
	&.thumb {
		grid-template-columns: repeat(3, 1fr);
		gap:$spacing-xlg $spacing-md;
		.item {
			flex-direction: column;
			gap:$spacing-md;
			border-bottom: none;
			padding-bottom: 0;
			.img-area {
				width: 100%;
			}
			.txt-area {
				flex:auto;
			}
			.etc-area {
				flex-direction: column;
				gap:$spacing-xsm;
				align-items: flex-start;
				width: 100%;
				text-align: left;
			}
		}
		&.col4 {
			grid-template-columns: repeat(4, 1fr);
		}
		&.col3 {
			grid-template-columns: repeat(3, 1fr);
		}
		&.col2 {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&.detail,
	&.simple {
		
	}
	&.simple {
		.img-area {
			display: none;
		}
		.txt-area {
			min-width:0;
			p {
				@include ellipsis(1);
				height: 1.3em;
			}
		}
	}
}

.item-block-list {
	border-top:.2rem solid $bk;
	li {
		border-bottom:.1rem solid $gr30;
	}
}
.item-block {
	padding:3.2rem 0;
	display: flex;
	gap:3.2rem;
	align-items: center;
	.img-area {
		@include img-size;
		flex:none;
		width: 32rem;
		padding-top:18rem;
	}
	.txt-area {
		flex:1;
		display: flex;
		flex-direction: column;
	}
	.label-txt-area {
		font-size:var(--fs-sm);
		font-weight: 600;
		color:$gr70;
		margin-bottom: 1.6rem;
	}
	.info-area {
		margin-top:.4rem;
	}
	.item-fnc-area {
		margin-top:1.6rem;
	}
	p {
		font-size:2.4rem;
		font-weight: 600;
		@include ellipsis(2);
	}
	small {
		display: block;
		margin-top:.4rem;
		font-size:var(--fs);
	}
	.label-area {
		margin-top:2.4rem;
	}
	.item-btn-area {
		display: flex;
		flex-direction: column;
		width: 12rem;
		gap:.8rem; 
		a,
		button {
			width: 100%;
		}
	}
	.btn-class {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border:.1rem solid $primary;
		text-align: center;
		height: 12rem;
		border-radius: var(--radius);
		box-sizing: border-box;
		font-weight: 600;
		gap:.8rem;
		color:$primary;
		&:hover {
			background-color:$primary;
		}
	}
}
/* -------------------------------------------------    
	- TABLET
------------------------------------------------- */
@include tablet {
	.item-swiper {
		&::before,
		&::after {
			display: none;
		}
	}
	.item.hover {
		overflow: hidden;
		border-radius:0;
		.txt-area {
			display: flex;
			position:static;
			top:0;
			bottom:0;
			right:0;
			left:0;
			margin:0;
			justify-content: flex-start;
			gap:.8rem;
			background:none;
			color:$bk;
			padding:0;
			.info-area {
				position: static;
				margin-top:.4rem;
			}
		}
		.label {
			border:none;
			color:#fff;
			background:transparent;
			border: .1rem solid $gr30;
			color:$gr70;
		}
		.lnk-full:focus,
		.lnk-full:hover {

			& ~ .img-area {
				 &::before,
				&::after {
					display: block;
				}	
			}
			& ~ .txt-area{
				animation: none;
			}
		}
	}
	.item-block {
		gap:2.4rem;
		.img-area {
			width: 24rem;
			padding-top:13.5rem;
		}
		p {
			font-size:1.8rem;
		}
		.label-area {
			margin-top:1.2rem;
		}
	}
}

/* -------------------------------------------------    
	- mobile
------------------------------------------------- */
@include mobile {
	.item-block {
		gap:1.6rem;
		.img-area {
			width: 20rem;
			padding-top:11.3rem;
		}
		p {
			font-size:1.6rem;
		}
		small {
			font-size:var(--fs-sm);
		}
		.label-txt-area {
			margin-bottom: .8rem;
		}
		.label-area {
			margin-top:1.2rem;
		}
		.item-btn-area {
			width: 8rem;
			.btn-class {
				height: 8rem;
			}
		}
	}
	.item-list {
		grid-template-columns: repeat(2, 1fr);
    	gap: 3.2rem .8rem;
	}
}
@include mobile-md {
	.item-block {
		position: relative;
		padding:2.4rem 0;
		gap:1.6rem;
		flex-direction: column;
		.img-area {
			width: 100%;
			padding-top:56.25%;
		}
		.txt-area {
			width: 100%;
		}
		p {
			font-size:1.6rem;
		}
		small {
			font-size:var(--fs-sm);
		}
		.item-fnc-area {
			position: absolute;
			right:0;
			top:0;
			z-index: 1;
		}
		.item-btn-area {
			flex-wrap:nowrap;
			flex-direction: row;
			width: 100%;
			a ,
			button {
				flex:1;
			}
			.btn-class {
				width: auto;
				i {
					display: none;
				}
				height: 4.8rem;
			}
		}
	}
}