.paging {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: $spacing-3xlg auto;
	gap: $spacing-xsm;
	overflow: hidden;
	text-align: center;
	overflow-x: auto;

	a {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4.8rem;
		height: 4.8rem;
		border-radius: $radius-xsm;
		@include typo('tit-md');

		&:hover,
		&:focus {
			background-color: $bg;
			border-color: $bg;
		}
	}

	.pv {
		margin-right: $spacing-xsm;

		a {
			border: $border-primary;
		}
	}

	.fw {
		margin-left: $spacing-xsm;

		a {
			border: $border-primary;
		}
	}

	.ppv,
	.ffw {
		a {
			border: $border-primary;
		}

	}

	.txt-hide {
		position: static;
		text-indent: -9999rem;
		color: $wh;
		font-size: 0;
		width: 100%;
		height: 100%;
		clip-path: none;
	}

	li {
		&.disabled a,
		&.disabled a:hover,
		&.disabled a:focus {
			background-position: 0 0;
		}

		& a:hover,
		& a:focus {
			color: $bk;
		}

		&.ppv,
		&.ffw,
		&.pv,
		&.fw {
			a span:before,
			a span:after {
				content: "";
				position: absolute;
				display: block;
				width: 1.2rem;
				height: 1.2rem;
				box-sizing: border-box;
				border-top: .2rem solid $gr60;
				border-left: .2rem solid $gr60;
				top: 50%;
				left: 50%;
				transform-origin: left top;
			}
		}
		&.pv,
		&.fw {
			a span:after { 
				display: none;
			}
		}		

		&.pv a span:before,
		&.ppv a span:before,
		&.ppv a span:after {
			transform: rotate(-45deg);
		}

		&.fw a span:before,
		&.ffw a span:before,
		&.ffw a span:after {
			transform: rotate(135deg);
		}

		&.pv a span:before {
			margin-left: -.4rem;
		}

		&.fw a span:before {
			margin-left: .4rem;
		}

		&.ppv a span:before {
			margin-left: -.8rem;
		}

		&.ppv a span:after {
			margin-left: 0;
		}

		&.ffw a span:before {
			margin-left: 0;
		}

		&.ffw a span:after {
			margin-left: .8rem;
		}

		&.ppv a:hover span:before,
		&.ppv a:focus span:before,
		&.ffw a:hover span:before,
		&.ffw a:focus span:before,
		&.ppv a:hover span:after,
		&.ppv a:focus span:after,
		&.ffw a:hover span:after,
		&.ffw a:focus span:after,
		&.pv a:hover span:before,
		&.pv a:focus span:before,
		&.fw a:hover span:before,
		&.fw a:focus span:before {
			border-color: $bk;
		}

		&.is-active a,
		&.is-active a:hover,
		&.is-active a:focus {
			background-color: $primary;
			font-weight: 700;
			border-color: $primary;
			color: $wh;
		}
	}
}

/* -------------------------------------------------    
	- TABLET
------------------------------------------------- */
@include tablet {
}

/* -------------------------------------------------    
	- mobile
------------------------------------------------- */
@include mobile {
	/* paging */
	.paging {
		a {
			width: 3.6rem;
			height: 3.6rem;
		}

		li.pv {
			margin-right: 1vw;
		}

		li.fw {
			margin-left: 1vw;
		}
	}

	// .paging li.ppv a span:before,
	// .paging li.ffw a span:before,
	// .paging li.ppv a span:after,
	// .paging li.ffw a span:after,
	// .paging li.pv a span:before,
	// .paging li.fw a span:before {
	// 	width: 3vw;
	// 	height: 3vw;
	// }

	// .paging li.pv a span:before {
	// 	margin-left: -1vw;
	// }

	// .paging li.fw a span:before {
	// 	margin-left: 1vw;
	// }

	// .paging li.ppv a span:before {
	// 	margin-left: -3vw;
	// }

	// .paging li.ppv a span:after {
	// 	margin-left: -1vw;
	// }

	// .paging li.ffw a span:before {
	// 	margin-left: 1vw;
	// }

	// .paging li.ffw a span:after {
	// 	margin-left: 3vw;
	// }
}