/* sch */
.sch-area {
	position: relative;
	display: flex;
	@include gradient-line($stroke-sm);
	border-radius: 2.4rem;
	overflow: hidden;
	padding-right:.8rem;
}
.sch-option {
	display: flex;
	align-items: center;
	select {
		border:none;
		padding:0 $spacing-2xlg 0 $spacing-md;
		background-position: right 0 center;
	}
}
.sch {
	display: flex;
	padding: 0;
	input {
		flex: 1;
		width: 24rem;
		border:none;
	}
	.btn-sch {
		position:relative;
		display:flex;
		align-items: center;
		justify-content: center;
		width: 4.8rem;
		height: 4.8rem;
		text-indent: -99999rem;
		font-size:0;
		&::before {
			content:" ";
			@include ico($ico-md, search);
		}
	}
}
/* total-count */
.total-count {
	margin-bottom: $spacing-xsm;
}
// .sch-area+.total-count {
// 	line-height: 60rem;
// 	margin-top: -80rem;
// }

@include tablet {
	.sch-area {
		text-align: center;

		& + .total-count {
			margin-top: 0;
			line-height: 1.5;
		}
	}
}
@include mobile {
}
@include mobile-md {
	.sch-area {
		input {
			width: 100%;
		}
	}
	.sch-area {
		border:.1rem solid $gr30;
		padding:1.6rem;
		border-radius: var(--radius-lg);
		box-sizing: border-box;
		width: 100%;
	}
	.sch-option {
		width: 100%;
		flex-direction: column;
		gap:.4rem;
		select {
			width: 100%;
		}
	}
	.sch {
		width: 100%;
		input {
			width: 100%;
		}
	}
}
