.scroll-x {
	overflow-x: auto;
	table {
		width: 100%;
	}
}

table {
	img { 
		max-width: 100%;
	}
}

.list-type,
.write-type,
.write-type2,
.info-type,
.view-type {
	position:relative;
	clear:both; 
	word-break: keep-all;
	text-align: center;
	table { 
		width:100%;
		clear:both;
		border-top:$stroke-sm solid $gr80;
	}
	th,
	td {
		border-bottom:$border-primary;
		box-sizing:border-box;
		height:8rem;
		padding:1.6rem;
		text-align: center;
	}
	th {
		font-weight: 700;
		color:$fc-teriary;
	}
	td {
		color:$fc-primary;
	}
	thead {
		th {
			height:6.4rem;
		}
	}
	& + * {
		margin-top: $spacing-3xlg;
	}
	& + .bg-box,
	& + .border-box,
	& + .msg {
		margin-top: $spacing-xlg;
	}
	.ico-reply {
		display: inline-block;
		position: relative;
		width: 2.4rem;
		height: 2.4rem;
		vertical-align: middle;
		font-size:0;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 1rem;
			height: 1rem;
			border-left: $stroke-xsm solid $gr90;
			border-bottom: $stroke-xsm solid $gr90;
		}
	}
}
/* table : info-type */
.info-type {
	th {
		background-color: $gr10;
	}
	th,
	td { 
		padding:1.2rem.8rem;
		border:$border-secondary;
		height:6.4rem;
		&:first-child {
			border-left: none;
		}
		&:last-child {
			border-right: none;
		}
	}
}

/* table : list-type */
.list-type { 
	tbody {
		td { 
			&.al > a,
			p.fs-lg {
				display:inline-block;
				@include ellipsis(1);
				max-width:100%;
				width:auto;
				font-weight: 700;				
				& + .msg {
					margin-top:$spacing-xsm;
				}
			}
			&.al > a {
				cursor: pointer;
				&:hover {
					color:$primary;
				}
			}
		}
	}
	.btn-cont {
		margin:0;
	}
}

/* write-type */
.required {
	display:inline-block;
	margin-left:.2rem;
	width:.7rem;
	height:.7rem;
    animation: opacity 2s infinite alternate; 
	color: $secondary;
}
.txt-option {
	@include typo('body-sm');
}
.msg {
	@include typo('body-sm');
}
.write-type { 
	th,
	td {
		text-align:left;
	}
	th {
		border-right: $border-secondary;
	}
	td { 
		& > * {
			margin-top:$spacing-2xsm;
			margin-bottom:$spacing-2xsm;
		}
		& > :not(.block),
		& > :not(.datepicker-box) {
			margin-right:$spacing-xsm;
		}
		& > :last-child {
			margin-right:0;
		}
		.checkradio  {
			margin-right:$spacing-2xlg;
		}
	}
	input.q0  { width:10rem }
    input[type=number].q0 { width: 12rem; }
    input.q1  { width:calc((100% - 3.6rem) / 4); }
    input.q2  { width:calc((100% - .8rem) / 2); }
	input.q3  { width:calc((100% - .4rem) / 3 * 2); }
    input.q4  { width:100% }	
	
	input {
		& + .msg {
			margin-top: 0;
		}
	}
}

/* table : view-type */
.view-type {
	thead { 
		th  {
			padding:$spacing-2xlg 0;
			text-align: left;
			border-bottom: $border-primary;
			@include typo('tit-lg');
		}
		.info {
			margin-top: .4rem;
			
		}	
	}
	tbody {
		td {
			text-align: left;
			padding:2.4rem 0;
			border-bottom: $border-primary;
		}
	}
	.info {
		margin-top:$spacing-xlg;
		display: flex;
		flex-wrap: wrap;		
		gap:$spacing-xsm 0 $spacing-xsm $spacing-xlg;
		@include typo('body-md');
		dt {
			font-weight: 700;
			margin-right: $spacing-xsm;

		}
		dd {
			margin-right: $spacing-2xlg;
		}
	}
}
.file  {
	display: flex;
	flex-direction: column;
	gap:$spacing-xsm;
	a {
		display: flex;
		gap:$spacing-xsm;
		overflow: hidden;
		vertical-align: middle;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}
.view-list {
    display: flex;
	justify-content: space-between;
	gap:$spacing-md;
	li {
		display: flex;
		gap:$spacing-md;
		align-items: center;
		flex:1;
		padding:$spacing-xlg;
		border-radius: $radius-sm;
		background-color: $bg;
		overflow: hidden;
	}
	cite {
		@extend .label;
		flex:none;
	}
	a {
		@include ellipsis(1);
		flex:1;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
	.date {
		@include typo('body-sm');
	}
}
/*board reset*/
#boardContents {
	padding:4rem 0;
}
#boardContents h1,
#boardContents h2,
#boardContents h3,
#boardContents h4,
#boardContents h5,
#boardContents h6 {
	margin: initial;
	padding: initial;
	line-height: 1.8em;
}
#boardContents h1 {
	font-size: 2em;
}
#boardContents h2 {
	font-size: 1.5em;
}
#boardContents h3 {
	font-size: 1.17em;
}
#boardContents h4 {
	font-size: 1em;
}
#boardContents h5 {
	font-size: 0.83em;
}
#boardContents h6 {
	font-size: 0.67em;
}
#boardContents ol,
#boardContents ol li {
	list-style: decimal;
}
#boardContents ul,
#boardContents ul li {
	list-style: disc;
}
#boardContents img {
	max-width: 100%;
	margin: 0 auto;
}
/* -------------------------------------------------    
	- TABLET
------------------------------------------------- */
@include tablet {
	.list-type,
	.list-type.sm {
		text-align: left;
		thead {
			display: none;
		}
		col,
		thead th,
		thead td,
		tbody th,
		tbody td  {
			display: inline-block;
			width: auto;
			border: none;
			height: auto;
			min-height: 0;
			padding: 0;
			margin-bottom: .8rem;
			min-height:0;
			line-height: 1.3;
		}
		tbody {
			tr {
				display: block;
				width: 100%;
				border-bottom: .1rem solid $gr20;
				padding: 2rem 0 1.6rem;
			}
			td {
				vertical-align: middle;
				margin-right:1.6rem;
				&[data-tit]::before {
					content: attr(data-tit) " : ";
					display: inline-block;
					margin-right:.4rem;
					text-align: left;
					color:$fc-primary;
					vertical-align: middle;
					font-weight: 500;
				}
				p {
					display: inline-block;
				}
				&:last-child::after {
					display: none;
				}
				&.al {
					display: block;
					margin-right: 0;
					> a {
						font-size: var(--fs-lg);
					}
					&::after {
						display: none;
					}
				}
				&.bk {
					font-size:1.5rem;
					color:$bk;
				}
				&.pcta {
					display: none !important;
				}
				.fs-sm {
					font-size:var(--fs);
				}
			}
			.btn-cont {
				display: flex;
				justify-content: flex-start;
				text-align: left;
			}
			.m-row {
				display: block;
				text-align: left;
				padding-right:0;
				margin-right:0;
				&::after {
					display: none;
				}
			}
			.m-row-flex {
				width: 100%;
				display: flex;
				padding-right:0;
				margin-right:0;
				align-items: center;
				&[data-tit]::before {
					flex-basis: content;
					white-space: nowrap;
				}
			}
			.m-bg {
				background-color: $bg;
				border-radius: $radius-xsm;
				padding:.8rem;
				margin-top:1.2rem;
				margin-right:0;
				.btn-cont {
					justify-content: flex-end;
				}
			}
		}
		.m-row {
			&:last-child {
				margin-bottom: 0;
			}
			.btn-cont {
				background-color: $bg;
				padding:.8rem 1.2rem;
				border-radius: $radius-xsm;
				box-sizing: border-box;
				justify-content: flex-end;
			}
			.btn-sm {
				border:1rem solid $gr30;
				&.spot,
				&.spot2,
				&.spot3,
				&.spot4 {
					border:none;
				}
			}
		}
	}
	.write-type {
		th,
		td {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}

/* -------------------------------------------------    
	- mobile
------------------------------------------------- */
@include mobile {	
	/* table */
	.hdnCol1 table colgroup col:nth-child(1),
	.hdnCol2 table colgroup col:nth-child(2),
	.hdnCol3 table colgroup col:nth-child(3),
	.hdnCol4 table colgroup col:nth-child(4),
	.hdnCol5 table colgroup col:nth-child(5),
	.hdnCol6 table colgroup col:nth-child(6),
	.hdnCol7 table colgroup col:nth-child(7),
	.hdnCol8 table colgroup col:nth-child(8),
	.hdnCol9 table colgroup col:nth-child(9),
	.hdnCol10 table colgroup col:nth-child(10),
	.hdnCol1 table tr th:nth-child(1),
	.hdnCol2 table tr th:nth-child(2),
	.hdnCol3 table tr th:nth-child(3),
	.hdnCol4 table tr th:nth-child(4),
	.hdnCol5 table tr th:nth-child(5),
	.hdnCol6 table tr th:nth-child(6),
	.hdnCol7 table tr th:nth-child(7),
	.hdnCol8 table tr th:nth-child(8),
	.hdnCol9 table tr th:nth-child(9),
	.hdnCol10 table tr th:nth-child(10),
	.hdnCol1 table tr td:nth-child(1),
	.hdnCol2 table tr td:nth-child(2),
	.hdnCol3 table tr td:nth-child(3),
	.hdnCol4 table tr td:nth-child(4),
	.hdnCol5 table tr td:nth-child(5),
	.hdnCol6 table tr td:nth-child(6),
	.hdnCol7 table tr td:nth-child(7),
	.hdnCol8 table tr td:nth-child(8),
	.hdnCol9 table tr td:nth-child(9),
	.hdnCol10 table tr td:nth-child(10) {
		display: none
	}

	// table {
	// 	th,
	// 	td {
	// 		font-size: 13rem;
	// 	}
	// }

	div[class$=type] {
		& + * {
			margin-top: 4rem;
		}

		& + .btn-cont,
		& + .paging,
		& + .bullet {
			margin-top: 2rem;
		}
	}

	.table-tit {
		font-size: 1.5rem;
	}

	.list-type {
		font-size:1.2rem;
		tbody {
			tr {
				padding: 1.2rem 0;
			}
			td {
				&.al {
					margin-right: 0;
					> a {
						font-size: 1.4rem;
					}
				}
			}
		}
	}
	.msg {
		font-size: var(--fs-sm);
	}
	.write-type {
		table {
			table-layout: auto;
			overflow: hidden;
			col,
			colgroup {
				display: none;
			}
			th,
			td {
				display: block;
				width: 100%;
				height: auto;		
				border: none;
				line-height: 1.33;
				text-align: left;
				box-sizing: border-box;
				overflow: hidden;
			}
			th {
				padding: 1.2rem;
			}

			td {
				padding: .8rem 0;
				border-bottom: .1rem solid $gr20;
			}
			.btn {
				height:4rem;
				line-height: 3.8rem;
			}
		}
	}
	.write-type2 {
		table {
			tr {
				padding:1.2rem 0;
			}
			th {
				padding:.8rem 0 0;
			}
			td {
				padding:.4rem 0;
			}
		}
	}
	/* table : view-type */
	#boardContents {
		padding: 2rem 0;
	}
	.view-type {
		thead {
			th {
				padding:2.4rem 0;
				font-size:1.6rem;
				font-weight: 600;
			}
		}
	}
}